.compare-item-travel {
  padding-top: 144px;
}

@media (max-width: 1199.98px) {
  .compare-item-travel {
    padding-top: 132px;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .compare-item-travel {
    padding-top: 132px;
  }
}
