<!-- 國內 -->
<ng-container *ngIf="xAbroad; else ly_else">
  <div class="travel-guarantee">
    <div class="table-compare">
      <div class="compare-item mb-item compare-item-travel">
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0001 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <!-- <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0002 }}</div>
          </div>
          <div class="col"></div>
        </div> -->
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0003 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0004 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0005 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0006 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0007 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0008 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0009 }}</div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="compare-price-box">
        <!-- 第一張卡 -->
        <div
          [class.active]="xPlan === 1"
          class="compare-price one"
          data-program="silver"
        >
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLang.L0010 }}</h5>
              <div class="price">
                {{ xTravelCalcList[0].people_amt | thousands }}<span>đ</span>
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
          </div>
          <div class="compare-price-down">
            <button class="btn btn-orange" (click)="checkPlan(1)">
              {{ FLang.L0013 }}
            </button>
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('v1')"
            >
              {{ FLang.L0021 }}
            </div>
            <div class="down mt-2" *ngIf="xIsShop" (click)="download(0, 1)">
              {{ FLang.L0054 }}<i class="icons-ic-download-grey i-icon"></i>
            </div>
          </div>
        </div>
        <!-- 第二章卡 -->
        <div
          [class.active]="xPlan === 2"
          class="compare-price two active"
          data-program="gold"
        >
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLang.L0014 }}</h5>
              <div class="price">
                {{ xTravelCalcList[1].people_amt | thousands }}<span>đ</span>
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 1000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 5000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 50000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 50000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 50000000 | numberSuffix: FLangType }}</div>
            </div>
          </div>
          <div class="compare-price-down">
            <button class="btn btn-orange" (click)="checkPlan(2)">
              {{ FLang.L0016 }}
            </button>
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('t44')"
            >
              {{ FLang.L0017 }}
            </div>
            <div class="down mt-2" *ngIf="xIsShop" (click)="download(1, 1)">
              {{ FLang.L0054 }}<i class="icons-ic-download-grey i-icon"></i>
            </div>
          </div>
        </div>
        <!-- 第三張卡 -->
        <div
          class="compare-price three"
          [class.active]="xPlan === 3"
          data-program="platinum"
        >
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLang.L0018 }}</h5>
              <div class="price">
                {{ xTravelCalcList[2].people_amt | thousands }}<span>đ</span>
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 1000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 5000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
          </div>
          <div class="compare-price-down">
            <button class="btn btn-orange" (click)="checkPlan(3)">
              {{ FLang.L0020 }}
            </button>
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('t44v1')"
            >
              {{ FLang.L0021 }}
            </div>
            <div class="down mt-2" *ngIf="xIsShop" (click)="download(1, 1)">
              {{ FLang.L0054 }}<i class="icons-ic-download-grey i-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 小版 -->
    <div class="guarantee-mob">
      <div class="navtab slickcard-navtab">
        <div class="slickcard slider stepcard">
          <div  class="compare-price" data-program="silver">
            <a class="nav-link" [class.active]="xPlan === 1">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLang.L0024 }}</h5>
                  <div class="price">
                    {{ xTravelCalcList[0].people_amt | thousands
                    }}<span>đ</span>
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLang.L0023 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLang.L0026 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLang.L0027 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0028 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0029 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0030 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0031 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0032 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0033 }}</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <button class="btn btn-orange" (click)="checkPlan(1)">
                    {{ FLang.L0022 }}
                  </button>
                  <div
                    class="comm"
                    (click)="changeComponent('v1')"
                    data-toggle="modal"
                    data-target="#Modal-01"
                  >
                    {{ FLang.L0021 }}
                  </div>
                  <div
                    class="down mt-2"
                    *ngIf="xIsShop"
                    (click)="download(0, 1)"
                  >
                    {{ FLang.L0054
                    }}<i class="icons-ic-download-grey i-icon"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div  class="compare-price" data-program="gold">
            <a class="nav-link" [class.active]="xPlan === 2">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLang.L0014 }}</h5>
                  <div class="price">
                    {{ xTravelCalcList[1].people_amt | thousands
                    }}<span>đ</span>
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLang.L0034 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td [innerHTML]="FLang.L0035"></td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLang.L0036 }}</td>
                      <td>{{ 1000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0037 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0038 }}</td>
                      <td>{{ 5000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0039 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0040 }}</td>
                      <td>{{ 50000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0041 }}</td>
                      <td>{{ 50000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0042 }}</td>
                      <td>{{ 50000000 | numberSuffix: FLangType }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <button class="btn btn-orange" (click)="checkPlan(2)">
                    {{ FLang.L0022 }}
                  </button>
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('t44')"
                  >
                    {{ FLang.L0021 }}
                  </div>
                  <div
                    class="down mt-2"
                    *ngIf="xIsShop"
                    (click)="download(1, 1)"
                  >
                    {{ FLang.L0054
                    }}<i class="icons-ic-download-grey i-icon"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div  class="compare-price" data-program="platinum">
            <a class="nav-link three" [class.active]="xPlan === 3">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLang.L0043 }}</h5>
                  <div class="price">
                    {{ xTravelCalcList[2].people_amt | thousands
                    }}<span>đ</span>
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLang.L0034 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td [innerHTML]="FLang.L0035"></td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLang.L0036 }}</td>
                      <td>{{ 1000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0037 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0038 }}</td>
                      <td>{{ 5000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0039 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0040 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0041 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0042 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <button class="btn btn-orange" (click)="checkPlan(3)">
                    {{ FLang.L0022 }}
                  </button>
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('t44v1')"
                  >
                    {{ FLang.L0021 }}
                  </div>
                  <div
                    class="down mt-2"
                    *ngIf="xIsShop"
                    (click)="download(1, 1)"
                  >
                    {{ FLang.L0054
                    }}<i class="icons-ic-download-grey i-icon"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="down-outer">{{ FLang.L0063 }}</div>
</ng-container>
<!-- 國外 -->
<ng-template #ly_else>
  <div class="travel-guarantee">
    <div class="table-compare">
      <div class="compare-item mb-item compare-item-travel">
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0001 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <!-- <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0002 }}</div>
          </div>
          <div class="col"></div>
        </div> -->
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0003 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0004 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0005 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0006 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0007 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0008 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0009 }}</div>
          </div>
          <div class="col"></div>
        </div>

        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0054 }}</div>
          </div>
          <div class="col"></div>
        </div>

        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0055 }}</div>
          </div>
          <div class="col"></div>
        </div>

        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0056 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLang.L0057 }}</div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="compare-price-box">
        <!-- 第一章卡 -->
        <div
          [class.active]="xPlan === 4"
          class="compare-price one"
          data-program="silver"
        >
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLang.L0010 }}</h5>
              <div class="price">
                {{ xTravelCalcList[0].people_amt | thousands }}<span>đ</span>
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 400000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 400000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 2500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 400000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div><i class="icons-ic-table-check-b i-icon"></i></div>
            </div>
          </div>
          <div class="compare-price-down">
            <button class="btn btn-orange" (click)="checkPlan(4)">
              {{ FLang.L0013 }}
            </button>
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('W1')"
            >
              {{ FLang.L0021 }}
            </div>
          </div>
        </div>
        <!-- 第二章卡 -->
        <div
          [class.active]="xPlan === 5"
          class="compare-price two active"
          data-program="gold"
        >
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLang.L0014 }}</h5>
              <div class="price">
                {{ xTravelCalcList[1].people_amt | thousands }}<span>đ</span>
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 2500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div><i class="icons-ic-table-check-b i-icon"></i></div>
            </div>
          </div>
          <div class="compare-price-down">
            <button class="btn btn-orange" (click)="checkPlan(5)">
              {{ FLang.L0016 }}
            </button>
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('W2')"
            >
              {{ FLang.L0017 }}
            </div>
          </div>
        </div>
        <!-- 第三張卡 -->
        <div
          class="compare-price three"
          [class.active]="xPlan === 6"
          data-program="platinum"
        >
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLang.L0018 }}</h5>
              <div class="price">
                {{ xTravelCalcList[2].people_amt | thousands }}<span>đ</span>
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 3200000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 3200000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 160000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 2500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div><i class="icons-ic-table-check-b i-icon"></i></div>
            </div>
          </div>
          <div class="compare-price-down">
            <button class="btn btn-orange" (click)="checkPlan(6)">
              {{ FLang.L0020 }}
            </button>
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('W7')"
            >
              {{ FLang.L0021 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 小版 -->
    <div class="guarantee-mob">
      <div class="navtab slickcard-navtab">
        <div class="slickcard slider stepcard">
          <div class="compare-price" data-program="silver">
            <a class="nav-link" [class.active]="xPlan === 4">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLang.L0024 }}</h5>
                  <div class="price">
                    {{ xTravelCalcList[0].people_amt | thousands
                    }}<span>đ</span>
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLang.L0023 }}</td>
                      <td>{{ 400000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLang.L0026 }}</td>
                      <td>{{ 400000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLang.L0027 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0028 }}</td>
                      <td>
                        {{ 2500000 | numberSuffix: FLangType }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0029 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0030 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0031 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0032 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0033 }}</td>
                      <td>{{ 400000000 | numberSuffix: FLangType }}</td>
                    </tr>

                    <tr>
                      <td>{{ FLang.L0058 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0059 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0060 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0057 }}</td>
                      <td><i class="icons-ic-table-check-b i-icon"></i></td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <button class="btn btn-orange" (click)="checkPlan(4)">
                    {{ FLang.L0022 }}
                  </button>
                  <div
                    class="comm"
                    (click)="changeComponent('W1')"
                    data-toggle="modal"
                    data-target="#Modal-01"
                  >
                    {{ FLang.L0021 }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="compare-price" data-program="gold">
            <a class="nav-link" [class.active]="xPlan === 5">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLang.L0014 }}</h5>
                  <div class="price">
                    {{ xTravelCalcList[1].people_amt | thousands
                    }}<span>đ</span>
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLang.L0023 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLang.L0026 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLang.L0027 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0028 }}</td>
                      <td>
                        {{ 2500000 | numberSuffix: FLangType }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0029 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0030 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0031 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0032 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0033 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr>

                    <tr>
                      <td>{{ FLang.L0058 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0059 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0060 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0057 }}</td>
                      <td><i class="icons-ic-table-check-b i-icon"></i></td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <button class="btn btn-orange" (click)="checkPlan(5)">
                    {{ FLang.L0022 }}
                  </button>
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('W2')"
                  >
                    {{ FLang.L0021 }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="compare-price" data-program="platinum">
            <a class="nav-link three" [class.active]="xPlan === 6">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLang.L0043 }}</h5>
                  <div class="price">
                    {{ xTravelCalcList[2].people_amt | thousands
                    }}<span>đ</span>
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLang.L0023 }}</td>
                      <td>-</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLang.L0026 }}</td>
                      <td>-</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLang.L0027 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0028 }}</td>
                      <td>
                        {{ 2500000 | numberSuffix: FLangType }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0029 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0030 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0031 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0032 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0033 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr>

                    <tr>
                      <td>{{ FLang.L0058 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0059 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0060 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLang.L0057 }}</td>
                      <td><i class="icons-ic-table-check-b i-icon"></i></td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <button class="btn btn-orange" (click)="checkPlan(6)">
                    {{ FLang.L0022 }}
                  </button>
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('W7')"
                  >
                    {{ FLang.L0021 }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="down-outer">{{ FLang.L0063 }}</div>
</ng-template>
