<div
  class="modal fade notice"
  id="alter"
  tabindex="-1"
  aria-labelledby="ModalLabel-38"
  aria-hidden="false"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body word-all">
        <div class="modal-body-img">
          <i
            *ngIf="type === 'success'"
            class="icons-ic-status-check i-icon"
          ></i>
          <i *ngIf="type === 'info'" class="icons-ic-status-file-g i-icon"></i>
          <i
            *ngIf="type === 'warning'"
            class="icons-ic-status-error i-icon"
          ></i>
          <i *ngIf="type === 'file'" class="icons-ic-status-file i-icon"></i>
          <i *ngIf="type === 'error'" class="icons-ic-status-wrong i-icon"></i>
        </div>

        <div class="modal-body-content align-justify">
          <h5>{{ title }}</h5>
          <p class="judge_height" [innerHTML]="content"></p>
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
              (click)="doClose()"
            >
              {{ submitTitle }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
