<div class="service-message-box">
  <div class="service-insurance notice">
    <div class="service-top">
      <div class="justify-content-start mr-auto">
        <div>{{ FLang.F001.L0015 }}</div>
      </div>
      <div *ngIf="cardList.length > 0">
        <a href="member/important-notice">{{ FLang.F001.L0016 }}</a>
      </div>
    </div>
    <div *ngIf="!!cardList.length" class="service-notice">
      <div
        class="service-row click-notice"
        *ngFor="let item of cardList; let id = index"
        data-toggle="modal"
        data-target="#Modal-19"
        (click)="getNoticeDetail(id)"
      >
        <a>
          <div
            class="meta d-flex flex-column flex-lg-row align-items-start align-items-lg-center"
          >
            <label class="label is-green text-left mb-1 mb-lg-0">{{
              item.tag
            }}</label>
            <span class="public_at keep-same-line">{{
              item.create_date | cDate: "HH:mm DD/MM/YYYY":"HH:mm YYYY/MM/DD"
            }}</span>
          </div>
          <p [innerHTML]="item.contentView" class="text_overflow ios_display"></p>
        </a>
        <hr />
      </div>
    </div>
    <div *ngIf="!cardList.length" class="service-notice no-notice">
      <div class="text-center">
        <i class="icons-ic-empty i-icon"></i>
        <div class="mt-3">{{ FLang.F001.L0024 }}</div>
      </div>
    </div>
  </div>
</div>
