.click-notice {
  cursor: pointer;
}
.notice {
  width: 100%;
}
.no-notice {
  display: flex;
  height: calc(100% - 78px);
  justify-content: center;
  align-items: center;
}

::ng-deep.ios_display {
  div{
    display: inline;
  }
  a{
    display: inline !important;
  }
}
