<div class="com-book-l-bg">
  <img
    src="assets/img/commodity/bg-product-bubble-1.png"
    alt=""
    srcset="assets/img/commodity/bg-product-bubble-1@2x.png 2x"
    class="d-none d-lg-block"
  />
</div>
<div class="com-book-r-bg">
  <img
    src="assets/img/commodity/bg-product-bubble-2.png"
    alt=""
    srcset="assets/img/commodity/bg-product-bubble-2@2x.png 2x"
    class="d-none d-lg-block"
  />
</div>
