<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ FLang.L0001 }}</h3>
      <i
        class="icons-ic-popup-close i-icon close"
        data-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
    <div class="modal-body modal-title-20">
      <h3 class="modal-body-title">{{ FLang.L0002 }}</h3>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0003 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0004 }}</h4>
          </div>
        </div>
        <div
          class="detail-card-content custom_text_align"
          [innerHtml]="FLang.L0005"
        ></div>
      </div>

      <!-- <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0006 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0007 }}</h4>
          </div>
        </div>
        <div class="detail-card-content">
          {{ FLang.L0008 }}
        </div>
      </div> -->
    </div>
  </div>
</div>
