.btn {
  min-width: 180px;
}
// @media (max-width: 768px) {
//   .btn {
//     min-width: 150px;
//   }
// }
@media (max-width: 500px) {
  .btn {
    min-width: 150px;
  }
}
@media (max-width: 450px) {
  .btn {
    min-width: 130px;
  }
}
@media (max-width: 400px) {
  .btn {
    min-width: 100px;
  }
}
