.card-text {
  min-height: 48px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.dropdown.disabled {
  pointer-events: none;

  .btn {
    background-image: none;
  }
}

::ng-deep .date1 {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
}

.icon {
  width: 90%;
}
