<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-claim.png"
              alt=""
              srcset="assets/img/img-bn-claim@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-claim-m.png"
              alt=""
              srcset="assets/img/img-bn-claim-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>

      <div class="caption">
        <div class="container">
          <h1>{{ FLang.F05.F0051 }}</h1>
        </div>
      </div>
      <section class="sectLg service-inform-guarantee">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data mb-0">
            <div class="title">{{ FLang.F05.F0052 }}</div>
            <ng-container *ngIf="!FIsLogin; else ly_login">
              <!-- *ngIf="FIsLogin; eles: lyLogin">> -->
              <div class="explain-center">
                <p class="text-sm-center text-gray mb-20">
                  {{ FLang.F05.F0053 }}
                </p>
              </div>
              <div class="text-center">
                <a (click)="goLogin()" class="btn btn-primary">
                  {{ FLang.F05.F0054 }}
                </a>
              </div>
            </ng-container>
            <form>
              <ng-template #ly_login>
                <div class="advisory-content">
                  <div class="adv-box-item">
                    <div class="renew mr-0 ml-0" *ngIf="FPolicyQty > 0">
                      <a (click)="gofastClaim()">
                        <div class="mr-auto icon">
                          {{ FLang.F05.F0055 }}
                          <span class="text-orange">{{ FPolicyQty }}</span>
                          <span *ngIf="FPolicyQty <= 1">
                            {{ FLang.F05.F0056 }}
                          </span>
                          <span *ngIf="FPolicyQty > 1">
                            {{ FLang.F05.F0071 }}
                          </span>
                        </div>
                        <i class="icons-ic-arrow-l-o i-icon"></i>
                      </a>
                    </div>
                    <div
                      class="form-group icon-date"
                      [class.status-error]="FError"
                    >
                      <app-datepicker
                        label="{{ FLang.F05.F0058 }}"
                        placeholder="{{ FLang.F05.F0072 }}"
                        (getDate)="getDate($event)"
                        [config]="{
                          maxDate: FMaxDate,
                          minDate: FMinDate
                        }"
                        [value]="FDateValue"
                        [xReadonly]="FReadonly"
                      ></app-datepicker>
                      <small class="form-text">{{ FError }}</small>
                    </div>
                    <div class="select-search simple mb-2">
                      <div class="form-group dropdown">
                        <button
                          class="btn dropdown-toggle w-100"
                          type="button"
                          id="dropdownFilter"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <div class="filterActiveText">
                            <span *ngIf="FTimeIndex < 0" class="text-gray-gr">{{
                              FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS002
                            }}</span>

                            <div *ngIf="FTimeIndex >= 0">
                              {{ FTimeList[FTimeIndex].option }}
                            </div>
                          </div>
                        </button>
                        <div
                          class="dropdown-menu w-100 filter tab"
                          aria-labelledby="dropdownFilter"
                        >
                          <a
                            *ngFor="let item of FTimeList; let i = index"
                            class="dropdown-item"
                            (click)="onTimeClick(i)"
                          >
                            {{ item.option }}
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="select-search simple">
                      <label>{{ FLang.F05.F0059 }}</label>
                      <div class="dropdown disabled">
                        <button
                          class="btn dropdown-toggle w-100"
                          type="button"
                          id="dropdownFilter"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <!-- 這只能旅遊險阿 ? -->
                          <!-- <div class="filterActiveText">
                          <span class="text-gray-gr">請選擇險種</span>
                        </div> -->
                          <div class="filterActiveText">
                            {{ FLang.F05.F0002 }}
                          </div>
                        </button>
                        <div
                          class="dropdown-menu w-100 filter tab"
                          aria-labelledby="dropdownFilter"
                        >
                          <a class="dropdown-item">{{ FLang.F05.F0002 }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a (click)="gonormalClaim()" class="btn btn-primary">
                      {{ FLang.F05.F0003 }}
                    </a>
                  </div>
                </div>
              </ng-template>
            </form>
          </div>
        </div>
        <div class="container service-introduce">
          <div class="bg-white-block form-data total-from">
            <div class="total-link-left d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-link-right d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="introduce introduce-bg">
              <div class="title" [innerHTML]="FLang.F09.L0065"></div>
              <div class="introduce-box">
                <h3>{{ FLang.F09.L0072 }}</h3>
                <div class="row no-gutters">
                  <div
                    class="col-6 col-md-3 col-lg-3"
                    *ngFor="let item of FNormalList; let i = index"
                  >
                    <a (click)="doNormalInfo(i)">
                      <div class="service-ins-kind">
                        <img
                          [src]="'assets/img/img-claim-' + item.img + '.png'"
                          alt=""
                          [srcset]="
                            'assets/img/img-claim-' + item.img + '@2x.png 2x'
                          "
                          class="img-fluid"
                        />
                        <div class="service-ins-item">
                          <div
                            class="d-inline-block card-text"
                            [innerHTML]="item.name"
                          ></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <hr />
                <h3>{{ FLang.F09.L0073 }}</h3>
                <div class="row no-gutters">
                  <div
                    class="col-6 col-md-3 col-lg-3"
                    *ngFor="let item of FBusinessList; let i = index"
                  >
                    <a (click)="doBusinessInfo(i)">
                      <div class="service-ins-kind">
                        <img
                          [src]="'assets/img/img-claim-' + item.img + '.png'"
                          alt=""
                          [srcset]="
                            'assets/img/img-claim-' + item.img + '@2x.png 2x'
                          "
                          class="img-fluid"
                        />
                        <div class="service-ins-item">
                          <div
                            class="d-inline-block card-text"
                            [innerHTML]="item.name"
                          ></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<div
  class="modal fade"
  id="modelFast"
  tabindex="-1"
  aria-labelledby="ModalLabel-07"
  aria-hidden="true"
>
  <ng-container #cfastpair></ng-container>
</div>

<!-- Modal-24 -->
<div
  class="modal fade notice"
  id="noPolicy"
  tabindex="-1"
  aria-labelledby="ModalLabel-24"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content">
          <h5>{{ FLang.F05.F0064 }}</h5>
          <p [innerHtml]="FLang.F05.F0066">
            <a href="tel:0933-555-920" class="phone">0933-555-920</a><br />
            {{ FLang.F05.F0067 }}
          </p>
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
            >
              {{ FLang.AlertButton.A0001 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
