%form-line {
  border: 2px solid $grey-input-line;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

%icon-centent {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.bookmark-top {
  -webkit-box-shadow: 0 3px 4px 0 rgba(174, 182, 189, 0.48);
  box-shadow: 0 3px 4px 0 rgba(174, 182, 189, 0.48);
  background-color: $white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 1035;
  transition: all 0.3s ease;
  transform: translateY(-100%);
  padding: 0px 20px;

  ul {
    text-align: center;
    display: block;
    margin: 0px auto;
    padding: 0;

    li {
      font-weight: 500;
      font-size: 1.125rem;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      display: inline-block;

      .nav-link {
        color: $black;
        padding: 0;
        border-radius: 0.25rem;
        padding: 14px 15px;
        font-size: 1rem;
        background-color: #ffffff;
        font-weight: 500;
      }
    }
  }

  &.show {
    transform: translateY(0%);
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: $green;
    background-color: $white;
  }
}

.map-mark {
  padding-top: 50px;
  margin-top: -50px;
}

.topbg {
  position: relative;
  margin: 0px auto;

  .topbg-box {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;

    .top-bg-story {
      width: 1253px;
      height: 352px;
      margin-left: calc(50% - 190px);
    }

    .top-bg-scrap {
      margin-top: -60px;
      margin-left: calc(50% - 938px);
      width: 484px;
      height: 359px;
    }
  }
}

.bookmark {
  margin-bottom: 150px;

  &.helper-top {
    padding-top: 120px;
  }

  .caption {
    margin: 0;

    .search-box {
      max-width: 900px;
      margin: 0px auto;

      .input-search {
        margin-bottom: 0px;
      }
    }
  }

  hr {
    border-top: 1px solid $grey-light-left;
    margin: 30px 0px;
  }

  .tab-pane {
    border: 1px solid $grey-helper-line;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    padding: 40px;
    box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
    background-color: $grey-hel-bg;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: $white;
    background-color: $green-middle;
    border: 1px solid $green-middle;
  }

  ul {
    padding: 0px 95px;

    li {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;

      .nav-link {
        padding: 16px 20px;
        font-size: 1.5rem;
        border: 1px solid $grey-hel-tab;
        background-color: $white;
        color: $grey-deep;
        margin: 0px 10px;
        border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
        -ms-border-radius: 20px 20px 0px 0px;
        -o-border-radius: 20px 20px 0px 0px;
      }
    }
  }

  ul.labels {
    padding: 0;
    border-bottom: 0px;
  }

  .tab-link {
    cursor: pointer;

    .tab-title {
      position: relative;

      h4 {
        color: $black;
        padding-right: 20px;
        margin-bottom: 0px;
      }

      i {
        position: absolute;
        right: 0px;
        top: 8px;
      }

      .img-collapse {
        position: absolute;
        right: 0px;
        top: 2px;
      }

      .img-collapse-add {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }

    .i-up {
      display: inline-block;
    }

    .i-down {
      display: none;
    }
  }

  .collapsed {
    .i-up {
      display: none;
    }

    .i-down {
      display: inline-block;
    }
  }

  .tab-row-content {
    .tab-item-box {
      margin-bottom: 50px;

      .tab-card {
        -webkit-box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.5);
        box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.5);
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: $white;

        h4 {
          font-weight: 500;
        }

        .num {
          font-size: 1.25rem;
          line-height: 1.4;
        }

        p {
          line-height: 1.75;
          margin-bottom: 0px;
        }

        .answer {
          line-height: 1.75;
          margin-bottom: 0px;

          ol {
            padding: 0;
            margin-left: 22px;

            li {
              text-align: left;
            }
          }
        }

        .tab-link {
          padding: 24px 18px 24px 24px;
        }

        .que-body {
          padding: 0px 56px 30px 24px;

          .num {
            font-size: 16px;
            line-height: 1.8;
          }
        }
      }
    }
  }

  .bm-sidebar {
    max-width: 260px;
    margin-right: 5px;

    .tab-card {
      margin-bottom: 20px;
    }

    h4 {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 28px;
        background-color: $green-middle;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
      }
    }

    ul {
      padding: 17px 0px 20px;

      li {
        display: block;
        text-align: left;
        cursor: pointer;
        padding: 8px 15px;

        &:hover {
          color: $green;
          @extend %a-link;
        }

        &.active {
          background-color: $green-middle;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          color: $white;
        }
      }
    }
  }

  .drop-box .tab-link .tab-title i {
    top: 2px;
  }

  .advisory {
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    box-shadow: inherit;
    border: 0px;
    background-color: inherit;
    padding: 0;

    .advisory-content {
      border: 1px solid $grey-helper-line;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      padding: 50px 40px 50px;
      box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
      background-color: $white;
      margin-bottom: 40px;
    }
  }
}

.adv-box-item {
  max-width: 780px;
  margin: 0px auto;

  label {
    margin-bottom: 5px;
    font-size: 0.875rem;
  }

  .form-group {
    margin-bottom: 30px;

    .from-row {
      position: relative;

      .icons-ic-date {
        display: inline-block;
      }

      .icons-ic-date-disabled {
        display: none;
      }

      &.disabled {
        .icons-ic-date {
          display: none;
        }

        .icons-ic-date-disabled {
          display: inline-block;
        }
      }

      .message {
        position: absolute;
        right: 16px;
        top: 50%;
        color: $red;
        font-weight: 500;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
      }
    }

    i {
      cursor: pointer;
      @extend %icon-centent;
      display: none;

      &.icons-ic-menu-arrow-down-black {
        right: 10px;
      }
    }

    .form-text {
      color: $red;
      font-size: 0.875rem;
      // display: none;
    }

    .form-control {
      min-height: 54px;
      padding: 14px 50px 14px 18px;
      @extend %form-line;

      &:focus {
        box-shadow: inherit;
        border: 2px solid $green-middle;
      }
    }

    &.status-error {
      .form-control {
        border: 2px solid $red;
        padding-right: 50px;
      }

      i {
        display: inline-block;
      }

      .form-text {
        display: block;
      }
    }

    .icons-refresh {
      display: block;
      position: inherit;
      transform: inherit;
      -webkit-transform: inherit;
      -moz-transform: inherit;
      -ms-transform: inherit;
      -o-transform: inherit;
    }

    &.prove {
      input {
        min-width: 375px;
      }

      img {
        margin-left: 10px;
        margin-right: 17px;
      }
    }

    .remark {
      margin-top: 10px;
    }

    .add-id {
      text-align: right;
      color: $green;

      i {
        display: inline-block;
        position: inherit;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
      }
    }

    .again {
      font-weight: 400;
      padding: 3px 10px;
      min-width: 98px;
      cursor: pointer;
      line-height: initial;
    }

    &.status-error-extend {
      border: 2px solid #f9556f;
      border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    .status-error-extend {
      border: 2px solid #f9556f;
      border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }

  .form-textarea {
    textarea {
      @extend %form-line;
      min-height: 150px;
      padding: 17px 18px;
      margin-bottom: 30px;

      &:focus {
        border: 2px solid $green-middle;
      }
    }
  }

  .choose,
  .form-textarea {
    label {
      margin-bottom: 15px;
    }
  }

  .choose {
    margin-bottom: 15px;
  }

  .carbrand {
    width: 13%;
  }
}

.select-row {
  margin-bottom: 30px;
}

.drop-select {
  position: relative;

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;

    button {
      margin: 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border: 2px solid $grey-input-line;
      box-shadow: inherit;
      -webkit-box-shadow: inherit;

      &:active {
        background-color: inherit;
      }

      &:focus {
        outline: none !important;
      }
    }

    &.show {
      button {
        border: 2px solid $green-middle;
      }
    }
  }

  i {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
  }

  .btn-light:not(:disabled):not(.disabled):active,
  .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    color: #000;
    background-color: $white;
    border-color: inherit;
  }

  .bootstrap-select .dropdown-toggle .filter-option {
    height: auto;
  }

  .bs-searchbox .form-control {
    border: 0px;
  }

  .form-control:focus {
    color: $black;
    background-color: $white;
    border-color: inherit;
    border: 0px;
    outline: 0;
    box-shadow: inherit;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $bg-grey;
  }

  .dropdown .dropdown-item.active:hover {
    background-color: $bg-grey;
  }

  .dropdown-header {
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    color: $green-shadow;
    font-weight: 500;
  }

  &.area {
    .dropdown-menu li a.opt {
      padding-left: 1.5rem;
    }
  }

  .bootstrap-select .dropdown-menu.inner {
    max-height: 220px;
  }
}

.about-top {
  margin-top: 250px;
}

.about-cathay {
  margin-bottom: 100px;
  margin-top: 58px;

  p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.67;
  }

  .about-article {
    margin-left: 50px;
  }
}

.about-operate {
  position: relative;
  background-image: url(../img/bg-about@2x.png);
  background-size: 1929px 478px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0px;
  margin-top: 190px;

  .operate-people {
    position: absolute;
    top: 15px;
    left: 50%;
    margin: 0px auto;
    width: 800px;
    height: 186px;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.about-map {
  margin-top: 60px;
  margin-bottom: 100px;
  position: relative;

  .painting {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      margin-left: calc(50% - 90px);
    }
  }

  ul.labels {
    li {
      margin-bottom: 16px;
    }
  }

  .map-box {
    margin-left: 20px;
    min-height: 435px;
  }
}

.map {
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

.map-card {
  position: relative;
  padding: 26px 30px 30px 38px;
  background-color: $white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-top: 24px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: $green-light;
  }

  h4 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .map-infor {
    margin-top: 16px;

    p {
      margin-bottom: 10px;

      a {
        color: $white;
        text-decoration: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.map-row {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.jobcard {
  .nav-link {
    background-color: $white;
    -webkit-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 15px;
    padding: 20px 30px 27px;
    width: 100%;
  }

  h4 {
    color: $black;
    position: relative;
    padding-left: 17px;
    margin-bottom: 14px;
    min-height: 56px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      height: 24px;
      width: 5px;
      top: 1px;
      left: 0;
      background-color: $orange;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
    }
  }

  a {
    color: $grey-deep;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0.3s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);

    &:hover,
    &:active,
    &:focus {
      color: $grey-deep;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateY(-15px) translateZ(0);
      transform: translateY(-15px) translateZ(0);
      -moz-transform: translateY(-15px) translateZ(0);
      -ms-transform: translateY(-15px) translateZ(0);
      -o-transform: translateY(-15px) translateZ(0);
    }
  }

  .address {
    margin-bottom: 15px;

    i {
      margin-right: 10px;
      margin-bottom: 3px;
    }
  }

  .explain {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    max-height: 48px;
    min-height: 40px;
  }

  &.slick-slider {
    overflow: hidden;
  }
}

.postjob {
  position: relative;
  padding: 20px 0 30px;

  &::before {
    content: "";
    position: absolute;
    background-color: $green-middle;
    height: 192px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.joblist {
  padding-top: 130px;
  margin-bottom: 150px;

  .jobcard {
    .nav-link {
      margin: 15px auto;
    }
  }

  .dropdown {
    margin-bottom: 5px;
  }

  ul.labels {
    margin-bottom: 15px;
  }
}

.jobdetails {
  margin-top: 230px;
  margin-bottom: 150px;

  .jobbox {
    padding: 50px 90px;
    margin-bottom: 50px;

    h3 {
      position: relative;
      margin-bottom: 0;
      padding-left: 22px;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 30px;
        left: 0;
        top: -2px;
        background-color: $orange;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }
    &.web-map {
      .web-map-content {
        padding: 0px 22px;
      }
      h3 {
        padding-bottom: 30px;
        &::before {
          background-color: $green-middle;
        }
      }
      h5 {
        margin-bottom: 20px;
      }
      hr {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      a {
        display: block;
        color: $black;
        padding-bottom: 12px;
        padding-right: 10px;
        &:hover {
          color: $green;
        }
        &:last-child {
          padding-bottom: 0px;
        }
      }
    }
    hr {
      margin-top: 30px;
      margin-bottom: 40px;
    }

    h5 {
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0px;
    }

    ul {
      padding-left: 28px;

      li {
        list-style: disc;
      }
    }

    /* DivTable.com */
    .oneTable {
      display: table;
      width: 100%;
    }

    .TableRow {
      display: table-row;

      .TableCell:first-child {
        width: 94px;
        padding-left: 0px;
      }

      &:last-child {
        .TableCell {
          padding-bottom: 0px;
        }
      }
    }

    .TableHeading {
      display: table-header-group;
    }

    .TableCell,
    .TableHead {
      display: table-cell;
      padding: 0px 10px 30px;
    }

    .TableHeading {
      display: table-header-group;
      font-weight: bold;
    }

    .TableFoot {
      display: table-footer-group;
      font-weight: bold;
    }

    .TableBody {
      display: table-row-group;
    }
  }
}

.banner-img-center {
  width: 100%;
  overflow: hidden;
  // cursor: pointer;

  img {
    width: 1920px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.bookmark {
  .second-tab {
    max-width: 640px;
    margin: 0px auto;
    padding: 0;
  }
}

.bookmark .tab-pane.bg-commodity {
  background-color: $white;
  box-shadow: 0 10px 20px 3px rgba(182, 182, 182, 0.4);

  ul {
    border-bottom: 0px;
    bottom: -10px;

    &.secure {
      padding: 0;
      list-style: disc;
      margin-left: 22px;

      li {
        text-align: left;
        padding-top: 6px;
      }
    }
  }
}

.table-compare {
  position: relative;

  .compare-item {
    padding-top: 145px;
    padding-bottom: 170px;
    &.mb-item {
      padding-bottom: 140px;
    }

    .compare-title {
      width: 260px;
      color: $white;
      border-bottom: 1px solid $grey-light-left;
      padding: 15px 20px;
      min-height: 55px;

      &:last-child {
        border: 0px;
      }
    }

    .bg-green-light {
      &:first-child {
        .compare-title {
          border-top: 1px solid $grey-light-left;
        }
      }
    }
  }

  p {
    margin-bottom: 0px;
  }

  .compare-price-box {
    position: absolute;
    left: calc(50% + 75px);
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 600px;

    .compare-price {
      background-color: $white;
      box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      width: 280px;
      text-align: center;
      border: 1px solid #ffffff00;

      .price-term {
        color: $grey-deep;

        .price-term-box {
          margin: 15px 0px 6px;
          display: block;
        }

        h5 {
          font-weight: 500;
          font-size: 1.25rem;
        }

        span {
          font-size: 0.9375rem;
        }

        .price {
          font-size: 2.5rem;
          color: $orange;
          display: inline-block;
          position: relative;

          span {
            font-size: 1.5rem;
          }
          .star {
            position: absolute;
            top: 0;
            right: -10px;
            font-size: 24px;
          }
        }
      }
      .compare-row-line {
        border-bottom: 1px solid $grey-light-left;
        display: table;
        width: 100%;
        padding: 15px 0px;

        div {
          margin-bottom: 0;
          display: table-cell;
          vertical-align: middle;
          padding: 0;
        }
      }

      &.one {
        position: absolute;
        left: -100px;
        top: 0;
      }

      &.two {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: -36px;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
      }

      &.three {
        position: absolute;
        right: -100px;
        top: 0;
      }
      .compare-price-down {
        padding: 16px 10px 20px;

        .btn {
          min-width: 200px;
        }

        .down {
          color: $grey;
          margin-top: 6px;
          font-weight: bold;
          cursor: pointer;

          i {
            margin-left: 5px;
          }
        }
      }

      &.recommend {
        .price-term-box {
          position: relative;
          padding-top: 36px;

          .rec-img {
            position: absolute;
            right: 16px;
            top: -56px;
          }
        }

        .compare-price-down {
          padding-bottom: 56px;
        }
      }
    }
  }
}

.commodity {
  padding: 80px 70px 50px;

  &.com-introduce {
    min-height: 600px;
  }

  h1 {
    margin-bottom: 80px;
  }

  h2 {
    margin-bottom: 20px;
    padding-left: 22px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      width: 6px;
      height: 36px;
      background-color: $orange;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
  }

  p {
    color: $grey-deep;
  }

  .com-detail {
    position: relative;
    border: 2px solid $orange;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;
    padding: 20px;
    min-height: 140px;

    .ins-ser-line {
      position: absolute;
      top: 50%;
      right: -106px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    p {
      color: $black;
    }

    span {
      color: $orange;
      font-size: 1.5rem;
    }
  }

  .com-img {
    text-align: right;
    padding-top: 44px;
    &.com-img-three {
      padding-top: 15px;
    }

    .com-img-box {
      position: relative;
      display: inline-block;

      li {
        position: absolute;
        background-color: $bg-grey-round;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;

        &.one {
          top: -90px;
          left: 42px;
        }

        &.two {
          left: -90px;
          top: -46px;
        }

        &.three {
          left: -158px;
          top: 75px;
        }

        &.four {
          left: -90px;
          bottom: -30px;
        }

        &.fives {
          left: 42px;
          bottom: -88px;
        }

        .i-default {
          display: inline-block;
        }

        .i-active {
          display: none;
        }

        &.active {
          background-color: $orange;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

          .i-default {
            display: none;
          }

          .i-active {
            display: inline-block;
          }
        }

        a {
          padding: 8px;
          display: inline-block;
        }
      }
    }
  }
}

.guarantee-mob {
  display: none;
}

.guarantee {
  background-color: $green-light-gua;
  padding: 50px 0px;
  border-radius: 0px 0px 60px 60px;
  -webkit-border-radius: 0px 0px 60px 60px;
  -moz-border-radius: 0px 0px 60px 60px;
  -ms-border-radius: 0px 0px 60px 60px;
  -o-border-radius: 0px 0px 60px 60px;

  .title {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 88px;
  }
}

.guarantee-mob-card {
  color: $grey-deep;
  -webkit-box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 24px 20px 20px;
  background-color: $white;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #ffffff00;

  .rec-img {
    position: absolute;
    right: 18px;
    top: -30px;
  }

  .guarantee-mob-title {
    text-align: center;

    h5 {
      font-size: 1.125rem;
    }

    .price {
      font-size: 2rem;
      color: $orange;
      position: relative;
      display: inline-block;

      span {
        font-size: 1.5rem;
      }
      .star {
        position: absolute;
        top: 0;
        right: -10px;
        font-size: 24px;
      }
    }

    span {
      font-size: 0.875rem;
    }
  }

  .guarantee-mob-table {
    width: 100%;

    tr {
      font-size: 0.875rem;
      border-bottom: 1px solid $grey-light-left;
      vertical-align: middle;

      td {
        padding: 8px 0px;
      }

      td:last-child {
        text-align: right;
        font-size: 1rem;
        width: 40%;
        color: $green;
      }
    }
  }

  .guarantee-price-down {
    text-align: center;
    padding-top: 6px;

    .down {
      color: $grey;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.down-outer {
  text-align: center;
  color: $grey;
  margin-top: 30px;
  &.t-down {
    font-weight: 500;
    margin-top: 16px;
  }
}

.bookmark {
  .tab-pane.bg-commodity {
    .down-dots {
      ul {
        border-bottom: 0px;
        bottom: -50px;
      }
    }
  }
}

.guarantee-mob {
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
    background-color: $orange;
    border: solid 1px $orange;
  }

  .nav-link {
    margin: 0px auto;

    &.active {
      .guarantee-mob-card {
        border: 2px solid $orange;
      }
    }
  }
}

.teaching-phone {
  position: relative;

  .carousel-indicators {
    top: 0;
    margin-left: 0;
    position: relative;
  }

  .teaching-phone-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -2;
  }

  .title {
    span {
      font-size: 3.75rem;
    }
  }

  .t-step {
    .t-step-row {
      cursor: pointer;
      position: relative;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border: 1px solid $orange;
      background-color: $white;
      margin-bottom: 50px;
      padding: 25px 40px 25px 54px;
      max-width: 550px;
      bottom: 0;
      height: 100%;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

      .number {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border: 2px solid $orange;
        color: $grey;
        background-color: $white;
        height: 60px;
        width: 60px;
        line-height: 59px;
        text-align: center;
        font-size: 2rem;
      }

      p {
        margin-bottom: 0;
        color: $grey;
      }

      h3 {
        color: $grey-deep;
      }

      &.active {
        background-color: $orange;

        .number {
          color: $orange;
        }

        p,
        h3 {
          color: $white;
        }
      }
    }
  }

  .slick-center {
    .t-step-row {
      background-color: $orange;

      .number {
        color: $white;
      }

      p,
      h3 {
        color: $white;
      }
    }
  }

  .t-phone {
    position: relative;
    width: 332px;
    height: 622px;
    margin: 0px auto;

    .t-phone-img {
      position: absolute;
      left: 0;
      top: 0;
    }

    .t-phone-box {
      // position: absolute;
      width: 266px;
      height: 497px;
      overflow: hidden;
      left: 32px;
      top: 62px;

      .t-phone-step {
        position: absolute;
        width: 795px;
        z-index: -1;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
      }

      .carousel-item {
        transition-duration: 0.3s;
      }
    }
  }

  .container {
    margin-top: 50px;
  }
}

.com-book {
  margin-bottom: 100px;
  position: relative;

  .com-book-l-bg {
    position: absolute;
    left: 0;
    top: 1050px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .com-book-r-bg {
    position: absolute;
    right: -320px;
    top: 530px;
    z-index: -1;
  }

  &.com-book-cm {
    .com-book-l-bg {
      top: 1000px;
    }

    .com-book-r-bg {
      top: 470px;
    }
  }
}

.boi-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;

  .boi-step-row {
    width: 100%;

    .number {
      width: 34px;
      height: 34px;
      line-height: 34px;
      background-color: $green-light;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      color: #fff;
      margin-right: 12px;
      display: inline-table;
      text-align: center;
    }

    .boi-step-box {
      margin: 30px 24px 10px 12px;
    }

    a {
      text-decoration: revert;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }

    p {
      margin-bottom: 10px;
    }

    .boi-step-img {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: -30px;
        top: 50%;
        background-image: url("../img/element/ic-arrow-right-g@2x.png");
        width: 28px;
        height: 28px;
        background-size: 28px 28px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

    &:last-child {
      .boi-step-img {
        &::before {
          display: none;
        }
      }
    }
  }
}

.wave-bg {
  position: relative;
  margin-top: 100px;
  background-image: linear-gradient(to bottom, #3ab868 35%, #7ac554);

  .bg-wave {
    position: absolute;
    top: -80px;
    min-width: 1920px;
    width: 100%;
    height: 80px;
    left: -100%;
    right: -100%;
    margin: auto;
  }

  .title {
    color: $white;
    padding-top: 30px;

    &::before {
      background-color: $white;
    }
  }

  .bookmark {
    padding-top: 30px;
    padding-bottom: 70px;
    margin-bottom: 0;

    .more {
      text-align: right;

      a {
        color: $white;
      }

      i {
        margin-right: 5px;
        margin-bottom: 3px;
      }
    }

    .tab-row-content .tab-item-box {
      margin-bottom: 0;

      .tab-card:last-child {
        margin-bottom: 10px;
      }
    }
  }
}

.adv-box-item {
  .form-group {
    &.icon-date {
      .icons-ic-date {
        display: block;
      }
    }

    &.icon-select {
      .custom-select {
        background-image: url("../img/element/icon-menu-arrow-down@2x.png");
        background-position: right 16px top 18px;
        background-size: 16px;
        background-repeat: no-repeat;
      }

      .icons-ic-menu-arrow-down-black {
        display: block;
      }
    }
  }
}

.drop-form {
  .dropdown {
    margin-bottom: 30px;
  }

  .btn {
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    background-color: $white;
    border: 2px solid $grey-input-line;
  }
}

.form-discount {
  color: $grey;
  margin-bottom: 30px;

  span {
    color: $green;
  }
}

.choose-box {
  label {
    font-size: 1rem;
  }

  &.choo-sub {
    margin-left: 26px;
    margin-bottom: 5px;
    display: none;
  }

  .choose-row {
    display: inline-block;
    margin-right: 30px;
  }
}

.select-search {
  margin-bottom: 30px;

  .dropdown .dropdown-menu {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .show {
    .btn {
      border: 2px solid $green-middle;
    }
  }

  &.simple {
    .btn {
      background-image: url(../img/element/icon-menu-arrow-down@2x.png);
      background-repeat: no-repeat;
      background-position: right 16px top 18px;
      background-size: 16px;
      background-repeat: no-repeat;

      &:disabled {
        background-color: #f2f1f0;
        color: $grey;
        opacity: 1;
        cursor: inherit;
      }
    }
  }

  .btn {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid $grey-input-line;
    margin: 0;
    background-image: inherit;
  }

  .form-search-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 40px 14px 18px;
    z-index: 1;

    .form-control {
      border: 0;
      padding: 0;
      // height: auto;
      -webkit-transform: translateY(7px);
      transform: translateY(7px);
      -moz-transform: translateY(7px);
      -ms-transform: translateY(7px);
      -o-transform: translateY(7px);

      &:focus {
        color: #495057;
        // background-color: #fff;
        border-color: inherit;
        outline: none;
        box-shadow: inherit;
      }
    }
  }

  .drop-title {
    i {
      position: inherit;
      margin-right: 8px;
    }
  }

  hr {
    margin: 0px 0px;
    border-top: 1px solid $grey-light-left;
  }

  a.text-gray {
    color: $grey-deep;
  }

  &.plain {
    .dropdown .dropdown-item {
      padding: 12px 16px 12px 41px;
    }
  }
}

.form-more-search-input {
  border: 2px solid $grey-input-line;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  min-height: 54px;
  padding: 6px 20px 6px 18px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  .dropdown-menu {
    margin-top: 10px;
  }
  .form-more {
    margin-right: -20px;
    margin-left: -18px;
    padding-right: 20px;
    padding-left: 18px;
    .more-data {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      span {
        margin-right: 5px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
        border: solid 1px $grey-input-line;
        background-color: $bg-grey;
        padding: 0px 22px 0px 10px;
        margin-bottom: 7px;
        position: relative;
        word-break: break-all;

        i {
          right: 5px;
          top: calc(50% - 8px);
          cursor: pointer;
        }
      }
    }

    .form-control {
      width: 50%;
      display: inline-flex;
      border: 0;
      padding: 0;

      &:focus {
        box-shadow: inherit;
      }
    }
  }

  &.show {
    border: 2px solid $green-middle;
  }
}

/* 當 dropdown 為 modol 最後一個元素並開啟選單時撐高下方高度 */
.custom-dropdown-mb {
  padding-bottom: 60px !important;
}

.com-detail.com-detail-type {
  p {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;

    li {
      text-align: left;
      color: $orange;
      margin-bottom: 20px;

      div {
        color: $black;
      }

      .price {
        text-align: right;
        font-weight: 500;
        padding-left: 5px;
        min-width: 245px;
      }
      div {
        display: inline-block;
      }
      .money {
        color: $orange;
        // width: 75px;
        width: 32%;
      }
      .unit {
        // width: 110px;
        width: 40%;
        text-align: left;
      }

      span {
        font-size: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    &.tw {
      li {
        .price {
          .unit {
            width: 10%;
          }
        }
      }
    }
  }
}

.range {
  .title {
    margin-bottom: 20px;
  }

  .table-compare {
    .compare-price-box .compare-price {
      width: 790px;
      padding: 30px 0px 30px;
      position: absolute;
      left: -70px;
      top: 25px;
      display: flex;

      table {
        width: 100%;

        .title {
          font-size: 1.125rem;
          color: $orange;
          font-weight: 500;
          line-height: 22px;
        }

        tr {
          color: $grey-deep;
        }

        thead {
          border-bottom: 1px solid $grey-light-left;

          th {
            font-weight: 500;
            padding: 10px 20px;
          }
        }

        .line {
          border-right: 1px solid $grey-light-left;
        }

        tbody {
          tr {
            border-bottom: 1px solid $grey-light-left;

            &.compare-price-title {
              font-size: 1.125rem;
              color: $orange;
              font-weight: 500;
              line-height: 22px;
            }
            &.compare-price-second {
              font-weight: 500;
              padding: 10px 20px;
            }

            td {
              width: 15%;
              padding: 15px 20px;

              &.line {
                border-right: 1px solid $grey-light-left;
              }
            }

            &:first-child {
              td {
                &:last-child {
                  border-bottom: 1px solid $grey-light-left;
                }
              }
            }

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }

    .compare-item {
      padding-bottom: 80px;
      padding-top: 56px;
    }
  }
}

.remarks-grey {
  padding: 20px;
  color: $grey-deep;
  background-color: $bg-grey;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  max-width: 780px;
  margin: 0px auto 55px;

  ol {
    margin-bottom: 0;
    padding: 0px 20px;
  }
}

.recom {
  padding-bottom: 80px;

  h1 {
    margin-bottom: 40px;
  }

  .item-row {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .recom-box {
    border-bottom: 1px solid $grey-light-left;
    margin: 20px 0px;
    padding-bottom: 20px;
  }

  .recom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &:last-child {
      .details {
        p {
          margin-bottom: 0;
        }
      }
    }

    h3 {
      font-size: 1.125rem;
      margin-bottom: 5px;
    }

    .price {
      -ms-flex-item-align: center;
      align-self: center;
      font-weight: 500;

      span {
        font-size: 1.5rem;
        color: $orange;
        margin-right: 5px;
      }
    }

    .details {
      padding: 0px 10px 0px 16px;
    }
  }

  .total {
    text-align: right;
    margin-bottom: 20px;

    span {
      font-size: 1.5rem;
      color: $orange;
      padding-left: 5px;
      margin-right: 5px;
    }

    .re-explain {
      padding-top: 5px;
    }

    .total-money {
      font-weight: 500;
    }
  }

  .recom-img {
    img {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      background-color: $white;
      padding: 4px;
    }
  }

  hr {
    border-top: 1px solid $orange;
  }
}

.thumbsup {
  position: relative;

  .rec-img {
    position: absolute;
    right: 0;
    top: -45px;
  }
}

.commodity .com-img .com-img-box.four-project li {
  &.one {
    top: -90px;
    left: -26px;
  }

  &.two {
    left: -138px;
    top: -15px;
  }

  &.three {
    left: -158px;
    top: 113px;
  }

  &.four {
    left: -52px;
    bottom: -60px;
  }
}

.program-box {
  margin: 50px 0px;
}

.program {
  max-width: 780px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  background-color: $white;
  padding: 30px;
  margin-top: 65px;

  .pro-title {
    margin-bottom: 20px;

    .choose-box label {
      font-size: 1.125rem;
    }
  }

  .item {
    font-size: 1.125rem;
  }

  .program-row {
    border-bottom: 1px solid $grey-light-left;
    padding: 12px 20px;

    .pro-plan {
      color: $grey-deep;
    }

    .pro-item {
      font-size: 1.125rem;
      color: $green;
      width: 160px;
      text-align: right;
    }
  }

  .advisory-content {
    padding-top: 10px;

    .adv-box-item {
      margin-top: 0px;
    }
  }
}

.recom-book {
  margin-top: 30px;
}

@media (min-width: 1440.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .about-cathay {
    margin-bottom: 0px;
  }

  .about-operate {
    background-position: center top 100px;

    .operate-people {
      top: 26px;
    }
  }

  .slickcard a:hover,
  .slickcard a:active,
  .slickcard a:focus {
    -webkit-transform: inherit;
    transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
  }

  .banner-img-center {
    img {
      width: 1200px;
    }
  }

  .commodity {
    .com-img {
      &.com-img-three {
        padding-top: 0;
      }

      .com-img-box {
        li {
          position: absolute;
          background-color: $bg-grey-round;
          border-radius: 60px;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;

          &.one {
            top: -90px;
            left: 42px;
          }

          &.two {
            left: -58px;
            top: -30px;
          }

          &.three {
            left: -91px;
            top: 75px;
          }

          &.four {
            left: -58px;
            bottom: -18px;
          }

          &.fives {
            left: 42px;
            bottom: -88px;
          }
        }
      }
    }
  }

  .table-compare {
    .compare-price-box {
      left: calc(50% + 90px);

      .compare-price {
        width: 250px;

        &.three {
          right: -50px;
        }

        &.one {
          left: -50px;
        }

        .compare-price-down .btn {
          min-width: 160px;
        }

        .price-term .price {
          font-size: 2rem;
        }
      }
    }

    .compare-item {
      padding-top: 133px;
    }
  }
  .range {
    .table-compare .compare-item {
      padding-top: 43px;
    }
  }

  .boi-step .boi-step-row .boi-step-img {
    img {
      width: 180px;
    }
  }

  .jobcard {
    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
      -webkit-transform: inherit;
      transform: inherit;
      -moz-transform: inherit;
      -ms-transform: inherit;
      -o-transform: inherit;
    }
  }

  .table-compare .compare-item .compare-title {
    width: 27%;
  }

  .range {
    .table-compare {
      display: block;

      .compare-price-box {
        top: 0px;
        width: 680px;
        left: calc(50% + 180px);

        .compare-price {
          top: 13px;
          width: 100%;
          overflow: auto;

          table {
            // width: 790px;
          }
        }
      }
    }
  }

  .commodity .com-img .com-img-box.four-project li {
    &.one {
      top: -90px;
      left: 20px;
    }

    &.two {
      left: -80px;
      top: 4px;
    }

    &.three {
      left: -79px;
      top: 141px;
    }

    &.four {
      left: 16px;
      bottom: -60px;
    }
  }
}

@media (min-width: 1048.98px) and (max-width: 1199.98px) {
  .range .table-compare .compare-item .compare-title {
    width: 31%;
  }
}

@media (max-width: 991.98px) {
  .topbg {
    .topbg-box {
      .top-bg-story {
        margin-left: calc(50% - 100px);

        &.top-bg-big {
          img {
            height: 250px;
          }
        }

        img {
          height: 180px;
        }
      }

      .top-bg-scrap {
        margin-left: calc(50% - 670px);
      }
    }
  }

  .bookmark {
    margin-bottom: 90px;
    padding-top: 25px;

    .input-search {
      margin-top: 30px;
    }

    .caption {
      margin: 0px 20px;

      .search-box {
        max-width: 100%;
      }
    }

    h4 {
      font-size: 1.25rem;
      margin-left: 20px;
    }

    ul {
      padding: 0;
      border-bottom: 2px solid #32b15f;

      li {
        .nav-link {
          font-size: 1rem;
          margin: 0;
        }
      }
    }

    ul.labels {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .dropdown {
      margin: 0px 20px;

      .btn {
        margin: 20px 0px;
      }
    }

    .advisory .advisory-content {
      border-radius: 0px 0px 30px 30px;
      -webkit-border-radius: 0px 0px 30px 30px;
      -moz-border-radius: 0px 0px 30px 30px;
      -ms-border-radius: 0px 0px 30px 30px;
      -o-border-radius: 0px 0px 30px 30px;

      .adv-box .form-group.prove {
        .from-row {
          width: calc(100% - 212px);
        }

        input {
          min-width: initial;
        }
      }
    }

    .tab-row-content {
      .tab-mob-scroll {
        width: 100%;
      }

      .tab-item-box {
        margin: 16px 20px 0px;

        h4 {
          font-size: 1.125rem;
          line-height: 1.56;
          padding-right: 26px;
          margin-left: 0;
        }

        .num {
          line-height: 1.56;
        }

        .tab-card {
          .tab-link {
            padding: 16px 13px 16px 16px;
          }

          .que-body {
            padding: 0px 38px 16px 16px;
          }
        }
      }
    }

    .tab-pane {
      border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px;
    }
  }

  .about-top {
    margin-top: 130px;

    .about-cathay .about-article {
      margin-top: 37px;
      margin-left: 0px;
    }
  }

  .map-card {
    margin-top: 10px;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -ms-border-radius: 12px 12px 0px 0px;
    -o-border-radius: 12px 12px 0px 0px;
    padding: 20px;

    &::before {
      display: none;
    }

    .map-infor {
      margin-top: 0px;
    }
  }

  .map iframe {
    border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    -ms-border-radius: 0px 0px 12px 12px;
    -o-border-radius: 0px 0px 12px 12px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    height: 400px;
  }

  .about-map .map-box {
    margin-left: 0px;
    min-height: auto;
  }

  .about-operate {
    position: relative;
    background-image: inherit;
    margin-top: 120px;

    .operate-people {
      top: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 128px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-image: url(../img/bg-about-top-m@2x.png);
      background-repeat: no-repeat;
      background-size: 1000px 120px;
      width: 1000px;
      height: 120px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -100px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-image: url(../img/bg-about-bottom-m@2x.png);
      background-repeat: no-repeat;
      background-size: 2000px 242px;
      width: 2000px;
      height: 242px;
      z-index: -1;
    }

    .operate-bg {
      background-color: $blue-bg-light;
    }
  }

  .map-row {
    -webkit-animation-name: inherit;
    animation-name: inherit;
    -webkit-animation-duration: inherit;
    animation-duration: inherit;
  }

  .jobdetails .jobbox {
    padding: 50px 60px;
  }

  .jobcard .nav-link {
    margin: 20px auto;
    width: 90%;
  }

  .bookmark .second-tab {
    max-width: inherit;
    background-color: $white;
  }

  .boi-step .boi-step-row .boi-step-img {
    img {
      width: 120px;
    }
  }

  .t-step {
    .step-mob-box {
      margin-left: 50px;
    }
  }

  .wave-bg .bookmark .tab-row-content .tab-item-box {
    margin: 0px 5px;
  }

  .table-compare .compare-item .compare-title {
    width: 32%;
  }

  .joblist .jobcard .nav-link {
    width: 100%;
  }

  .bookmark-top {
    border-bottom: 2px solid $green-middle;

    ul {
      max-width: inherit;

      li .nav-link {
        font-size: 1rem;
        margin: 10px 0px 0px;
      }
    }
  }

  .guarantee {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .table-compare {
    .compare-price-box {
      left: calc(50% + 90px);

      .compare-price {
        width: 180px;

        &.three {
          right: 38px;
        }

        &.one {
          left: 38px;
        }

        .compare-price-down .btn {
          min-width: 140px;
        }

        .price-term .price {
          font-size: 2rem;
        }
      }
    }

    .compare-item {
      padding-top: 120px;

      &.item-motor {
        padding-top: 119px;
      }
    }
  }

  .jobdetails {
    margin-top: 130px;
  }

  .joblist {
    padding-top: 0px;
  }

  .bookmark.helper-top {
    padding-top: 0px;
  }

  .range .table-compare {
    display: block;

    .compare-price-box {
      top: 0px;
      width: 100%;
      left: inherit;
      transform: inherit;
      -webkit-transform: inherit;
      -moz-transform: inherit;
      -ms-transform: inherit;
      -o-transform: inherit;

      .compare-price {
        width: 75%;
        overflow: auto;
        left: inherit;
        right: 10px;

        table {
          width: 100%;

          tbody tr td {
            padding: 12px 10px;
          }

          thead th {
            padding: 10px 10px;
          }
        }
      }
    }

    .compare-item .compare-title {
      width: 25%;
      font-size: 0.875rem;
      padding: 12px 10px;
      min-height: 49px;
    }
  }

  .recom {
    padding-bottom: 0;

    .item-row {
      margin-bottom: 40px;
    }

    .item {
      padding-top: 20px;
    }
  }

  .thumbsup .rec-img {
    position: absolute;
    right: 20px;
    top: 0px;
  }

  .com-detail.com-detail-type {
    ul {
      list-style: disc;
      margin-left: 20px;
    }
  }

  .mc-box {
    .tab-pane {
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  .commodity .com-img {
    text-align: center;
    padding-top: 0px;

    .com-img-box {
      ul {
        margin: 30px 0px;

        li {
          position: inherit;
          display: inline-block;
          margin: 0px 8px;
        }
      }
    }
  }
  .adv-box-item .carbrand {
    width: 15%;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .table-compare .compare-item .compare-title {
    width: 29%;
  }
}

@media (max-width: 767.98px) {
  .topbg {
    .topbg-box {
      width: 100%;
      height: 320px;

      .top-bg-story {
        position: absolute;
        right: 0px;
        left: 0;
        width: 800px;
        height: 280px;
        margin-left: calc(50% - 400px);

        &.top-bg-big {
          img {
            height: auto;
          }
        }

        img {
          height: auto;
        }
      }
    }
  }

  .about-top {
    margin-top: 168px;

    .about-cathay .about-article {
      font-size: 0.9375em;
    }
  }

  .about-map {
    margin: 40px 5px 80px 5px;
  }

  .about-cathay {
    padding: 0px 10px;
    margin-bottom: 0px;
    margin-top: 50px;

    p {
      font-size: 0.9375em;
    }
  }

  .about-operate .operate-people {
    top: 40px;
    width: 375px;
    height: 94px;
  }

  .about-operate {
    margin-top: 40px;
    padding-top: 90px;

    &::before {
      background-size: 800px 120px;
      width: 800px;
      height: 120px;
    }

    &::after {
      bottom: -90px;
      background-size: 1000px 242px;
      width: 1000px;
      height: 242px;
    }

    .about-cathay {
      margin-top: 40px;
    }
  }

  .jobcard .nav-link {
    margin: 20px auto;
    padding: 20px;
    width: 95%;

    h4 {
      font-size: 1.25rem;
      min-height: 45px;
    }
  }

  .joblist {
    padding-top: 12px;
    margin-bottom: 100px;
  }

  .jobdetails {
    margin-top: 0;
    margin-bottom: 100px;

    .bg-white-block {
      background-color: inherit;
      box-shadow: inherit;
      border: 0px;
    }

    .jobbox {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 30px;
      padding-bottom: 0px;

      h3::before {
        height: 24px;
        top: 0px;
      }

      hr {
        margin: 20px 0px;
      }

      .TableCell,
      .jobdetails .jobbox .TableHead {
        display: block;
      }

      .TableCell {
        padding: 0px;
      }

      .TableRow .TableCell:first-child {
        width: 100%;
      }

      h5 {
        margin-bottom: 12px;
      }

      .TableRow {
        display: block;
        padding-bottom: 30px;

        &:last-child {
          padding-bottom: 0px;
        }
      }
    }
  }

  .map iframe {
    height: 300px;
  }

  .banner-img-center {
    img {
      width: 800px;
    }
  }

  .commodity {
    padding: 50px 20px 50px;

    &.com-introduce {
      min-height: inherit;
    }

    &.recom {
      padding-bottom: 30px;
    }

    .com-img {
      .com-img-box {
        width: inherit;
        height: inherit;
        position: inherit;

        li {
          a {
            padding: 5px;
            display: inline-block;
            width: 50px;
            height: 50px;
          }

          img {
            width: 39px;
          }
        }
      }
    }

    h1 {
      line-height: 1.3;
      margin-bottom: 24px;
      font-size: 1.5rem;
    }

    h2 {
      margin-bottom: 17px;
    }

    .com-detail {
      p {
        margin-bottom: 10px;
      }
    }
  }

  .guarantee .title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .boi-step {
    display: block;

    .boi-step-row {
      .boi-step-img {
        &::before {
          display: none;
        }
      }

      h4 {
        font-size: 1.25rem;
      }

      .boi-step-box {
        margin: 0px;
        padding: 10px 5px;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          border-left: 1px dashed $green-light;
          left: 21px;
          z-index: -1;
        }
      }

      &:last-child {
        .boi-step-box {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  .teaching-phone .t-step {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      margin: 0px auto;
      width: 335px;
      height: 24px;
      background-image: url(../img/commodity/bg-step-shadow-m@2x.png);
      background-repeat: no-repeat;
      background-size: 335px 24px;
    }

    .nav-link {
      width: 100%;
      margin: 0px auto;
    }

    .t-step-row {
      max-width: inherit;
      padding: 15px 20px 15px 54px;
      margin-bottom: 10px;
      height: 100%;

      .number {
        left: 35px;
        top: 28px;
        border: 0px;
        background-color: initial;
        width: auto;
        height: auto;
      }

      h3 {
        font-size: 1.25rem;
      }

      &.active {
        .number {
          color: $white;
        }
      }
    }
  }

  .wave-bg .title {
    font-size: 1.75rem;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .adv-box-item .form-group.prove input {
    min-width: auto;
  }

  .table-compare {
    display: none;
  }

  .guarantee-mob {
    display: block;
    .slick-dots {
      bottom: -50px;
    }
  }

  .bookmark {
    &.helper-top {
      padding-top: 20px;
    }

    .container {
      padding: 0;
    }

    .tab-pane {
      border-radius: 0px 0px 30px 30px;
      -webkit-border-radius: 0px 0px 30px 30px;
      -moz-border-radius: 0px 0px 30px 30px;
      -ms-border-radius: 0px 0px 30px 30px;
      -o-border-radius: 0px 0px 30px 30px;
      border: 0px;
      padding: 0px;
      -webkit-box-shadow: initial;
      box-shadow: initial;
      background-color: $white;
    }

    .advisory .advisory-content {
      border: 0px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      -webkit-box-shadow: initial;
      box-shadow: initial;
      background-color: $white;
      padding: 40px 20px 0px;
    }
    .tab-pane.bg-commodity .guarantee-mob.one ul {
      bottom: -48px;
    }
    .tab-pane.bg-commodity .guarantee-mob.two ul {
      bottom: -90px;
    }
  }

  .down-outer {
    margin-left: 0px;
  }

  .bookmark ul li .nav-link {
    padding: 7px;
  }

  .bookmark-top ul li .nav-link {
    padding: 7px;
  }

  .bookmark-top {
    padding: 0;
  }

  .adv-box-item .form-group {
    .remark {
      font-size: 0.875rem;
    }

    .add-id {
      font-size: 0.875rem;
    }
  }

  .commodity h2::before {
    height: 30px;
  }

  .range {
    .table-compare {
      background-color: $white;
      -webkit-box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
      margin: 0px 20px;

      .compare-item {
        padding-top: 0px;
        padding-bottom: 0;

        .compare-title {
          padding: 7px 10px;
        }
      }

      .compare-price-box .compare-price {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        border-left: 1px solid $grey-light-left;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        top: 0;
        width: 75%;
        right: 0px;
        padding: 0px 0px;

        table {
          width: 590px;

          thead th {
            font-size: 14px;
          }

          tbody tr td {
            padding: 7px 10px;
            width: 6%;
          }
        }
      }
    }
  }

  .recom {
    .recom-row {
      .price {
        span {
          font-size: 1.25rem;
        }
      }

      .details {
        width: 60%;
        padding-left: 0;
      }
    }
  }

  .recom-book {
    margin-bottom: 0px;
    padding-top: 0;
    margin-top: 0px;
  }

  .range .table-compare {
    .compare-price-box .compare-price table thead {
      tr {
        &:first-child {
          th {
            padding: 20px 5px 0px;
          }
        }
      }
    }

    .compare-item .bg-green-light:first-child .compare-title {
      border-top: 0px;
    }
  }

  .com-book {
    margin-bottom: 0;
  }

  .com-detail.com-detail-type ul li .price {
    text-align: left;
  }

  .program .program-row .pro-item {
    font-size: 1rem;
    width: 100px;
  }

  .com-detail.com-detail-type ul li {
    margin-bottom: 10px;
  }
  .jobdetails .jobbox {
    &.web-map {
      h5 {
        margin-bottom: 16px;
      }
      hr {
        margin-top: 0px;
        margin-bottom: 30px;
      }
      a {
        padding-bottom: 16px;
        &:last-child {
          padding-bottom: 30px;
        }
      }
    }
  }
  .down-outer {
    margin-top: 0px;
    margin-bottom: 12px;
    &.t-down {
      margin-top: 12px;
      margin-bottom: 20px;
    }
  }

  .com-detail.com-detail-type ul li .price {
    .money {
      width: auto;
    }
    .unit {
      width: auto;
    }
    &.en-price {
      .money {
        width: auto;
      }
      .unit {
        width: auto;
      }
    }
  }
  .com-detail.com-detail-type {
    &.en-price {
      ul li .price {
        .money {
          width: auto;
        }
        .unit {
          width: auto;
        }
      }
    }
  }
  .adv-box-item .carbrand {
    width: 25%;
  }
  .title-hight {
    min-height: 66px;
    h1 {
      margin: 0px auto;
    }
  }
  .bookmark .tab-pane.bg-commodity {
    -webkit-box-shadow: initial;
    box-shadow: initial;
  }
}

@media (max-width: 575.98px) {
}

/* less than 480px */
@media (max-width: 520px) {
  .adv-box-item .form-group.prove input {
    width: 120px;
  }

  .teaching-phone .t-step .nav-link {
    max-width: inherit;
  }

  .range .table-compare {
    .compare-price-box .compare-price {
      width: 71%;
    }

    .compare-item .compare-title {
      width: 30%;
    }
  }
}

/* less than 375px */
@media (max-width: 375px) {
  .commodity {
    .com-img .com-img-box ul li {
      position: inherit;
      display: inline-block;
      margin: 0px 4px;
    }
  }

  .adv-box-item .form-group.prove input {
    width: 65px;
  }

  .range .table-compare .compare-item .compare-title {
    width: 97px;
  }
  .banner-img-center {
    img {
      width: 650px;
    }
  }
}

/* less than 320px */
@media (max-width: 320px) {
  .commodity {
    padding: 50px 15px 50px;
  }

  .teaching-phone .t-phone {
    position: relative;
    height: 662px;
    margin: 0px auto;
    transform: translate(-20px) scale(0.9);
    -webkit-transform: translate(-20px) scale(0.9);
    -moz-transform: translate(-20px) scale(0.9);
    -ms-transform: translate(-20px) scale(0.9);
    -o-transform: translate(-20px) scale(0.9);
  }

  .guarantee-price-down {
    .btn.btn-white,
    .btn.btn-primary,
    .btn.btn-orange {
      min-width: inherit;
    }
  }

  .range .table-compare .compare-item .compare-title {
    width: 82px;
  }
}
