footer {
  position: relative;

  .footer-top {
    padding: 40px 0px;
    box-shadow: 4px -4px 15px -5px rgba(155, 168, 173, 0.41);

    div {
      a {
        display: block;
        padding: 18px 25px;
        border: 1px solid $grey-light-left;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        width: 100%;
        font-size: 1.125rem;

        &:hover {
          background-color: $bg-grey;
        }
      }
    }

    .f-infor {
      width: calc(100% - 280px);

      .f-infor-box {
        padding-right: 16px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }

    .f-phone {
      pointer-events: none;
    }
  }

  .brand-link {
    position: relative;
    background-image: linear-gradient(96deg, #30a75b 18%, #63bc55 76%);
    padding: 13px 0px 12px;
    font-size: 0.875rem;
    line-height: 1.71;

    ul {
      li {
        display: inline-block;

        a {
          color: $white;
          transition: all 0.3s ease;
          padding: 0px 12px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          position: relative;

          &:hover {
            color: $white;
            opacity: 0.8;
          }

          &::before {
            content: "";
            position: absolute;
            height: 13px;
            background-color: $white;
            @extend %li-line;
          }
        }

        &:last-child {
          a {
            &::before {
              display: none;
            }
          }
        }
      }
    }

    hr {
      border-top: 1px solid $green-deep;
      margin: 12px 0px 11px;
    }

    .footer-bottom {
      text-align: right;
      color: $white;
      letter-spacing: 0;
    }

    .gotop {
      position: fixed;
      bottom: -48px;
      right: 30px;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 2;

      &.show {
        bottom: 0px;
      }

      &.static {
        transition: none;
        position: absolute;
        bottom: 100% !important;
      }

      &.noAni {
        transition: none !important;
      }
    }
  }
}

.cookie {
  color: #fff;
  padding: 18px 0px;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0px;
  z-index: 99;

  .cookie-image,
  .cookie-content,
  .action {
    -ms-flex-item-align: center;
    align-self: center;

    p {
      margin: 0px 30px 0px 40px;
      font-size: 0.875rem;
    }

    img {
      width: 85px;
    }
  }

  &.hide {
    display: none;
  }
  .btn {
    min-width: 170px;
    padding: 8px;
  }
}

@media (max-width: 991.98px) {
  .cookie {
    text-align: center;
    padding: 0px;

    .cookie-content {
      margin: 20px 15px 20px;
      text-align: left;

      p {
        margin: 0;
      }
    }

    .action {
      .btn {
        margin: 3px 0px;
        float: inherit;
        padding: 7px 20px 7px;
      }
    }
  }

  footer {
    .brand-link {
      ul {
        li {
          a {
            padding: 0px 12px 0px 5px;
          }
        }
      }

      .footer-bottom {
        text-align: left;
        padding-left: 5px;
      }
    }

    .footer-top {
      .f-infor {
        width: 100%;

        .f-infor-box {
          padding-right: 0px;
          margin-bottom: 20px;
        }
      }

      .f-phone {
        pointer-events: inherit;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .cookie {
    .cookie-image {
      display: none;
    }
    .cookie-content {
      margin: 0px 15px 10px;
    }
    p {
      line-height: 1.38;
    }
    .btn {
      min-width: 120px;
    }
  }
  footer .brand-link ul li {
    display: block;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  footer .container {
    padding: 0px 5px;
    max-width: 991px;
  }

  footer .footer-top div a {
    padding: 18px 8px;
    font-size: 1rem;
  }
}

/* less than 320px */
@media (max-width: 320px) {
  .cookie .cookie-content {
    margin: 20px 15px 10px;

    p {
      font-size: 0.875rem;
    }
  }

  .toast-body {
    padding: 0px;
  }
}
