.guid {
    height: 100%;

    .navbar {
        height: 100%;
        display: block;
        overflow: auto;
    }

    .bd-sidebar {
        height: 100%;

        li {
            padding-bottom: 5px;
        }

        .dropdown .dropdown-menu {
            box-shadow: initial;
            background-color: initial;
        }

        .navbar-light .navbar-nav .nav-link:hover,
        .navbar-light .navbar-nav .nav-link:focus,
        a:hover {
            color: $green;
        }

        .navbar-light {
            .navbar-toggler {
                border-color: rgba(0, 0, 0, 0);
            }

            .navbar-nav .nav-link {
                color: $black;
            }
        }
    }


    h1,
    h2,
    h3,
    h4 {
        padding-bottom: 10px;
        font-weight: 400;
    }







    button:focus {
        outline: none;
    }

    .bd-content {
        padding: 30px 40px;
        height: 100%;
        overflow-X: hidden;
    }

    pre {
        font-family: monospace;
        padding: 20px;
        background: #F9F8F7;
        font-size: 13px;
        line-height: 1.4;
        overflow: auto;
        letter-spacing: 0;
        margin-bottom: 0;
    }

    .row {
        pre {
            padding: 20px;
            border-radius: 3px;
            margin-top: 24px;
            border: 1px solid #D7E4E4;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
    }

    .tag {
        display: block;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 1;

        code {
            padding: 0;
            background: #E1E4E9;
            border-radius: 3px;
            display: block;
            margin-top: 24px;
            margin-bottom: 48px;
            max-height: 600px;
            border: 1px solid #D7E4E4;
            margin-right: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
    }

    table.table thead {
        color: $white;
        background: $green;
    }

    .hljs-doctag,
    .hljs-string {
        color: #d14;
    }

    .hljs-literal,
    .hljs-number,
    .hljs-tag .hljs-attr,
    .hljs-template-variable,
    .hljs-variable {
        color: teal;
    }

    .hljs-attribute,
    .hljs-name,
    .hljs-tag {
        color: navy;
        font-weight: 400;
    }

    .preview {
        div[class*="col-"] {
            border: 1px solid #7D8A94;
            background: #AEB6BD;
        }
    }

    .colours {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 20px -10px;

        .color {
            display: flex;
            width: calc(18% - 30px);
            flex-direction: column;
            margin: 0 15px 20px;
            font-size: 14px;
            border-radius: 12px;
            background: #FFFFFF;
            box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.3);

            .box {
                border-radius: 12px 12px 0 0;
                padding-bottom: 150px;
            }

            .content {
                border-radius: 0 0 12px 12px;
                background: $white;
                padding: 8px 16px;
                font-weight: 300;
            }
        }
    }

}

.guided-row {
    padding: 20px;
    border-radius: 3px;
    margin-top: 24px;
    border: 1px solid $grey-hel-tab-select;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1440.98px) {}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .guid {
        height: auto;

        .navbar {
            height: auto;
            display: flex;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .bd-sidebar {
            height: auto;
        }

        .bd-content {
            margin-top: 80px;
            overflow: hidden;
        }

        .colours>.color {
            width: calc(50% - 30px);
        }
    }
}



@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}

/* less than 480px */
@media (max-width: 520px) {}

/* less than 375px */
@media (max-width: 375px) {}

/* less than 320px */
@media (max-width: 320px) {}