main {
  position: relative;
  z-index: 1;
}

.banner {
  .container {
    max-width: 1920px;
    padding: 0;
  }
}

.bg-img {
  width: 100%;
  overflow: hidden;

  img {
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
  }

  &.lg-img {
    img {
      width: 1920px;
      height: 600px;
    }
  }

  &.md-img {
    img {
      width: 1200px;
      height: 450px;
      display: none;
    }
  }

  &.sm-img {
    img {
      width: 800px;
      height: 470px;
      display: none;
    }
  }
}

.sectLg {
  .title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 30px 20px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 6px;
      background-color: $green-light;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      bottom: -12px;
      left: 0;
      right: 0;
      margin: 0px auto;
    }
  }
}

.ins-life {
  height: 447px;
  background-image: url(../img/img-index-life.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 58px;
  margin-bottom: 100px;

  .ins-item {
    width: 900px;
    height: 300px;
    margin: 0px auto;
    position: relative;

    .ins-item-pos {
      position: absolute;

      .ins-box {
        position: relative;
        color: $white;
        padding: 13px 16px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        line-height: 1.19;
        max-width: 215px;
        min-height: 64px;
        display: flex;
        align-items: center;
      }

      &.text-one {
        left: 160px;
        bottom: 67px;

        .bg-orange::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 34px;
          background-image: url(../img/img-bubble-arrow-03.png);
          bottom: -27px;
          right: 0;
          transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          -moz-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
          -o-transform: scaleX(-1);
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .bg-orange::before {
            background: url(../img/img-bubble-arrow-03@2x.png);
            background-repeat: no-repeat;
            background-size: 30px 34px;
          }
        }
      }

      &.text-two {
        left: 19px;
        top: 63px;

        .bg-green-light::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 34px;
          background-image: url(../img/img-bubble-arrow-01.png);
          bottom: -27px;
          left: 0;
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .bg-green-light::before {
            background: url(../img/img-bubble-arrow-01@2x.png);
            background-repeat: no-repeat;
            background-size: 30px 34px;
          }
        }
      }

      &.text-three {
        left: 304px;
        top: 20px;

        .bg-deep-green::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 34px;
          background-image: url(../img/img-bubble-arrow-02.png);
          bottom: -27px;
          left: 0;
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .bg-deep-green::before {
            background: url(../img/img-bubble-arrow-02@2x.png);
            background-repeat: no-repeat;
            background-size: 30px 34px;
          }
        }
      }

      &.text-four {
        right: 47px;
        bottom: 55px;

        .bg-orange::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 34px;
          background-image: url(../img/img-bubble-arrow-03.png);
          bottom: -27px;
          left: 0;
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .bg-orange::before {
            background: url(../img/img-bubble-arrow-03@2x.png);
            background-repeat: no-repeat;
            background-size: 30px 34px;
          }
        }
      }

      &.text-five {
        right: 284px;
        bottom: 122px;

        .bg-green-light::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 34px;
          background-image: url(../img/img-bubble-arrow-01.png);
          bottom: -27px;
          left: 0;
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .bg-green-light::before {
            background: url(../img/img-bubble-arrow-01@2x.png);
            background-repeat: no-repeat;
            background-size: 30px 34px;
          }
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .ins-life {
    background: url(../img/img-index-life@2x.png);
    background-repeat: no-repeat;
    background-size: 1600px 447px;
    background-position: center;
  }
}

ol.carousel-indicators {
  bottom: 0px;

  li {
    border: 1px solid $grey-light-circle;
    height: 14px;
    width: 14px;
    border-radius: 60px;
    margin: 0px 4px;

    &.active {
      background-color: $green;
      border: 1px solid $green;
    }
  }
}

.ins-item {
  margin: 65px auto;
  overflow: hidden;
  width: 100%;

  .item-row {
    margin-bottom: 90px;
  }

  h2 {
    color: $green-darkgreen;
    margin-bottom: 10px;
  }

  p {
    color: $grey-deep;
    margin-bottom: 30px;
  }

  ul {
    list-style: disc;
    margin-left: 22px;

    li {
      content: ".";
      color: $green-light;
      font-size: 24px;

      h3 {
        font-size: 1.25rem;
        color: $black;
        margin-bottom: 3px;
      }

      p {
        font-size: 1rem;
        margin-bottom: 20px;
        text-align: justify;
      }
    }
  }
}

.more-ins {
  background-image: url(../img/bg-index-product.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 482px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 2200px;
  margin: 0px auto 96px;

  .more-ins-title {
    width: 35%;
    position: relative;
  }

  .navtab {
    width: 65%;
    margin-top: 50px;
    max-width: 1200px;
  }

  .nav-link {
    margin: 30px 0px;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0.3s ease;
    padding: 0px;

    &:hover {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateY(-15px) translateZ(0);
      transform: translateY(-15px) translateZ(0);
      -moz-transform: translateY(-15px) translateZ(0);
      -ms-transform: translateY(-15px) translateZ(0);
      -o-transform: translateY(-15px) translateZ(0);
    }

    .slider-card {
      background-color: #fff;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      box-shadow: 0 4px 16px 0px rgba(81, 135, 36, 0.3);
      padding: 30px 30px 35px;
      margin: 0px auto;
      // min-width: 345px;
      width: 360px;
    }

    h2 {
      position: relative;
      color: $black;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $orange;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
      }
    }

    p {
      color: $black;
      font-size: 1.125rem;
      margin-bottom: 0px;
    }

    img {
      width: 160px;
      margin: 0px auto;
    }
  }

  .more-ins-title-box {
    position: absolute;
    right: 0;
    top: 120px;
    color: $white;
    margin-left: 30px;

    .more-title {
      font-size: 2.75rem;
      margin-bottom: 12px;
      font-weight: 500;
    }

    h2 {
      line-height: 1.57;
      font-weight: inherit;
    }
    &.cards-two{
      right: -64px;
    }
  }

  .slick-slider {
    overflow: hidden;
  }

  .slick-track {
    left: 8px;
  }
}

.ins-service {
  margin-top: 67px;
  margin-bottom: 100px;

  .m-title {
    margin-bottom: 34px;
  }

  .ins-service-img {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0px auto;

    .ins-ser-ball {
      position: absolute;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;

      &.one {
        height: 64px;
        width: 64px;
        right: 138px;
        top: -16px;
      }

      &.two {
        width: 61px;
        height: 61px;
        right: -19px;
        top: 155px;
      }

      &.three {
        width: 44px;
        height: 44px;
        right: 76px;
        bottom: 29px;
      }

      &.four {
        width: 36px;
        height: 36px;
        left: 106px;
        bottom: 18px;
      }

      &.five {
        width: 44px;
        height: 44px;
        left: -20px;
        bottom: 227px;
      }

      &.six {
        width: 61px;
        height: 61px;
        left: 0px;
        top: 100px;
      }
    }
  }

  .ins-service-item {
    h2 {
      margin-bottom: 40px;
      text-align: center;
    }

    ul {
      position: relative;
      list-style: disc;
      box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
      border: solid 1px #32b15f;
      background-color: #ffffff;
      padding: 30px 30px;
      max-width: 430px;
      min-height: 140px;
      margin: 40px auto;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-image: url(../img/bg-index-member@2x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 516px 382px;
        width: 516px;
        height: 382px;
        z-index: -1;
      }

      li {
        content: ".";
        color: $green-light;
        font-size: 24px;
        margin-left: 22px;

        h3 {
          font-size: 1.25rem;
          color: $black;
          margin-bottom: 5px;
        }

        p {
          font-size: 1rem;
          margin-bottom: 20px;
          color: $grey-deep;
        }

        &:last-child {
          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .ins-ser-box {
      position: relative;

      .ins-ser-line {
        position: absolute;
        top: 50%;
        left: 36px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

.ins-value {
  position: relative;
  padding: 50px 0 80px;

  &::before {
    content: "";
    position: absolute;
    background-color: $green-middle;
    height: 192px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .ins-value-box {
    border-radius: 20px;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    background-color: $white;
    padding: 48px 10px;

    .number {
      font-size: 4.125rem;
      font-weight: bold;
      color: $green-darkgreen;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 0;
    }

    span {
      color: $green-middle;
    }
  }
}

@media (min-width: 1440.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .bg-img {
    &.lg-img {
      img {
        display: none;
      }
    }

    &.md-img {
      img {
        display: block;
      }
    }

    &.sm-img {
      img {
        display: none;
      }
    }
  }

  .ins-life .ins-item {
    width: 700px;

    .ins-item-pos {
      &.text-one {
        left: 160px;
        bottom: 67px;
      }

      &.text-two {
        left: 33px;
        top: 63px;
      }

      &.text-three {
        left: 296px;
        top: 10px;
      }

      &.text-four {
        right: 15px;
        bottom: 55px;
      }

      &.text-five {
        right: 92px;
        bottom: 140px;
      }
    }
  }

  .more-ins .more-ins-title-box {
    right: 0px;
  }

  .more-ins .nav-link:hover {
    -webkit-transform: inherit;
    transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
  }

  .ins-value .ins-value-box .number {
    font-size: 3.125rem;
  }
}

@media (min-width: 991.98px) and (max-width: 1131px) {
  .more-ins .nav-link .slider-card {
    transform: scale(0.8);
  }
}

@media (min-width:  991.98px) and (max-width: 1300px) {
  .more-ins .nav-link .slider-card {
    width: 330px;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .ins-service {
    .ins-service-item .ins-ser-box .ins-ser-line {
      position: absolute;
      top: 50%;
      left: -16px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .ins-service-img {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }

    .ins-ser-bg {
      background-size: 100%;
    }
  }
}

@media (max-width: 991.98px) {
  .more-ins {
    background-image: url(../img/bg-index-product-middle-m@2x.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 991px 440px;
    height: auto;
    display: block;
    margin-top: 70px;
    padding: 30px 0px 80px;
    position: relative;
    // background-color: #73cb87;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/bg-index-product-top-m@2x.png);
      background-size: 991px 40px;
      background-position: center;
      top: -40px;
      left: 0;
      right: 0;
      width: 991px;
      height: 40px;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/bg-index-product-bottom-m@2x.png);
      background-size: 992px 41px;
      background-position: center;
      bottom: -40px;
      left: 0;
      right: 0;
      width: 992px;
      height: 41px;
      background-repeat: no-repeat;
      display: none;
    }

    .more-ins-title {
      width: 100%;
    }

    .navtab {
      margin-top: 0px;
      width: 100%;
      max-width: 768px;
      margin: 0px auto;
    }

    .more-ins-title-box {
      position: initial;
      text-align: center;
      margin-left: 0;
      padding: 0 20px;
    }

    .slick-track {
      left: 0px;
    }

    .slick-slider {
      overflow: inherit;
    }
  }

  .ins-service .ins-service-item {
    ul {
      margin: 58px auto 20px;
      padding: 20px 30px;
    }

    .ins-ser-box .ins-ser-line {
      position: absolute;
      top: -20px;
      left: 50%;
    }
  }

  .ins-value {
    .ins-value-box {
      .number {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  .ins-item {
    p {
      margin-bottom: 16px;
    }
  }

  ol.carousel-indicators {
    bottom: -15px;
  }

  .sectLg .title {
    font-size: 2.125em;
  }

  .more-ins .more-ins-title-box .more-title {
    font-size: 2.125em;
  }
  .ins-service {
    margin-bottom: 80px;
  }
  .more-ins .more-ins-title-box.cards-two {
    right: 0px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .more-ins{
    background-size: 991px 480px;
  }
}

@media (max-width: 767.98px) {
  .bg-img {
    &.lg-img {
      img {
        display: none;
      }
    }

    &.md-img {
      img {
        display: none;
      }
    }

    &.sm-img {
      img {
        display: block;
      }
    }
  }

  .ins-life {
    height: auto;
    background-image: url(../img/img-index-life-m.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 80px;

    .ins-item {
      width: auto;
      height: auto;
      display: table;
      padding-bottom: 94px;

      .ins-item-pos {
        position: initial;

        &.text-one .bg-orange::before,
        &.text-two .bg-green-light::before,
        &.text-three .bg-deep-green::before,
        &.text-four .bg-orange::before,
        &.text-five .bg-green-light::before {
          display: none;
        }

        .ins-box {
          border-radius: 60px;
          max-width: 242px;
          min-height: 46px;
          margin-bottom: 12px;
          font-size: 0.875rem;
          line-height: 1.07;
        }

        &:nth-child(even) {
          .ins-box {
            margin-left: 75px;
          }
        }
      }
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .ins-life {
      background: url(../img/img-index-life-m@2x.png);
      background-repeat: no-repeat;
      background-size: 740px 208px;
      background-position: center bottom;
    }
  }

  .sectLg .title {
    font-size: 1.75rem;
  }

  .ins-item {
    margin: 0px auto;

    .item {
      border-bottom: 1px solid $grey-light-left;
      padding: 20px 0px 30px;
      margin: 0px 15px;
    }

    .item-row {
      margin-bottom: 0px;

      &:last-child {
        .item {
          border-bottom: 0px;
        }
      }
    }

    img {
      padding-top: 40px;
    }

    h2 {
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 16px;
    }

    ul {
      margin-left: 22px;
    }
  }

  .more-ins {
    margin-bottom: 50px;
    padding: 30px 0px 40px;

    .more-ins-title-box {
      .more-title {
        font-size: 1.75rem;
      }

      h2 {
        font-size: 1.125rem;
      }
    }

    .navtab {
      margin-top: 0px;
      max-width: 380px;
    }

    .slick-list {
      overflow: inherit;
    }

    .nav-link {
      padding: 0px 8px;

      img {
        width: 116px;
      }

      p {
        font-size: 1rem;
      }
    }

    .slick-track {
      left: 0px;
    }
  }

  .ins-service {
    .ins-service-img {
      width: 325px;
      height: 325px;

      .ins-ser-ball {
        &.one {
          height: 41px;
          width: 41px;
          right: 85px;
          top: -7px;
        }

        &.two {
          height: 39px;
          width: 39px;
          right: -17px;
          top: 118px;
        }

        &.three {
          width: 28px;
          height: 28px;
          right: 46px;
          bottom: 22px;
        }

        &.four {
          width: 23px;
          height: 23px;
          left: 67px;
          bottom: 13px;
        }

        &.five {
          width: 28px;
          height: 28px;
          left: -13px;
          bottom: 144px;
        }

        &.six {
          width: 39px;
          height: 39px;
          left: 4px;
          top: 64px;
        }
      }
    }

    .ins-service-item ul::before {
      content: "";
      position: absolute;
      background-image: url(../img/bg-index-member-m@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 580px 350px;
      width: 580px;
      height: 350px;
    }
  }

  .ins-value {
    padding: 20px 0 113px;

    .ins-value-box {
      padding: 0px 20px;

      .number {
        padding: 30px 0px;
        border-bottom: 1px solid $grey-light-left;
      }

      .row div:last-child {
        .number {
          border-bottom: 0px;
        }
      }
    }

    &::before {
      height: 352px;
    }
  }

  .ins-service {
    margin-bottom: 80px;
  }

  .more-ins .nav-link .slider-card {
    min-width: 300px;
    width: 300px;
    padding: 30px 30px 24px;
  }

  section.banner {
    margin-bottom: 50px;
  }

  ol.carousel-indicators {
    bottom: -35px;
  }
}

@media (max-width: 575.98px) {
}

/* less than 480px */
@media (max-width: 520px) {
  .more-ins {
    margin-bottom: 50px;
    padding: 30px 0px 40px;

    &::before {
      content: "";
      position: absolute;
      background-size: 100%;
      top: -30px;
      width: 600px;
      height: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      background-size: 100%;
      background-position: center;
      bottom: -27px;
      left: -20%;
      right: 0;
      width: 700px;
      height: 45px;
    }
  }
  .bg-img.sm-img img {
    width: 650px;
    height: auto;
  }
}

/* less than 370px */
@media (max-width: 370px) {
}

/* less than 360px */
@media (max-width: 360px) {
  .more-ins .nav-link {
    .slider-card {
      min-width: 280px;
      width: 280px;
      padding: 20px 30px 28px;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

/* less than 320px */
@media (max-width: 320px) {
  .ins-service {
    .ins-service-img {
      width: 280px;
      height: 280px;

      .ins-ser-ball {
        &.one {
          height: 41px;
          width: 41px;
          right: 70px;
          top: -12px;
        }

        &.two {
          height: 39px;
          width: 39px;
          right: -17px;
          top: 103px;
        }

        &.three {
          width: 28px;
          height: 28px;
          right: 34px;
          bottom: 18px;
        }

        &.four {
          width: 23px;
          height: 23px;
          left: 67px;
          bottom: 13px;
        }

        &.five {
          width: 28px;
          height: 28px;
          left: -9px;
          bottom: 105px;
        }

        &.six {
          width: 39px;
          height: 39px;
          left: 1px;
          top: 54px;
        }
      }
    }

    .ins-service-item ul::before {
      content: "";
      position: absolute;
      background-image: url(../img/bg-index-member-m@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      width: 120%;
      height: 120%;
    }
  }

  .more-ins .nav-link .slider-card {
    min-width: 250px;
    width: 250px;
    padding: 10px 30px 18px;
  }
}
