%menuitem {
  position: absolute;
  top: 48px;
  left: 0;
  box-shadow: 0 10px 30px 0 rgba(178, 181, 189, 0.5),
    0 40px 80px 0 rgba(223, 230, 232, 0.74);
  background-color: $white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 1;
}

%li-line {
  width: 1px;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

%a-link {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.fixed-top {
  &.fixed-push {
    top: 45px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.is-pill {
  &.tab {
    display: flex;
    width: 100%;
    vertical-align: bottom;
    border-bottom: 2px solid #000;

    li {
      margin-right: 20px;
      display: inline-block;

      a {
        display: block;
        white-space: nowrap;
        padding: 14px;
        line-height: 1;
        text-align: center;
        border-radius: 5px 5px 0 0;
        color: #000;
        background: #f9f8f7;
        cursor: pointer;
        font-weight: 500;
      }
    }

    &.is-pill {
      background: #fff;
      display: inline-block;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border: 1px solid #d7e4e4;
      width: auto;
      min-width: 150px;

      li {
        margin: 0 !important;

        a {
          min-width: 164px;
          color: #000;
          border-radius: 50px;
          border: 2px solid transparent;
          background: none;
        }
      }
    }

    &.is-fill {
      display: flex !important;
      width: 100%;

      li {
        flex: 1;
      }
    }

    li.active {
      a {
        border-color: #00a94f;
        color: #00a94f;
        background: #fff;
      }
    }
  }
}

header {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .container {
    max-width: 1440px;
  }

  .header-top {
    border-bottom: 2px solid $green;
    padding: 14px 0px 11px;
    font-size: 0.875rem;
    font-weight: 500;

    .logo {
      display: inline-block;
      margin-right: 10px;
      margin-left: 5px;
    }

    .search-box {
      li {
        display: inline-block;
        position: relative;
        padding: 0px 14px;

        &::before {
          content: "";
          position: absolute;
          height: 12px;
          background-color: $grey-light-left;
          @extend %li-line;
        }

        &:last-child::before {
          display: none;
        }

        &.active {
          a {
            color: $green;
            text-decoration: underline;
          }
        }

        a {
          color: $grey;
        }
      }

      &:first-child {
        li {
          padding: 0px 16px;

          a {
            color: $black;

            &:hover {
              color: $green;
            }
          }
        }
      }

      .search {
        cursor: pointer;
        background-color: #fff;

        [type="button"]:not(:disabled) {
          border: 0px;
        }
      }

      .search-icon {
        .i-search {
          display: none;
        }

        .i-cancel {
          display: inline-block;
          -webkit-animation-name: fade-in;
          animation-name: fade-in;
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
        }

        &.collapsed {
          .i-search {
            display: inline-block;
            -webkit-animation-name: fade-in;
            animation-name: fade-in;
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
          }

          .i-cancel {
            display: none;
          }
        }
      }
    }

    .language {
      border-bottom: 0px;
      display: inline-block;
      margin-right: 14px;

      li {
        padding: 0px 14px;
        cursor: pointer;

        &::before {
          height: 12px;
        }
      }
    }

    .menuopen {
      cursor: pointer;
    }
  }

  .menu-web {
    .container {
      position: relative;
    }

    li {
      &.nav-item {
        padding: 14px 12px;
        display: inline-block;
        cursor: pointer;

        .nav-link {
          padding: 0px;
          color: $black;
          font-weight: 500;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;

          &:hover {
            color: $green;
          }
        }

        .img-writ {
          @extend %menuitem;
          width: 776px;

          .menu-more {
            padding: 13px;
            text-align: center;
            background-color: $grey-menu-line;
            margin-top: -8px;
            color: $green;
            font-weight: 500;
            cursor: pointer;
            border-radius: 0px 0px 5px 5px;
            -webkit-border-radius: 0px 0px 5px 5px;
            -moz-border-radius: 0px 0px 5px 5px;
            -ms-border-radius: 0px 0px 5px 5px;
            -o-border-radius: 0px 0px 5px 5px;

            &:hover {
              opacity: 0.8;
            }
          }

          .img-writ-content {
            padding: 18px 24px;
            position: relative;
            text-align: center;

            hr {
              border-top: 4px solid $grey-menu-line;
              margin: 0;
            }

            a {
              min-width: 110px;
              min-height: 120px;
              display: block;
              color: #000;
              padding: 20px 20px 19px;

              div {
                margin-top: 5px;
              }

              &:hover {
                background-color: $bg-grey;
              }
            }

            .category-grid {
              padding: 10px;
              font-weight: 500;

              &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 100%;
                top: 0;
                bottom: 0;
                margin: auto;
                right: -2px;
                background-color: $grey-menu-line;
              }

              &:nth-child(3)::before {
                display: none;
              }
            }
          }
        }

        .img-list {
          @extend %menuitem;

          .img-list-content {
            padding: 18px 24px 0px;
            max-width: 858px;

            div {
              border-right: 4px solid $grey-menu-line;
              min-width: 280px;
              min-height: 320px;

              span {
                font-size: 1.25rem;
                font-weight: bold;
                padding-left: 20px;
              }

              &:last-child {
                border-right: 0px;
              }

              h4 {
                margin: 0;
                padding: 10px 20px;
                line-height: 1.4;
                letter-spacing: 0.6px;
              }

              ul {
                padding-left: 20px;

                li {
                  position: relative;
                  padding: 8px 20px;
                  -webkit-transition: all 0.3s ease;
                  transition: all 0.3s ease;
                  line-height: 1.25;
                  max-width: 280px;

                  &:hover {
                    opacity: 0.8;
                  }

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 9px;
                    width: 16px;
                    height: 16px;
                    background-image: url("../img/header-menu/ic-menu-arrow.png");
                    background-repeat: no-repeat;
                    background-size: 16px 16px;
                  }

                  @media (-webkit-min-device-pixel-ratio: 2),
                    (min-resolution: 2dppx) {
                    &::before {
                      background: url("../img/header-menu/ic-menu-arrow@2x.png");
                      background-repeat: no-repeat;
                      background-size: 16px 16px;
                    }
                  }

                  i {
                    position: absolute;
                    top: 1px;
                    left: 0;
                  }
                }
              }

              img {
                height: 92px;
                position: absolute;
                right: 14px;
                bottom: 15px;
              }
            }
          }

          .menu-more {
            padding: 13px;
            text-align: center;
            background-color: $grey-menu-line;
            margin-top: 0px;
            color: $green;
            font-weight: 500;
            cursor: pointer;
            border-radius: 0px 0px 5px 5px;
            -webkit-border-radius: 0px 0px 5px 5px;
            -moz-border-radius: 0px 0px 5px 5px;
            -ms-border-radius: 0px 0px 5px 5px;
            -o-border-radius: 0px 0px 5px 5px;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    position: relative;
    box-shadow: 0 3px 4px 0 rgba(174, 182, 189, 0.48);
    background-color: $white;
    .search-area {
      position: absolute;
      width: 100vw;
      background: #ffffff;
      border: 1px solid #d7e4e4;
      box-shadow: 0 28px 35px -15px #e8e9e9;
      left: 0;
      top: 0;
      padding: 20px 0;
      z-index: 99;
      font-weight: 500;

      .form {
        position: relative;
        display: block;
        padding: 36px 0 24px;

        input {
          width: 100%;
          max-width: 630px;
          display: block;
          border: 0;
          margin: auto;
          background: none !important;
          font-size: 36px;
          outline: none;
          letter-spacing: 0.5px;
        }

        .btn-submit {
          position: absolute;
          border: 0;
          min-width: 0;
          background: #fff;
          color: #000;
          right: 0;
          top: 50%;
          bottom: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          box-shadow: none;
        }
      }

      hr {
        max-width: 1200px;
      }

      .recommand {
        font-size: 14px;
        text-align: center;
        font-weight: 400;

        .keyword {
          color: $green;
          margin: 0 8px;
        }
      }
    }
  }
  .header-main {
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: -1;
    background-color: $white;
    &.hideTop {
      transform: translateY(-66px);
      position: absolute;
      width: 100%;
      .header-top {
        position: relative;
        transition: all 0.6s;
        opacity: 0;
      }
    }
  }
}

// menu在大版的hover動作
.menu-web li.nav-item > .img-writ,
.menu-web li.nav-item > .img-list {
  display: none;
  // -webkit-animation-name: fade-in;
  // animation-name: fade-in;
  // -webkit-animation-duration: 0.3s;
  // animation-duration: 0.3s;
  // transform-origin: 0 0;
  // transform: scaleY(0);
  // transition: 0.3s;
}

// .menu-web li.nav-item:hover > .img-writ,
// .menu-web li.nav-item:hover > .img-list {
//   display: inline-block;
// }

.menu-mob {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: $bg-grey;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s;

  // display: none;
  &.show {
    left: 0%;
  }

  .ctrlbar {
    height: 60px;
    padding: 10px;
    background: $white;
    position: relative;

    .close {
      opacity: 1;
      position: absolute;
      background-color: $white;
      right: 0;
      top: 50%;
      /* bottom: 50%; */
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    form {
      &.search {
        display: block;
        margin-right: 48px;

        label {
          position: absolute;
          left: 32px;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }

      input {
        display: block;
        height: 40px;
        border: 0;
        line-height: 1;
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        margin-left: 45px;
      }
    }
  }

  .item {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    background-color: $bg-grey;

    div {
      display: table-cell;
      padding: 12px 10px 11px;
      cursor: pointer;

      div {
        display: block;
        padding: 5px 0px 0px;
        font-size: 0.8125em;
        line-height: 1.38;
        letter-spacing: 0.4px;
      }
    }
  }

  .navbar {
    padding: 0;

    li {
      background-color: $green;
      line-height: 1.25;

      a {
        position: relative;
        padding: 11px 50px 11px 20px;
        color: $white;
        border-bottom: 1px solid $white;
        white-space: inherit;
      }

      li {
        background-color: $bg-grey;

        a {
          padding: 11px 50px 11px 36px;
          color: $black;
          border-bottom: 1px solid $grey-light-left;
        }

        &:last-child a {
          border: 0px;
        }

        &:last-child {
          border: 0px;
        }

        li {
          a {
            background-color: $bg-green-light;

            &:hover {
              background-color: $bg-green-light;
            }
          }
        }
      }

      .i-down {
        display: inline-block;
      }

      .i-up {
        display: none;
      }

      &.show {
        .i-up {
          display: inline-block;
        }

        .i-down {
          display: none;
        }
      }

      &:last-child li a {
        border-bottom: 1px solid $grey-light-left;
      }
    }

    .dropdown-menu {
      margin-top: 0;
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;

      .dropdown-submenu {
        .i-up {
          display: none;
        }

        .i-down {
          display: inline-block;
        }

        &.show {
          .i-up {
            display: inline-block;
          }

          .i-down {
            display: none;
          }
        }
      }
    }
  }
}

.language {
  text-align: center;
  border-bottom: 1px solid $grey-light-left;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      color: $grey;
      padding: 12px;
      position: relative;

      &.active {
        color: $green;
        text-decoration: underline;
      }

      &::before {
        content: "";
        position: absolute;
        height: 16px;
        background-color: $grey-light-left;
        @extend %li-line;
      }

      &:last-child::before {
        display: none;
      }

      &.active {
        a {
          color: $green;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      a {
        color: $grey;

        &:hover {
          color: $green;
          @extend %a-link;
        }
      }
    }
  }
}

.news-message {
  padding: 14px;
  font-size: 0.875rem;
  line-height: 1.29;
  color: $white;
  position: relative;
  z-index: 1;

  .container {
    margin: 0px auto;
    max-width: 1440px;
    padding-left: 5px;
  }

  .news-mes-contet {
    position: relative;
    padding-right: 42px;
    align-items: center;

    i {
      position: absolute;
      right: 0;
      top: 50%;
      bottom: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
      opacity: 1;

      &:hover {
        opacity: 0.9;
      }
    }

    .desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      display: flex;
      align-items: center;
    }

    .mes-link {
      white-space: nowrap;
      height: 16px;
      a {
        color: $white;
        text-decoration: underline;
        &:hover,
        &:focus {
          color: $white;
        }
      }
    }

    &.open {
      display: block;

      .desc {
        white-space: inherit;
      }
    }
  }

  &.hide {
    display: none;
  }
}

// menu在大版的hover動作 END

@media (min-width: 1440.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/* STYLES HERE */

@media (max-width: 991.98px) {
  .navbar-toggler {
    padding-right: 0px;
    padding-left: 5px;
  }

  .header-top {
    .btn-radius {
      min-width: 90px;
      line-height: 32px;
      height: 32px;
      padding: 0px 10px;
    }
  }
  header .header-top {
    padding: 8px 0px;
  }
  .news-message {
    position: static;
  }
  .news-message .news-mes-contet {
    position: relative;
    padding-right: 18px;

    i {
      right: -24px;
    }
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

/* less than 480px */
@media (max-width: 520px) {
}

/* less than 375px */
@media (max-width: 375px) {
  header .header-top {
    .logo {
      width: 130px;
    }
  }

  .fixed-top {
    min-width: 320px;
  }
}

/* less than 320px */
@media (max-width: 320px) {
}
