.breadcrumb {
  background-color: inherit;
  font-size: 0.875rem;
  margin: 18px 15px 15px;
  padding: 0px;

  a {
    color: #7d8a94;
  }

  .breadcrumb-item.active {
    color: $black;
  }
}

.news {
  h1 {
    padding-top: 45px;
    padding-bottom: 50px;
    letter-spacing: 1px;
    margin: 0;
  }
}

.news-container {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14);
  border-radius: 10px;
  border: 1px solid #d7e4e4;
  display: block;
  background: #ffffff;
  transition: transform 0.3s ease;

  &.news {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);

    a {
      padding: 20px 30px 20px 20px;
      display: inherit;
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .image {
    position: relative;
    padding-bottom: 54.73684%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      top: -100%;
      bottom: -100%;
      margin: auto;
    }
  }

  &.news {
    .content {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex: 1;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      padding: 0 0 0 16px;
      color: $black;
      position: relative;

      .meta {
        font-size: 0.875rem;
        margin-top: 0;
        margin-bottom: 8px;
        color: $grey;
      }
    }
  }

  .content {
    .action {
      position: absolute;
      bottom: 13px;
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
  }
}

.card.search .content h2,
.card.search .content h4,
.card.news .content h2,
.card.news .content h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 16px;
  max-height: 56px;
}

.card.search .image,
.card.news .image {
  position: relative;
  width: 200px;
  height: 136px;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 10px;
}

.dropdown {
  .btn {
    border-radius: 24px;
    padding: 14px 40px 14px 18px;
    box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4);
    background-color: $white;
    color: $black;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.5px;
    border: 0px;
    position: relative;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    min-width: inherit;
    height: 54px;
    background-image: url(../img/element/icon-menu-arrow-down@2x.png);
    background-position: right 20px top 20px;
    background-size: 16px;
    background-repeat: no-repeat;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      text-align: left;
      font-weight: 400;
    }

    &.day {
      background-image: url(../img/element/ic-date-s@2x.png);
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  i {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
  }

  a {
    color: $black;
  }

  a:visited,
  a:visited {
    color: $black;
    font-weight: 400;
  }

  .dropdown-item {
    padding: 12px 16px;
    word-wrap: break-word;
    white-space: inherit;

    &.second-sele {
      padding-left: 30px;
    }

    &:hover {
      background-color: #f9f8f7;

      &:last-child {
        border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -ms-border-radius: 0px 0px 5px 5px;
        -o-border-radius: 0px 0px 5px 5px;
      }

      &:first-child {
        border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -ms-border-radius: 0px 0px 5px 5px;
        -o-border-radius: 0px 0px 5px 5px;
      }
    }

    &.active {
      &:hover {
        background-color: #ddd;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    margin-top: 5px;

    &.data-display {
      margin-top: -4px;
    }

    a:link:hover {
      opacity: inherit;
    }

    .dropdown-item:hover:first-child {
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
    }

    .drop-title {
      padding: 20px 16px 12px;
      color: $green-shadow;
      font-weight: 500;
      font-size: 0.875rem;

      &:first-child {
        padding-top: 12px;
      }
    }
  }
}

.article {
  padding-top: 38px;
  font-size: 1.125rem;
  padding-bottom: 100px;

  section {
    padding-top: 33px;
    padding-bottom: 10px;
  }

  .public_at {
    color: $grey;
    font-size: 0.875rem;
  }

  h2 {
    margin-bottom: 24px;
    letter-spacing: 0.7px;
  }

  img {
    width: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
  }

  .cover {
    margin-bottom: 53px;
  }

  p {
    margin-bottom: 24px;
    line-height: 1.33;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .art-label {
    margin-bottom: 20px;
    line-height: 1.43;
  }

  ol {
    margin-bottom: 24px;
    padding-left: 30px;
    line-height: 1.56;
  }

  ul {
    list-style: disc;
    margin-left: 30px;
  }

  span {
    color: $orange;
  }

  .article-content {
    padding-bottom: 60px;
  }
}

// .dropdown.show {
//     .icons-ic-news-arrow-down {
//         transform: rotate(180deg);
//     }
// }

.dropdown-item.active,
.dropdown-item:active {
  color: $black;
  text-decoration: none;
  background-color: #ddd;

  &:first-child {
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
  }
}

.pop-menu {
  .dropdown .dropdown-menu {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.caption {
  margin-bottom: 109px;
  margin-top: 62px;

  h1 {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    line-height: 1.4;
  }

  .labels {
    font-size: 0.875rem;
    margin-left: 15px;

    a {
      padding: 0px 8px;
    }

    span {
      padding-right: 8px;
    }
  }

  .input-group {
    display: table;
    width: 100%;
    border-collapse: separate;

    &.search-box {
      position: relative;
      width: 100%;
      max-width: 650px;
      margin-left: 15px;

      .input-search {
        position: relative;
        margin-bottom: 16px;

        input {
          width: 100%;
          margin: 0;
          font-size: 16px;
          border: 0px;
          border-right: 0;
          background: $white;
          box-shadow: 0 0 6px 0 rgba(182, 182, 182, 0.57);
          border-radius: 32px;
          padding: 17px 24px;
          height: 54px;
        }

        i {
          right: 0;
          top: 50%;
          background-color: $white;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          cursor: pointer;
          position: absolute;
        }
      }
    }
  }
}

@media (min-width: 1440.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .caption {
    margin-bottom: 80px;
    h1 {
      width: 320px;
    }
  }
}

@media (max-width: 767.98px) {
  .card.news .image,
  .card.search .image {
    height: auto;
    border-radius: 10px 10px 0 0;
    display: none;
  }

  /*for ie10 、 ie11*/
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .card.news .image,
    .card.search .image {
      max-height: 300px;
    }
  }

  .card .image {
    padding-bottom: 0;
    width: 100% !important;
  }

  .card.news,
  .card.search {
    flex-direction: column;
  }

  .card.news .image img,
  .card.search .image img {
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border-radius: 10px 10px 0 0;
  }

  .card.news .content,
  .card.search .content {
    display: block;
    padding: 0px 0px 20px;
  }

  .news {
    h1 {
      padding-top: 15px;
      padding-bottom: 14px;
    }

    .breadcrumb {
      padding: 0px;
    }

    .label,
    a.label:link {
      font-size: 0.75rem;
      margin-right: 10px;
      min-width: 130px;
      letter-spacing: 0.3px;
      padding: 2px 7px 0px;
    }
  }

  .news-container {
    margin-top: 33px;

    h4 {
      font-size: 1.125rem;
    }

    .news {
      h4 {
        font-size: 1rem;
      }

      a {
        padding: 20px 16px;
        display: block;
      }
    }
  }

  .card.news .content .meta {
    font-size: 0.75rem;
  }

  .article {
    padding-top: 18px;

    .cover {
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 30px;
      line-height: 1.4;
    }

    p {
      margin-bottom: 20px;
    }

    ol {
      margin-bottom: 20px;
    }

    .art-label {
      margin-bottom: 16px;
    }
  }

  .caption {
    margin-bottom: 124px;
    margin-top: 0px;

    h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-left: 0px;
      margin-right: 0px;
      width: auto;
    }

    .input-group.search-box {
      margin-left: 0px;
    }
  }

  .card .content .action {
    bottom: 0px;
  }

  .breadcrumb {
    height: 42px;
    margin: 18px 15px 15px 0;
  }
}

@media (max-width: 575.98px) {
}

/* less than 480px */
@media (max-width: 520px) {
}

/* less than 375px */
@media (max-width: 375px) {
}

/* less than 320px */
@media (max-width: 320px) {
}
