%display-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-dialog {
  max-width: 600px;
  padding-left: 0px;
}

.notice {
  .modal-dialog {
    max-width: 450px;
  }
}

.display-block {
  display: block;
}

.pr-10px {
  padding-right: 10px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.mt-20px {
  margin-top: 20px !important;
}

.mt-30px {
  margin-top: 30px;
}

.mb-12px {
  margin-bottom: 12px !important;
}

.my-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal {
  .modal-content {
    border: 0px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    .modal-header {
      position: relative;
      background: $green-middle;
      border-radius: 30px 30px 0 0;
      -webkit-border-radius: 30px 30px 0 0;
      -moz-border-radius: 30px 30px 0 0;
      -ms-border-radius: 30px 30px 0 0;
      -o-border-radius: 30px 30px 0 0;

      .modal-title {
        margin: 0 auto;
        color: $white;
        width: 100%;
      }

      .close {
        padding: 0;
        margin: 0;
      }

      .icons-ic-popup-close {
        margin-top: 4px;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 20px;
        opacity: 1;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 30px 30px 30px 30px;

      &.modal-title-20 {
        padding: 20px 30px 30px 30px;
      }

      .modal-body-title {
        color: $black;
        text-align: center;
      }

      h3 {
        margin-bottom: 20px;
      }

      .detail-card {
        margin-bottom: 20px;
        padding: 22px 16px 16px 16px;
        width: 100%;
        background: $white;
        box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14);
        border: 1px solid $grey-hel-tab-select;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .detail-card-title {
          margin: 0;

          .title-left {
            color: $black;
            padding-left: 20px;
            margin-bottom: 0px;

            &::before {
              position: absolute;
              content: "";
              width: 6px;
              height: 28px;
              background-color: $green-middle;
              left: 0;
              top: 0;
              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              -ms-border-radius: 30px;
              -o-border-radius: 30px;
            }
          }

          .title-right {
            margin-bottom: 0px;
            color: $green;
            text-align: right;
            font-size: 1.125rem;
          }
        }

        .detail-card-content {
          margin-top: 10px;
          font-size: 1rem;
          color: $grey-deep;
          line-height: 1.625rem;
          letter-spacing: 0.5px;
        }

        .detail-card-subtitle {
          margin: 20px 0 0 0;

          .title-left {
            margin-bottom: 0;
            color: $black;
          }

          .title-right {
            margin-bottom: 0px;
            color: $green;
            text-align: right;
            font-size: 1.125rem;
          }
        }

        .detail-card-subcontent {
          margin: 0;
          margin-top: 16px;

          .title-left {
            margin-bottom: 0;
            font-size: 1rem;
            color: $grey-deep;
            line-height: 1.625rem;
            letter-spacing: 0.5px;
          }

          .title-right {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            font-size: 1rem;
            color: $grey-deep;
            line-height: 1.625rem;
            letter-spacing: 0.5px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .number-list {
        li {
          font-size: 1rem;
          line-height: 1.75;
          letter-spacing: 1px;
        }
      }

      .plain-choose {
        padding: 17px 20px;
        margin-top: 20px;
        border: 2px solid #e1e4e9;
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &.active {
          border: 2px solid #fca832;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }

        .plain-info-left {
          padding: 0;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 40px;
            background: #e1e4e9;
            top: calc(50% - 20px);
            right: 0;
          }
        }

        .plain-info-right {
          color: #000;

          .area {
            color: #7d8a94;

            i {
              margin-left: 18px;
              margin-right: 18px;
            }
          }
        }
      }

      .img-notice {
        width: 100%;
        max-width: 20px;

        img {
          width: 100%;
        }
      }
    }

    &.modal-white {
      .modal-header {
        background: $white;
        border-bottom: 0px;

        .icons-ic-popup-close-b {
          margin-top: 4px;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 20px;
          cursor: pointer;
          z-index: 1;
          opacity: 1;
        }
      }

      .modal-body {
        padding-top: 8px;

        .modal-body-img {
          text-align: center;
          margin-bottom: 20px;
        }

        .modal-body-content {
          p {
            margin-bottom: 10px;
            color: $black;
            text-align: center;
            font-weight: normal;
            line-height: 24px;
            letter-spacing: 0.5px;
          }

          h5 {
            font-size: 1.125rem;
            text-align: center;
            margin-bottom: 14px;
          }
        }

        .link-txt {
          color: $green;
          text-decoration: underline;

          &:hover,
          &:focus {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.login-p {
  .btn {
    width: 100%;
  }

  .title {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 16px auto;

    &.more {
      display: block;
      position: relative;
      z-index: 1;

      div {
        display: inline-block;
        background-color: $white;
        padding: 0px 20px;
      }

      &::before {
        position: absolute;
        border-bottom: 1px solid $grey-light-left;
        top: 50%;
        left: 0px;
        z-index: -1;
      }

      &::after {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: $grey-light-left;
      -ms-flex: 1 1 100%;
      margin: 0 20px 0 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: $grey-light-left;
      -ms-flex: 1 1 100%;
      margin: 0 0 0 20px;
    }
  }

  .link {
    div {
      a {
        border: 2px solid $grey-light-left;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 10px;
        display: block;
        color: $grey-deep;
        max-width: 180px;
        margin: 0px auto;
      }

      i {
        margin-right: 8px;
      }
    }

    &.link-w {
      div a {
        max-width: inherit;
      }
    }
  }
}

.choose-card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14);
  border: solid 2px $grey-hel-tab-select;
  background-color: $white;
  margin-bottom: 20px;

  a {
    display: block;
    color: $black;

    &:hover,
    &:focus {
      color: $black;
    }
  }

  .link {
    a {
      display: block;
      color: $green;
      text-decoration: underline;
      padding-top: 20px;

      &:hover,
      &:focus {
        color: $green;
        opacity: 0.8;
      }
    }
  }

  .choose-top {
    position: relative;
    @extend %display-flex-center;
    padding: 9px 20px;
    border-bottom: solid 2px $grey-hel-tab-select;
    background-color: $bg-green-top;
    border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;

    .choose-row {
      @extend %display-flex-center;

      .item {
        color: $black;
        margin-left: 15px;
        display: inline-block;
        line-height: initial;
      }

      .detail {
        color: $grey-deep;
        margin-left: 12px;
        display: inline-block;
      }
    }

    .edit {
      cursor: pointer;

      ul {
        position: absolute;
        right: -2px;
        top: 54px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14);
        border: solid 2px $grey-hel-tab-select;
        background-color: $white;
        min-width: 110px;
        text-align: center;

        li {
          transition: color 0.3s ease;
          -webkit-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          -ms-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          padding: 12px 20px;

          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .choose-content {
    padding: 0px 16px;

    .choose-content-detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 0px;
      border-bottom: solid 1px $grey-light-left;
      word-wrap: break-word;

      .choose-caption {
        color: $grey-deep;
        width: 35%;
        padding-right: 10px;
      }

      div:last-child {
        width: 65%;
      }

      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

.service-notice-btn {
  margin-top: 30px;
}

.modal-btn-more {
  .btn {
    min-width: 180px;
  }
}

/* 上傳檔案樣式 start */
.setting {
  padding: 0px 0px 7em;

  .upload-txt {
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: $black;

    span {
      margin-left: 12px;
      color: $grey;
    }
  }

  .upload-title {
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: $black;
  }

  .upload {
    margin: 0px auto;
    width: 100%;
    max-width: 320px;

    .upload-img {
      padding: 12px 18px;
      overflow: hidden;
      border: 1px dashed $grey;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      i {
        position: absolute;
        top: -20px;
        right: -20px;
        cursor: pointer;
      }

      &.img-news {
        width: 100%;
        height: 203px;
        vertical-align: middle;
        display: table-cell;
      }

      .upload-img-border {
        overflow: hidden;
        border: 1px solid $grey-line;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        max-height: 177px;
        max-width: 282px;
      }
    }

    .choose-file + .upload-file {
      background-color: $white;
      box-sizing: border-box;
      color: #5a5541;
      font-family: Sans-serif;
      font-size: 1rem;
      font-weight: 400;
      display: table-cell;
      margin: 0px;
      text-align: center;
      border: 1px dashed $grey-line;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      text-transform: initial;
      cursor: pointer;
      width: 400px;
      height: 250px;
      vertical-align: middle;

      &.news-file {
        width: 320px;
        height: 203px;
      }

      &.success-file {
        width: 250px;
        height: 150px;
      }

      &.success-radius {
        width: 240px;
        height: 240px;
        border-radius: 60%;
        -webkit-border-radius: 60%;
        -moz-border-radius: 60%;
        -ms-border-radius: 60%;
        -o-border-radius: 60%;
      }

      &.status-error {
        border: 1px solid $red;
      }
    }

    .form-text {
      font-size: 0.875rem;
      font-weight: normal;
      color: $red;
      text-align: left;
    }

    .choose-file {
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
      position: absolute;
      width: 0.1px;
    }

    .upload-file {
      .file-img {
        margin: 0 auto;
        width: 100%;
        max-width: 69px;

        img {
          width: 100%;
        }
      }

      .file-txt {
        margin-top: 24px;
        font-size: 1rem;
        color: $green;
        font-weight: normal;
        word-wrap: break-word;
      }
    }

    i {
      vertical-align: top;
      margin-top: 2px;
      // margin-top: 5px;
    }

    p {
      padding: 10px 0px 0px;
      margin: 0;
      color: #000;
      font-size: 0.875rem;
    }

    &.mob-img {
      width: 140px;
    }

    .img-box {
      position: relative;
    }
  }

  &.input-type {
    // padding: 0px 0px 50px;
    padding: 0;

    .img-box {
      position: relative;
    }
  }

  &.s-general {
    padding: 0;

    .upload {
      display: inline-block;
      width: auto;
      margin: 15px;
    }

    .upload-txt {
      margin-bottom: 8px;
    }

    .upload-box {
      text-align: center;
      max-width: 720px;
      margin: 0px auto;
    }
  }
}

/* 上傳檔案樣式 end */

/* 賠付資訊popup樣式 start */
.notice-block {
  padding: 12px 16px;
  margin-bottom: 20px;
  background-color: $bg-green-top;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.row-border {
  padding: 0px;
  border: 1px solid $grey-light-left;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .row {
    padding: 20px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $grey-light-left;
  }

  .table-title {
    font-size: 1rem;
    font-weight: normal;
    color: $grey-deep;
  }
}

.cs-info-block {
  padding: 0 20px;
  margin-top: 14px;
  font-size: 0.875rem;
  color: $black;

  .row {
    padding: 6px 0;
  }

  .table-title {
    font-weight: normal;
    color: $grey-deep;
  }
}

/* 賠付資訊popup樣式 end */

@media (min-width: 1440.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .display-md-block {
    display: block;
  }

  .modal {
    .modal-content {
      .modal-header {
        .icons-ic-popup-close {
          margin-top: 0px;
        }
      }

      .modal-body {
        .btn.btn-white,
        .btn.btn-primary,
        .btn.btn-orange {
          padding: 9px 20px;
        }

        .plain-choose {
          padding: 16px 0;

          .plain-info-left,
          .plain-info-right {
            padding: 0 16px;
          }
        }
      }
    }
  }

  .modal .modal-content .modal-body .modal-body-title {
    h4 {
      font-size: 1.25rem;
    }
  }

  .choose-card {
    .choose-top .choose-row {
      .detail {
        margin-left: 15px;
      }
    }
  }

  .choose-card {
    .choose-content .choose-content-detail .choose-caption {
      min-width: 90px;
    }
  }

  .service-notice-btn {
    margin-top: 20px;
  }

  .modal-btn-more {
    .btn {
      min-width: 200px;
    }
  }
}

@media (max-width: 575.98px) {
  .notice {
    .modal-dialog {
      max-width: inherit;
    }
  }
}

/* less than 480px */
@media (max-width: 520px) {
}

/* less than 375px */
@media (max-width: 375px) {
}

/* less than 350px */
@media (max-width: 350px) {
  .login-p .link div {
    font-size: 0.75rem;
  }

  .choose-card {
    .choose-content .choose-content-detail .choose-caption {
      min-width: 76px;
    }
  }
}

/* less than 320px */
@media (max-width: 320px) {
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .modal .modal-content .modal-body .detail-card {
    margin-bottom: 30px;
  }

  .modal-body form {
    margin-bottom: 20px;
  }
}
