<section class="bookmark recom-book mc-box">
  <div class="container remove-width com-book com-book-cm">
    <div class="tab-content">
      <!-- travel Inside-->
      <div class="tab-pane fade show active bg-commodity p-0">
        <!-- commodity -->
        <app-commodity [childItems]="XcommodityItems"></app-commodity>
        <!-- commodity -->
        <!-- format -->
        <app-format></app-format>
        <!-- format -->
        <!-- project -->
        <app-project
          [childItemsOnline]="XprojectItemsOnline"
          [childItemsOffline]="XprojectItemsOffline"
        ></app-project>
        <!-- project -->
      </div>
      <!-- travel Inside end-->
    </div>
    <div class="com-book-l-bg">
      <img
        src="assets/img/commodity/bg-product-bubble-1.png"
        alt=""
        srcset="assets/img/commodity/bg-product-bubble-1@2x.png 2x"
        class="d-none d-lg-block"
      />
    </div>
    <div class="com-book-r-bg">
      <img
        src="assets/img/commodity/bg-product-bubble-2.png"
        alt=""
        srcset="assets/img/commodity/bg-product-bubble-2@2x.png 2x"
        class="d-none d-lg-block"
      />
    </div>
  </div>
</section>
