<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member-m@2x.png"
              alt=""
              srcset="/src/assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-member-m.png"
              alt=""
              srcset="/src/assets/img/img-bn-member-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="/src/assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.F08.L0001 }}</h1>
        </div>
      </div>
      <section class="sectLg service-inform-guarantee">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <p class="text-md-center mb-30 crude">
                    {{ FLang.F08.L0002 }}
                  </p>
                  <div
                    class="form-group"
                    [class.status-error]="
                      controls.orderNum.dirty &&
                      controls.orderNum.touched &&
                      controls.orderNum.invalid
                    "
                  >
                    <label>{{ FLang.F08.L0003 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        (change)="toUppercase($event)"
                        [attr.placeholder]="FLang.F08.L0004"
                        formControlName="orderNum"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="doClearInput('orderNum')"
                      ></i>
                    </div>
                    <small
                      [ngClass]="[
                        'form-text',
                        controls.orderNum.dirty &&
                        controls.orderNum.touched &&
                        controls.orderNum.invalid
                          ? ''
                          : 'd-none'
                      ]"
                    >
                      {{ getErrors(controls.orderNum) }}
                    </small>
                  </div>
                </div>
                <div class="text-center mb-4">
                  <a class="btn btn-primary" (click)="doSubmit()">
                    {{ FLang.F08.L0005 }}
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>

  <!-- model 無須元件化了 這都是唯一性的 -->
  <div
    class="modal fade notice"
    id="Modal-47"
    tabindex="-1"
    aria-labelledby="ModalLabel-47"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content modal-white">
        <div class="modal-header text-center">
          <i
            class="icons-ic-popup-close-b i-icon close d-none"
            data-dismiss="modal"
            aria-label="Close"
          ></i>
        </div>
        <div class="modal-body">
          <div class="modal-body-img">
            <i class="icons-ic-status-wrong i-icon"></i>
          </div>

          <div class="modal-body-content mb-20">
            <h5>{{ FLang.F08.L0006 }}</h5>
            <p>{{ FLang.F08.L0007 }}</p>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                aria-label="Close"
                (click)="doClearInput('orderNum')"
              >
                {{ FLang.F08.L0008 }}
              </button>
            </div>
            <div class="col-12 text-center">
              <button
                type="button"
                class="btn btn-white"
                data-target="#"
                (click)="doMaintain()"
              >
                {{ FLang.F08.L0009 }}
              </button>
            </div>
          </div>

          <div class="row mx-0 mt-30px">
            <div class="col-1 px-0 pr-10px">
              <div class="img-notice">
                <i class="icons-ic-notice i-icon"></i>
              </div>
            </div>
            <div class="col-11 px-0">
              <p class="mb-0 text-gray">
                {{ FLang.F08.L0010
                }}<a (click)="doMaintain()" class="link-txt cursor">{{
                  FLang.F08.L0009
                }}</a
                >{{ FLang.F08.L0011
                }}<a href="tel:028 6288 8385" class="p-grey-deep"
                  >028 6288 8385</a
                >{{ FLang.F08.L0012 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
