<div class="guarantee range">
  <div class="text-center title">{{ FLang.D02.title.D0002 }}</div>
  <div id="motorTableCompare" class="table-compare">
    <div class="compare-item">
      <div class="d-flex">
        <div class="col-auto Inside-title compare-title border-0">
          <div></div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex">
        <div class="col-auto Inside-title compare-title border-0">
          <div></div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D02.content.D0013 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D02.content.D0014 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D02.content.D0015 }}</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="d-flex bg-green-light">
        <div class="col-auto Inside-title compare-title">
          <div>{{ FLang.D02.content.D0016 }}</div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="compare-price-box">
      <div class="compare-price pr-motor">
        <table>
          <tbody>
            <tr class="compare-price-title border-0">
              <th colspan="2" class="line">{{ FLang.D02.content.D0017 }}</th>
              <th colspan="2" class="border-0">
                {{ FLang.D02.content.D0018 }}
              </th>
            </tr>
            <tr class="compare-price-second">
              <td [innerHTML]="FLang.D02.content.D0022"></td>
              <td class="line">{{ FLang.D02.content.D0023 }}</td>
              <td [innerHTML]="FLang.D02.content.D0024"></td>
              <td>{{ FLang.D02.content.D0026 }}</td>
            </tr>

            <tr>
              <td>-</td>
              <td class="line">-</td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
              <td><i class="icons-ic-table-check-b-o i-icon"></i></td>
            </tr>

            <tr>
              <td>
                <i class="icons-ic-table-check-b-o i-icon"></i>
              </td>
              <td class="line">-</td>
              <td>-</td>
              <td>-</td>
            </tr>

            <tr>
              <td>-</td>
              <td class="line">
                <i class="icons-ic-table-check-b-o i-icon"></i>
              </td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>-</td>
              <td class="line">-</td>
              <td>
                <i class="icons-ic-table-check-b-o i-icon"></i>
              </td>
              <td>
                <i class="icons-ic-table-check-b-o i-icon"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
