<main>
  <div class="com-content">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story">
          <img
            src="assets/img/img-bn-member.png"
            alt=""
            srcset="assets/img/img-bn-member@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="assets/img/img-bn-member-m.png"
            alt=""
            srcset="assets/img/img-bn-member-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-breadcrumb></app-breadcrumb>
        </div>
      </div>
    </div>
    <div class="caption">
      <div class="container">
        <h1>{{ FLang.F001.L0006 }}</h1>
      </div>
    </div>
    <section class="service-member-box">
      <div class="container remove-width">
        <div class="service-member">
          <div class="justify-content-start mr-auto">
            <h3>{{ FUserInfo.customer_name }}</h3>
            <p class="word-bb">{{ FUserInfo.email }}</p>
          </div>
          <a routerLink="/member/maintain" class="pen"
            ><i class="icons-ic-edit-pen i-icon"></i
          ></a>
        </div>
      </div>
    </section>

    <app-insurance-all
      [Finfo]="FPageinfo"
      (FShow)="showLeavePage()"
      [FPop]="FPop"
    ></app-insurance-all>

    <section class="service-message">
      <div class="container remove-width">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <app-important-notice></app-important-notice>
          </div>

          <div class="col-md-12 col-lg-4 service-item-box">
            <app-my-order
              [Finfo]="FPageinfo"
              [FDueSoonCardLength]="FDueSoonCard && FDueSoonCard.length"
              [FEndRsmntCardLength]="FEndRsmntCard && FEndRsmntCard.length"
              [xbeforstart]="FNextAction"
              (chooseAction)="openChooseInsurance($event)"
            ></app-my-order>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<app-leave-page
  [title]="popTitle"
  [info]="popInfo"
  (FLeavePage)="leavePage($event)"
></app-leave-page>
<app-important-notice-detail></app-important-notice-detail>
