<main>
  <div class="com-content">
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <app-breadcrumb></app-breadcrumb>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <section class="process-step">
      <ul class="d-flex">
        <li class="active">
          <div
            class="number"
            [class.d-none]="FStep === 'personInfo' || FStep === 'payment'"
          >
            1
          </div>
          <div class="number" [class.d-none]="FStep === 'calcAmt'">
            <i class="icons-ic-step-check i-icon"></i>
          </div>
          <div>{{ FLang.C04.step1.C0001 }}</div>
        </li>
        <li [class.active]="FStep === 'personInfo' || FStep === 'payment'">
          <div class="number" [class.d-none]="FStep === 'payment'">2</div>
          <div
            class="number"
            [class.d-none]="FStep === 'personInfo' || FStep === 'calcAmt'"
          >
            <i class="icons-ic-step-check i-icon"></i>
          </div>
          <div>{{ FLang.C04.step1.C0002 }}</div>
        </li>
        <li [class.active]="FStep === 'payment' && FPayResult">
          <div
            class="number"
            [class.d-none]="FStep === 'payment' && FPayResult"
          >
            3
          </div>
          <div
            class="number"
            [class.d-none]="
              FStep === 'personInfo' || FStep === 'calcAmt' || !FPayResult
            "
          >
            <i class="icons-ic-step-check i-icon"></i>
          </div>
          <div>
            {{ FLang.C04.step1.C0003 }}
          </div>
        </li>
      </ul>
    </section>

    <!-- step 1 -->
    <section class="sectLg" *ngIf="FStep === 'calcAmt'">
      <div class="container remove-width form-canta">
        <div class="bg-white-block form-data form-data-bot">
          <div class="title">{{ FLang.C04.step1.C0004 }}</div>
          <form [formGroup]="group">
            <div class="advisory-content">
              <div class="adv-box-item">
                <div class="form-group select-search simple">
                  <label>{{ FLang.C04.step1.C0004_.s001 }}</label>
                  <div
                    [class.status-error-extend]="
                      controls.motor_vkd.touched && controls.motor_vkd.invalid
                    "
                    class="dropdown"
                  >
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="filterActiveText">
                        <span [class.text-gray-gr]="motorNumber < 0">{{
                          motorFilterItems()
                        }}</span>
                      </div>
                    </button>
                    <div
                      class="dropdown-menu w-100 filter tab"
                      aria-labelledby="dropdownFilter"
                    >
                      <a
                        class="dropdown-item"
                        *ngFor="let item of motorItemsList; index as i"
                        (click)="onMotorFilterNumber(item.id)"
                        >{{ item.zhName }}</a
                      >
                    </div>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      controls.motor_vkd.untouched ||
                      (!controls.motor_vkd.untouched &&
                        controls.motor_vkd.valid)
                    "
                  >
                    {{ FLang.C03.step1.L0031 }}
                  </small>
                </div>
                <!-- datePicker -->
                <div
                  class="form-group icon-date"
                  [class.status-error]="
                    controls.motor_procDate.touched &&
                    controls.motor_procDate.invalid
                  "
                >
                  <!-- <div class="form-group icon-date"> -->
                  <div class="from-row row">
                    <div class="col-md-6 col-sm-12 text-left date_contact">
                      <app-datepicker
                        label="{{ FLang.C04.step1.C0004_.s003 }}"
                        placeholder="{{
                          FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS006
                        }}"
                        [config]="{
                          maxDate: FMaxDate,
                          minDate: FMinDate
                        }"
                        [value]="Fdate1"
                        [xdisabled]="FTrafficType"
                        xid="date1"
                        [xReadonly]="FReadonly"
                        (getDate)="getDate($event)"
                      ></app-datepicker>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                      <label style="height: 1rem"></label>
                      <input
                        type="text"
                        [placeholder]="
                          FLang.PH.enter.F0002 + FLang.PH.enter.F0002_.FS006
                        "
                        class="form-control"
                        readonly="readonly"
                        [value]="Fdate2"
                      />
                      <i class="icons-ic-date i-icon date_icon"></i>
                    </div>
                  </div>
                  <small
                    class="form-text"
                    [class.d-none]="
                      controls.motor_procDate.untouched ||
                      (!controls.motor_procDate.untouched &&
                        controls.motor_procDate.valid)
                    "
                  >
                    {{ FLang.C03.step1.L0032 }}
                  </small>
                </div>
                <div class="form-group radio_year">
                  <div class="choose-box choo-sub ml-0" style="display: block">
                    <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year1"
                          type="radio"
                          name="r_year"
                          value="1"
                          formControlName="r_year"
                        />
                        <label for="year1">{{ FLang.C03.step1.L0036 }}</label>
                      </div>
                    </div>
                    <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year2"
                          type="radio"
                          name="r_year"
                          value="2"
                          formControlName="r_year"
                        />
                        <label for="year2">{{ FLang.C03.step1.L0038 }}</label>
                      </div>
                    </div>
                    <div class="choose-row">
                      <div class="choose-box">
                        <input
                          class="big-checkbox"
                          id="year3"
                          type="radio"
                          name="r_year"
                          value="3"
                          formControlName="r_year"
                        />
                        <label for="year3">{{ FLang.C03.step1.L0040 }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-orange" (click)="calcTest(2)">
                  <!-- [class.disabled]="checkCalc()" -->
                  {{ FLang.C04.step1.C0005 }}
                </button>
              </div>
            </div>
          </form>
          <div #ly_pluInfo [ngClass]="displayStyle()">
            <div class="program-box mt-0">
              <div class="title">{{ FLang.C04.step1.C0006 }}</div>
              <div class="program-card">
                <div class="program">
                  <div class="d-flex mr-auto pro-title">
                    <div>
                      <div class="item">{{ FLang.C04.step1.C0007 }}</div>
                    </div>
                    <div class="ml-2">
                      <i
                        class="icons-ic-info-2 i-icon pointer"
                        (click)="compulsoryInsuranceAlertOne()"
                      ></i>
                    </div>
                  </div>
                  <div class="row item-row align-items-center">
                    <div class="col-sm-12 col-md-3 text-center">
                      <img
                        src="assets/img/online/img-insurance-scooter.png"
                        alt=""
                        srcset="
                          assets/img/online/img-insurance-scooter@2x.png 2x
                        "
                        class="img-fluid"
                      />
                    </div>
                    <div class="col-sm-12 col-md-9 order-md-first">
                      <div class="d-flex flex-column flex-md-row program-row">
                        <div class="mr-auto pro-plan">
                          {{ FLang.C04.step1.C0007_.s001 }}
                        </div>
                        <div class="pro-item">
                          {{ FLang.C04.step1.C0007_.s002 }}
                        </div>
                      </div>

                      <div class="d-flex flex-column flex-md-row program-row">
                        <div class="mr-auto pro-plan">
                          {{ FLang.C04.step1.C0007_.s005 }}
                        </div>
                        <div class="pro-item">
                          {{ FLang.C04.step1.C0007_.s006 }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="program-box">
              <div class="title">{{ FLang.C04.step1.C0008 }}</div>
              <div class="program-card">
                <div class="program">
                  <div class="d-flex mr-auto pro-title">
                    <div class="choose-box">
                      <input
                        type="checkbox"
                        class="big-checkbox"
                        name="gender"
                        (change)="attrPolicy(!plusPurchase)"
                        [(ngModel)]="plusPurchase"
                      /><label>{{ FLang.C04.step1.C0008_.s001 }}</label>
                    </div>
                    <div class="ml-2">
                      <i
                        class="icons-ic-info-2 i-icon pointer"
                        (click)="compulsoryInsuranceAlertTwo()"
                      ></i>
                    </div>
                  </div>
                  <div class="advisory-content">
                    <div class="adv-box-item mt-10">
                      <div class="select-search simple">
                        <label>{{ FLang.C04.step1.C0008_.s002 }}</label>
                        <div class="dropdown">
                          <button
                            class="btn dropdown-toggle w-100 status-error"
                            type="button"
                            id="dropdownFilter"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            [class.disabled]="plusPurchase === false"
                            [style]="styleBackground(plusPurchase)"
                          >
                            <!-- <div class="filterActiveText">
                              <span [ngClass]="styleCss(amountNumber)">{{
                                amountFilterOption(amountNumber, plusPurchase)
                              }}</span>
                            </div> -->
                            <div class="filterActiveText">
                              <span
                                [class.text-gray-gr]="this.amountNumber < 0"
                                >{{
                                  amountFilterOption(amountNumber, plusPurchase)
                                }}</span
                              >
                            </div>
                          </button>
                          <div
                            class="dropdown-menu w-100 filter tab"
                            aria-labelledby="dropdownFilter"
                          >
                            <a
                              class="dropdown-item"
                              *ngFor="let item of amountItemsList; index as i"
                              (click)="amountFilterNumber(i)"
                              >{{ item.option }}</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template [ngIf]="amountNumber >= 0">
                    <div class="d-flex flex-column flex-md-row program-row">
                      <div class="mr-auto pro-plan">
                        {{ FLang.C04.step1.C0008_.s004 }}
                      </div>
                      <div class="pro-item">
                        {{ FLang.C04.step1.C0008_.s005[0]
                        }}{{
                          this.amountItemsList[this.amountNumber].number
                            | numberSuffix: FLangType
                        }}{{
                          FLangType === "vi-VN"
                            ? FLang.C04.step1.C0008_.s005[1]
                            : ""
                        }}
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container total-con-p">
        <div class="total-content fix-bottom">
          <div class="bg-white-block form-data total-from">
            <div class="total-link-left d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-link-right d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-box">
              <div class="total-img d-md-inline-block d-none">
                <img
                  src="assets/img/auth_registersm3x.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="total-tit">{{ FLang.C04.step1.C0009 }}</div>
              <div class="sum">
                {{ FAmount | thousands }}
                <span> {{ FLang.C04.step1.C0010 }}</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a
              class="btn btn-primary"
              [class.disabled]="!checkFormatStatus"
              (click)="goStep('2')"
              >{{ FLang.C04.step1.C0011 }}</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- step 2 -->
    <section class="sectLg" *ngIf="FStep === 'personInfo'">
      <div class="container remove-width form-canta">
        <div class="bg-white-block form-data">
          <div class="title">{{ FLang.C04.step2.C0001 }}</div>
          <!-- 個人資料 -->
          <app-userinfo
            #ly_userinfo
            [data]="{ xType: FType, xchannel: 'motor', errorMsg: FErrorMail }"
            (xUserInfoChange)="setUsertoGroup($event)"
            [(xSyncUserinfo)]="FSyncUserinfo"
            (xAction)="userinfo_action($event)"
          ></app-userinfo>
          <!-- 機車資料 -->
          <div class="add-box" id="lyc_motorinfo">
            <div class="title">{{ FLang.C04.step2.C0015 }}</div>
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div
                    class="form-group mb-2"
                    [class.status-error]="
                      controls.motor_name.dirty &&
                      controls.motor_name.touched &&
                      controls.motor_name.invalid
                    "
                  >
                    <label>{{ FLang.C04.step2.C0016 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS014
                        }}"
                        formControlName="motor_name"
                        appLimitInput
                        [replace]="'vn'"
                        (input)="changeToUpperCase($event)"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.motor_name.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.motor_name.dirty ||
                        controls.motor_name.untouched ||
                        controls.motor_name.valid ||
                        clickSameName
                      "
                    >
                      {{ getErrors(controls.motor_name) }}
                    </small>
                  </div>
                  <div class="mb-30">
                    <div class="choose-box">
                      <input
                        type="checkbox"
                        class="big-checkbox"
                        name="gender"
                        [disabled]="!controls.name.value"
                        [(ngModel)]="clickSameName"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="sameName(clickSameName, 'motor_name')"
                      /><label>{{ FLang.C04.step2.C0018 }} </label>
                    </div>
                  </div>

                  <div class="mb-2">
                    <label>{{ FLang.C04.step2.C0019 }}</label>
                    <div class="d-flex align-items-center mb-2">
                      <div class="mr-2 carbrand">
                        <div class="choose-box">
                          <input
                            type="radio"
                            class="big-checkbox"
                            name="gender"
                            [value]="true"
                            [(ngModel)]="filterLicensePlate"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="switchLicense(filterLicensePlate)"
                          /><label>{{ FLang.C04.step2.C0020 }}</label>
                        </div>
                      </div>
                      <div class="w-100">
                        <div
                          class="form-group mb-0"
                          [class.status-error]="
                            controls.motor_license_plate.dirty &&
                            controls.motor_license_plate.touched &&
                            controls.motor_license_plate.invalid
                          "
                        >
                          <div class="from-row">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{
                                FLang.PH.enter.F0001 +
                                  FLang.PH.enter.F0001_.FS015
                              }}"
                              formControlName="motor_license_plate"
                              appCarNoformat
                              [xtype]="'motor'"
                              [mtype]="this.motorValue"
                            />
                            <i
                              class="icons-ic-form-del i-icon"
                              (click)="doClearInput('motor_license_plate')"
                            ></i>
                          </div>
                        </div>
                        <div class="form-group mb-2">
                          <small
                            class="form-text"
                            [class.d-none]="
                              !controls.motor_license_plate.dirty ||
                              controls.motor_license_plate.untouched ||
                              controls.motor_license_plate.valid ||
                              controls.motor_license_plate.status === 'DISABLED'
                            "
                          >
                            {{ getErrors(controls.motor_license_plate) }}
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="mr-2 carbrand">
                        <div class="choose-box">
                          <input
                            type="radio"
                            class="big-checkbox"
                            name="gender"
                            [value]="false"
                            [(ngModel)]="filterLicensePlate"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="switchLicense(filterLicensePlate)"
                          /><label>{{ FLang.C04.step2.C0022 }}</label>
                        </div>
                      </div>
                      <div class="w-100">
                        <div
                          class="form-group mb-0"
                          [class.status-error]="
                            controls.motor_body_number.dirty &&
                            controls.motor_body_number.touched &&
                            controls.motor_body_number.invalid
                          "
                        >
                          <div class="from-row">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{
                                FLang.PH.enter.F0001 +
                                  FLang.PH.enter.F0001_.FS016
                              }}"
                              formControlName="motor_body_number"
                            />
                            <i
                              class="icons-ic-form-del i-icon"
                              (click)="doClearInput('motor_body_number')"
                            ></i>
                          </div>
                          <div class="from-row">
                            <small
                              class="form-text"
                              [class.d-none]="
                                !controls.motor_body_number.dirty ||
                                controls.motor_body_number.untouched ||
                                controls.motor_body_number.valid ||
                                controls.motor_body_number.status === 'DISABLED'
                              "
                            >
                              {{ getErrors(controls.motor_body_number) }}
                            </small>
                          </div>
                        </div>
                        <div
                          class="form-group mb-0"
                          [class.status-error]="
                            controls.motor_engn_no.dirty &&
                            controls.motor_engn_no.touched &&
                            controls.motor_engn_no.invalid
                          "
                        >
                          <!-- 引擎號碼 -->
                          <div class="from-row mt-1">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{
                                FLang.PH.enter.F0001 +
                                  FLang.PH.enter.F0001_.FS017
                              }}"
                              formControlName="motor_engn_no"
                            />
                            <i
                              class="icons-ic-form-del i-icon"
                              (click)="doClearInput('motor_engn_no')"
                            ></i>
                          </div>
                          <div class="from-row">
                            <small
                              class="form-text"
                              [class.d-none]="
                                !controls.motor_engn_no.dirty ||
                                controls.motor_engn_no.untouched ||
                                controls.motor_engn_no.valid ||
                                controls.motor_engn_no.status === 'DISABLED'
                              "
                            >
                              {{ getErrors(controls.motor_engn_no) }}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="add-box" id="ly_paymentbox">
            <div class="title">{{ FLang.C04.step2.C0024 }}</div>
            <div class="payment">
              <div
                [class.mb-05]="FPayNoError && paymentNumber < 0"
                class="row no-gutters payment-row"
              >
                <div
                  [class.status-error-box]="FPayNoError && paymentNumber < 0"
                  class="col payment-box"
                  [class.active]="paymentNumber === i"
                  *ngFor="let item of payList; index as i"
                  (click)="paymentSwitch(i)"
                >
                  <div
                    class="payment-data"
                    data-toggle="modal"
                    [attr.data-target]="dataTarget(i)"
                  >
                    <div class="payment-icon">
                      <i [ngClass]="item.activeIcon"></i>
                      <i [ngClass]="item.defaultIcon"></i>
                    </div>
                    <div>{{ item.title }}</div>
                  </div>
                </div>
              </div>
              <small
                class="form-text form-text-error"
                [class.d-none]="FPayNoError && paymentNumber >= 0"
              >
                {{ FPayNoError }}
              </small>
            </div>
          </div>
          <div class="mx-0">
            <div class="payment">
              <div class="choose-box custom_text_align">
                <input
                  id="ly_agreeContract"
                  type="checkbox"
                  class="big-checkbox"
                  name="gender"
                  [(ngModel)]="agreeContract"
                /><label
                  >{{ FLang.C04.step2.C0028 }}
                  <a
                    target="_blank"
                    class="px-0"
                    href="assets/pdf/Bao hiem bat buoc xe may.pdf"
                    >{{ FLang.C04.step2.C0037 }}</a
                  >,
                  <ng-template [ngIf]="plusPurchase">
                    <a
                      target="_blank"
                      class="px-0"
                      href="assets/pdf/Bao hiem tu nguyen xe may.pdf"
                      >{{ FLang.C04.step2.C0038 }}</a
                    >,
                  </ng-template>
                  <a
                    target="_blank"
                    class="px-0"
                    href="assets/pdf/Chính sách quyền riêng tư.pdf"
                    >{{ FLang.C04.step2.C0030 }}</a
                  >
                  {{ FLang.F012.L0040 }}
                  <a
                    target="_blank"
                    class="px-0"
                    href="assets/pdf/Chính sách bảo mật.pdf"
                    >{{ FLang.C04.step2.C0031 }}</a
                  >.
                  {{ FLang.C04.step2.C0039 }}
                </label>
              </div>
              <small
                class="form-text form-text-error"
                [class.d-none]="FAgreeError && agreeContract"
              >
                {{ FAgreeError }}
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="container total-con-p">
        <div class="total-content fix-bottom">
          <div class="bg-white-block form-data total-from">
            <div class="total-link-left d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-link-right d-none d-md-block">
              <img
                src="assets/img/online/img-link.png"
                alt=""
                srcset="assets/img/online/img-link@2x.png 2x"
                class="img-fluid"
              />
            </div>
            <div class="total-box">
              <div class="total-img d-md-inline-block d-none">
                <img
                  src="assets/img/auth_registersm3x.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="total-tit">{{ FLang.C04.step1.C0009 }}</div>
              <div class="sum">
                {{ FAmount | thousands }}
                <span> {{ FLang.C04.step1.C0010 }}</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a (click)="goStep('3')" class="btn btn-primary">
              {{ FLang.C04.step2.C0032 }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- step 3 -->
    <section class="success-mes" *ngIf="FStep === 'payment'">
      <div class="container remove-width">
        <div class="mes-reg" *ngIf="userInfo.seq_no === 0">
          {{ FLang.C04.step3.C0001 }}
        </div>
        <div class="success-img">
          <img src="assets/img/banner-payment2x.png" alt="" class="img-fluid" />
        </div>
        <div class="remark" *ngIf="!FPayResult; else ly_payResult">
          <ng-container *ngIf="FPayTransaction; else ly_PayTransaction">
            <div style="padding: 10px 0">
              {{ FLang.C03.step3.L0011 }}
            </div>
            <div class="text-center">
              <a
                routerLink="/member/my-order"
                replaceUrl="true"
                class="btn btn-white"
                >{{ FLang.C03.step3.L0005 }}</a
              >
            </div>
          </ng-container>
          <ng-template #ly_PayTransaction>{{
            FLang.C04.step3.C0010
          }}</ng-template>
        </div>
        <!-- 保單寄送 -->
        <ng-template #ly_payResult>
          <div class="remark">
            {{ FLang.C04.step3.C0004 }}
            <div class="point">5</div>
            {{ FLang.C04.step3.C0005 }}
          </div>
          <div class="text-center">
            <a routerLink="" class="btn btn-white">{{
              FLang.C04.step3.C0006
            }}</a>
          </div>
        </ng-template>
      </div>
    </section>
  </div>
</main>

<div
  class="modal fade notice"
  id="model-Login"
  tabindex="-1"
  aria-labelledby="ModalLabel-08"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C04.step3.T9999 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body p-0">
        <!-- 註冊窗 -->
        <ng-container #content></ng-container>
      </div>
    </div>
  </div>
</div>

<!-- modal 48-1 -->
<div
  class="modal fade notice"
  id="intro_policy1"
  tabindex="-1"
  aria-labelledby="ModalLabel-48-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C04.step3.C0007 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body custom_text_align">
        <div class="service-notice">
          <div class="service-row">
            {{ FLang.C04.step3.C0008 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 駕駛乘客險說明 -->
<div
  class="modal fade notice"
  id="intro_policy2"
  tabindex="-1"
  aria-labelledby="ModalLabel-48-2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.C04.step3.C0011 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body custom_text_align">
        <div class="service-notice">
          <div class="service-row">
            {{ FLang.C04.step3.C0009 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-payment-fail></app-payment-fail> -->
<app-payment-fail (xAction)="FPayTransaction = false"></app-payment-fail>
<!-- 支付 for IOS -->
<app-confirm
  [data]="FConfirm"
  (ActionEvent)="ActionYesNo($event)"
></app-confirm>
