::ng-deep #date1 {
  font-family: "Roboto", "Noto sans TC", sans-serif, "Microsoft JhengHei",
    "微軟正黑體";
  color: #7d8a94;
  -webkit-text-fill-color: #7d8a94;
}

::ng-deep .date1 {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
}

.btn.disabled {
  background-color: #f2f1f0 !important;
  pointer-events: none;
}

.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active {
  background-color: #f2f1f0;
  box-shadow: none;
  border: 2px solid #eae6e2;
}

.adv-box-item .form-group i.date_icon {
  top: calc(50% + 0.875rem);
  right: 16px;
}

// .date_contact {
//   position: relative;
// }

// .date_contact::before {
//   position: absolute;
//   content: "";
//   width: 12px;
//   height: 2px;
//   background-color: #7d8a94;
//   top: calc(50% + 0.875rem);
//   right: -6px;
// }

.form-text-error {
  color: #f9556f;
  font-size: 0.875rem;
}

.payment-row.mb-05 {
  margin-bottom: 5px;
}

@media (min-width: 767.98px) {
  .program .program-row {
    display: flex;
    .pro-item {
      width: 50%;
      text-align: right;
    }
  }
}

@media (max-width: 767.98px) {
  .program .program-row {
    .pro-item {
      width: 190px;
    }
  }
}
