<!-- news-message-->
<div
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  class="fade show news-message bg-main-gradient"
  data-autohide="false"
>
  <div class="container">
    <div class="news-mes-contet d-flex">
      <div class="desc mes-link w-100" (click)="goNews()">
        <ng-template [ngIf]="FMessage">
          <marquee>{{ FMessage }}</marquee>
        </ng-template>
      </div>
      <i
        class="icons-ic-close-s i-icon close"
        data-dismiss="toast"
        aria-label="Close"
        (click)="closeMarquee()"
      ></i>
    </div>
  </div>
</div>
<!-- news-message -->
