<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-faq.png"
              alt=""
              srcset="assets/img/img-bn-faq@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-search-m.png"
              alt=""
              srcset="assets/img/img-bn-search-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- breadcrumbs -->
            <app-breadcrumb></app-breadcrumb>
            <!-- breadcrumbs -->
          </div>
        </div>
      </div>
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.A03.L0006 }}</h1>
          <div class="input-group search-box">
            <div class="input-search">
              <input
                type="search"
                [(ngModel)]="FSearchText"
                (keyup.enter)="doSearchEnter()"
              />
              <i (click)="doSearch()" class="icons-ic-search i-icon"></i>
            </div>
          </div>
          <div class="labels d-none d-md-block">
            <span class="text text-gray">{{ FLang.A04.Loo22 }}</span>
            <a
              href="javascript:;"
              *ngFor="let item of FTags"
              (click)="doSearch(item)"
              >{{ item }}</a
            >
          </div>
        </div>
      </div>
      <section>
        <div class="container remove-width">
          <div class="news-container">
            <h4 class="mb-20">{{ FLang.A03.L0007 }}({{ FSearchNumber }})</h4>
            <!-- 顯示十筆 -->
            <div class="news card" *ngFor="let item of FSearchArray">
              <a [href]="item.path">
                <div *ngIf="item.img" class="image">
                  <img [src]="item.img" alt="" class="img-fluid" />
                </div>
                <div class="content">
                  <h4 [innerHTML]="item.title"></h4>
                  <p class="mb-0" [innerHTML]="item.content"></p>
                </div>
              </a>
            </div>
          </div>
          <div class="more text-center">
            <a
              role="button"
              *ngIf="FSearchNumber > 10 && FMore"
              (click)="doViewTen()"
              class="btn btn-primary"
            >
              {{ FLang.A03.L0008 }}
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
