$grey: #7d8a94;
$dark-gray: #7d8a94;
$black: #000;

.caption {
  position: relative;
  z-index: 2;
}

.form-control[readonly] {
  background-color: #fff;
  color: $dark-gray;
  -webkit-text-fill-color: $dark-gray;
  font-weight: 400;
}

.form-control[readonly].status-error {
  border: 2px solid red;
}

// 順序調整
.form-control:disabled {
  background-color: #f2f1f0;
  color: $grey;
  -webkit-text-fill-color: $grey;
  font-weight: 400;
}

// 隱藏下個月份日期
::ng-deep .daterangepicker {
  .off.ends {
    visibility: hidden;

    &:not([data-title^="r0"]) {
      display: none;
    }
  }
}

/* ps */
@media (max-width: 564px) {
  ::ng-deep .daterangepicker {
    position: fixed;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    border: 0px solid #ddd;
    width: 100%;
    height: 100%;
    max-width: none;
    padding: 0;
    margin-top: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 3001;
    display: none;
    font-size: 16px;
    line-height: 1em;
  }
  ::ng-deep .daterangepicker .calendar-table table {
    border-spacing: 6vw 2px;
    padding-top: 10px;
  }
  ::ng-deep .daterangepicker .drp-calendar {
    min-width: 100%;
    width: 100%;
  }
  ::ng-deep .daterangepicker .drp-calendar.left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 0;
  }
  ::ng-deep .daterangepicker .drp-calendar.left .calendar-table {
    width: 100%;
  }
  ::ng-deep .daterangepicker .drp-buttons {
    background-color: #fff;
  }
  ::ng-deep .daterangepicker.show-calendar .ranges {
    position: absolute;
    width: 100%;
    height: calc(100% - 330px);
    z-index: 100;
    top: 0;
  }
}
@media (max-width: 520px) {
  ::ng-deep .daterangepicker .calendar-table table {
    border-spacing: 5vw 2px;
  }
}
@media (max-width: 450px) {
  ::ng-deep .daterangepicker .calendar-table table {
    border-spacing: 4vw 2px;
  }
}
@media (max-width: 410px) {
  ::ng-deep .daterangepicker .calendar-table table {
    border-spacing: 3vw 2px;
  }
}
@media (max-width: 370px) {
  ::ng-deep .daterangepicker .calendar-table table {
    border-spacing: 2vw 2px;
  }
}
@media (max-width: 340px) {
  .daterangepicker .calendar-table table {
    border-spacing: 1vw 2px;
  }
}
