<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member.png"
              alt=""
              srcset="assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-member-m.png"
              alt=""
              srcset="assets/img/img-bn-member-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- 導覽列 -->
      <app-breadcrumb></app-breadcrumb>
      <!-- <button (click)="a1()">註冊</button><br />
        <button (click)="a2()">帳號登入</button><br />
        <button (click)="a3()">設定密碼</button><br />
        <button (click)="a4()">驗證身分ID</button><br /> -->
      <div class="caption">
        <div class="container">
          <h1 (click)="showConfirm()">{{ FLang.F07.title.F0001 }}</h1>
        </div>
      </div>
      <section class="sectLg service-inform-guarantee">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <div class="title">{{ FLang.F07.content.F0001 }}</div>
            <form [formGroup]="group" (ngSubmit)="doSubmit()">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div class="form-group">
                    <label>{{ FLang.F07.content.F0002 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ FLang.F07.content.F0003 }}"
                        disabled="disabled"
                        formControlName="customer_name"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.customer_name.setValue('')"
                      ></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{ FLang.F07.content.F0004 }}</label>
                    <ng-container
                      *ngIf="
                        FIdCheck === '12' ||
                        FIdError === '12' ||
                        FIdBind === '9'
                      "
                    >
                      <div
                        class="from-row mb-2"
                        *ngIf="
                          FIdBind === '9' ||
                          FIdCheck === '9' ||
                          FIdError === '9'
                        "
                      >
                        <input
                          type="text"
                          class="form-control"
                          disabled="disabled"
                          formControlName="certificate_number_9"
                          placeholder="{{ userInfo.new_id }}"
                        />
                        <!-- 待審核 -->
                        <div class="message" *ngIf="FIdCheck === '9'">
                          {{ FLang.F07.content.F0007 }}
                        </div>
                        <!-- 驗證失敗 -->
                        <div class="message" *ngIf="FIdError === '9'">
                          {{ FLang.F07.content.F0054 }}
                        </div>
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="controls.certificate_number_9.setValue('')"
                        ></i>
                      </div>
                      <div
                        class="from-row setView"
                        *ngIf="
                          FIdBind === '12' ||
                          FIdCheck === '12' ||
                          FIdError === '12'
                        "
                      >
                        <input
                          type="text"
                          class="form-control"
                          disabled="disabled"
                          formControlName="certificate_number_12"
                          placeholder="{{ userInfo.new_id }}"
                        />
                        <!-- 待審核 -->
                        <div class="message" *ngIf="FIdCheck === '12'">
                          {{ FLang.F07.content.F0007 }}
                        </div>
                        <!-- 驗證失敗 -->
                        <div class="message" *ngIf="FIdError === '12'">
                          {{ FLang.F07.content.F0054 }}
                        </div>
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="controls.certificate_number_12.setValue('')"
                        ></i>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        FIdCheck === '9' || FIdError === '9' || FIdBind === '12'
                      "
                    >
                      <div
                        class="from-row"
                        *ngIf="
                          FIdBind === '12' ||
                          FIdCheck === '12' ||
                          FIdError === '12'
                        "
                      >
                        <input
                          type="text"
                          class="form-control"
                          disabled="disabled"
                          formControlName="certificate_number_12"
                          placeholder="{{ userInfo.new_id }}"
                        />
                        <!-- 待審核 -->
                        <div class="message" *ngIf="FIdCheck === '12'">
                          {{ FLang.F07.content.F0007 }}
                        </div>
                        <!-- 驗證失敗 -->
                        <div class="message" *ngIf="FIdError === '12'">
                          {{ FLang.F07.content.F0054 }}
                        </div>
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="controls.certificate_number_12.setValue('')"
                        ></i>
                      </div>
                      <div
                        class="from-row mb-2 setView"
                        *ngIf="
                          FIdBind === '9' ||
                          FIdCheck === '9' ||
                          FIdError === '9'
                        "
                      >
                        <input
                          type="text"
                          class="form-control"
                          disabled="disabled"
                          formControlName="certificate_number_9"
                          placeholder="{{ userInfo.new_id }}"
                        />
                        <!-- 待審核 -->
                        <div class="message" *ngIf="FIdCheck === '9'">
                          {{ FLang.F07.content.F0007 }}
                        </div>
                        <!-- 驗證失敗 -->
                        <div class="message" *ngIf="FIdError === '9'">
                          {{ FLang.F07.content.F0054 }}
                        </div>
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="controls.certificate_number_9.setValue('')"
                        ></i>
                      </div>
                    </ng-container>

                    <div class="remark" *ngIf="FBindData">
                      {{ FLang.F07.content.F0009 }}：{{ FBindData }}
                    </div>
                    <div class="add-id" *ngIf="FAddId">
                      <div class="d-inline-block">
                        <div class="d-flex align-items-center">
                          <div (click)="showIdentity()">
                            {{ FLang.F07.content.F0010 }}
                          </div>
                          <i
                            (click)="showIdentity_info()"
                            class="icons-ic-info i-icon ml-2 pointer"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="FIsLinkId === 'F'"
                      class="again btn-radius btn-white"
                      (click)="showIdentity()"
                    >
                      {{ FLang.F07.content.F0011 }}
                    </div>
                  </div>
                  <div class="form-group icon-date">
                    <label>{{ FLang.F07.content.F0012 }}</label>
                    <div class="from-row disabled">
                      <input
                        type="text"
                        class="form-control"
                        disabled="disabled"
                        formControlName="birthday"
                      />
                      <i class="icons-ic-date i-icon"></i>
                      <i class="icons-ic-date-disabled i-icon"></i>
                      <i
                        class="icons-ic-form-del i-icon"
                        style="right: 40px"
                      ></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{ FLang.F07.content.F0013 }}</label>
                    <div
                      class="choose-box choo-sub ml-0"
                      style="display: block"
                    >
                      <div class="choose-row">
                        <div
                          [ngClass]="
                            controls.sex.value === '1'
                              ? 'choose-box disabled'
                              : 'choose-box disabled-air'
                          "
                        >
                          <input
                            type="radio"
                            class="big-checkbox"
                            name="gender2"
                          /><label>{{ FLang.F07.content.F0014 }}</label>
                        </div>
                      </div>
                      <div class="choose-row">
                        <div
                          [ngClass]="
                            controls.sex.value === '0'
                              ? ' choose-box disabled'
                              : ' choose-box disabled-air'
                          "
                        >
                          <input
                            type="radio"
                            class="big-checkbox"
                            name="gender2"
                            disabled="disabled"
                          /><label>{{ FLang.F07.content.F0015 }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{ FLang.F07.content.F0016 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ FLang.F07.content.F0017 }}"
                        disabled="disabled"
                        formControlName="email"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.email.setValue('')"
                      ></i>
                    </div>
                    <!-- 規格不會修改到這個無須判斷 -->
                    <!-- <small
                        [ngClass]="[
                          'form-text',
                          controls.email.invalid ? 'd-none' : ''
                        ]"
                      >
                        {{ getErrors(controls.email.errors) }}
                      </small> -->
                  </div>
                  <!-- 備用eMail -->
                  <div class="form-group">
                    <label>{{ FLang.F07.content.F0018 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS019
                        }}"
                        formControlName="email_bk"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.email_bk.setValue('')"
                      ></i>
                    </div>
                    <small
                      [ngClass]="[
                        'form-text',
                        controls.email_bk.invalid ? '' : 'd-none'
                      ]"
                    >
                      {{ getErrors(controls.email) }}
                    </small>
                  </div>
                  <!-- 修改密碼 -->
                  <div class="form-group service-password">
                    <label>{{ FLang.F07.content.F0020 }}</label>
                    <div>
                      <div>
                        <a class="btn btn-white" (click)="showChangePassword()">
                          {{
                            isSetpwd
                              ? FLang.F07.content.F0021
                              : FLang.F07.content.F0022
                          }}
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- 手機 -->
                  <div class="form-group">
                    <label>{{ FLang.F07.content.F0023 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS004
                        }}"
                        formControlName="mobile"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.mobile.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="!controls.mobile.invalid"
                    >
                      {{ getErrors(controls.mobile) }}</small
                    >
                  </div>
                  <div class="form-mul">
                    <label>{{ FLang.B054.content.B0017 }}</label>
                    <div class="row mb-2 no-gutters">
                      <div class="col-md-6 from-one">
                        <div
                          class="form-group icon-select mb-0"
                          [class.status-error]="
                            controls.province.touched &&
                            controls.province.invalid
                          "
                        >
                          <div class="from-row">
                            <select
                              required
                              formControlName="province"
                              class="form-control custom-select"
                              (change)="notifyCounty($event)"
                            >
                              <option value="" disabled selected hidden>
                                {{
                                  FLang.PH.enter.F0001 +
                                    FLang.PH.enter.F0001_.FS008
                                }}
                              </option>
                              <option
                                *ngFor="let item of FProvinceList; index as i"
                                class="text-gray"
                                [ngValue]="item.provinceValue"
                              >
                                {{ item.provinceZhname }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 from-two">
                        <div
                          class="form-group icon-select mb-0"
                          [class.status-error]="
                            controls.county.touched && controls.county.invalid
                          "
                        >
                          <div class="from-row">
                            <select
                              required
                              class="form-control custom-select"
                              formControlName="county"
                            >
                              <option value="" disabled selected hidden>
                                {{
                                  FLang.PH.enter.F0001 +
                                    FLang.PH.enter.F0001_.FS009
                                }}
                              </option>
                              <option
                                *ngFor="let item of FCountyList; index as i"
                                class="text-gray"
                                [ngValue]="item.countyValue"
                              >
                                {{ item.countyZhname }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- addr -->
                  <div class="form-group mb-2">
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS010
                        }}"
                        formControlName="addr"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.addr.setValue('')"
                      ></i>
                    </div>
                    <small
                      [ngClass]="[
                        'form-text',
                        controls.addr.invalid ? '' : 'd-none'
                      ]"
                    >
                      {{ getErrors(controls.addr) }}
                    </small>
                  </div>
                </div>
              </div>
            </form>
            <div class="add-box">
              <div class="title">
                <div class="text-center d-inline-block">
                  <div class="d-flex align-items-center">
                    {{ FLang.F07.content.F0027 }}
                    <i
                      class="icons-ic-info i-icon ml-2 pointer icons-padding"
                      (click)="showSocialMedia_info()"
                    ></i>
                  </div>
                </div>
              </div>
              <div class="add-all">
                <div class="add-content">
                  <div
                    class="add-row"
                    data-toggle="modal"
                    data-target="#Modal-06"
                  >
                    <div class="add-col">
                      <div class="add-more-data">
                        <i class="icons-ic-bind-fb i-icon"></i>
                        <div class="ml-3">
                          <ng-container *ngIf="isfbLink; else ly_elseFB">
                            <div class="mb-1 area">
                              {{ FLang.F07.content.F0028 }}
                            </div>
                            <div class="area">{{ userInfo.fb_title }}</div>
                          </ng-container>
                          <ng-template #ly_elseFB>
                            <div class="mb-1 area" (click)="fblogin()">
                              {{ FLang.F07.content.F0051 }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isfbLink" class="change" (click)="fblogin()">
                      {{ FLang.F07.content.F0030 }}
                    </div>
                  </div>
                </div>
                <div class="add-content">
                  <div
                    class="add-row"
                    data-toggle="modal"
                    data-target="#Modal-06"
                  >
                    <div class="add-col">
                      <div class="add-more-data">
                        <i class="icons-ic-bind-google i-icon"></i>
                        <div class="ml-3">
                          <ng-container
                            *ngIf="isgoogleLink; else ly_elseGoogle"
                          >
                            <div class="mb-1 area">
                              {{ FLang.F07.content.F0028 }}
                            </div>
                            <div class="area">
                              {{ userInfo.google_title }}
                            </div>
                          </ng-container>
                          <ng-template #ly_elseGoogle>
                            <div class="mb-1 area" (click)="googlelogin()">
                              {{ FLang.F07.content.F0052 }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div
                      class="change"
                      *ngIf="isgoogleLink"
                      (click)="googlelogin()"
                    >
                      {{ FLang.F07.content.F0030 }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a
              class="btn btn-primary"
              [class.disabled]="group.status !== 'VALID'"
              (click)="doSubmit()"
              >{{ FLang.F07.content.F0031 }}</a
            >
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- model -->
  <!-- <app-identity></app-identity> -->
  <div
    class="modal fade"
    id="modal_Identity"
    tabindex="-1"
    aria-labelledby="popIdentity"
    aria-hidden="true"
  >
    <ng-container #identity></ng-container>
  </div>

  <app-confirm
    [data]="FConfirm"
    (ActionEvent)="ActionYesNo($event)"
  ></app-confirm>
</div>
