<div class="tab-row-content">
  <div class="tab-item-box" id="accordionQuestion">
    <!-- tab-card -->
    <div class="tab-card" *ngFor="let item of faqData; index as i">
      <app-expand-panel
        [item]="item"
        [i]="i"
        [titleContent]="titleContent(item)"
        [infoContent]="infoContent(item)"
        [titleId]="titleId(i)"
        [titleDataTarget]="titleDataTarget(i)"
        [titleAriaControls]="titleAriaControls(i)"
        [infoId]="infoId(i)"
        [infoAriaLabelledby]="infoAriaLabelledby(i)"
      ></app-expand-panel>
    </div>

    <div class="more">
      <a routerLink="/help" [queryParams]="queryParams"
        ><i class="icons-ic-more-white i-icon i-up"></i
        >{{ FLang.faq.faq003 }}</a
      >
    </div>
    <!-- tab-card end-->
  </div>
</div>
