{{ childItemsOffline.defaultImg | json }}

<div class="commodity recom">
  <h1 class="text-center">{{ FLang.D02.title.D0003 }}</h1>
  <div class="remarks-grey">
    {{ FLang.D02.content.D0027 }}
    <ol>
      <li>{{ FLang.D02.content.D0028 }}</li>
      <li>{{ FLang.D02.content.D0029 }}</li>
    </ol>
  </div>

  <div>
    <div class="row item-row thumbsup align-items-center">
      <div class="col-sm-12 col-lg-6 text-center">
        <img
          [src]="childItemsOnline.defaultImg"
          alt=""
          [srcset]="childItemsOnline.srcsetImg"
          class="img-fluid d-none d-md-inline-block"
        />
        <img
          [src]="childItemsOnline.mobileDefaultImg"
          alt=""
          [srcset]="childItemsOnline.mobileSrcsetImg"
          class="img-fluid d-md-none p-0"
        />
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="item">
          <h2>{{ childItemsOnline.title }}</h2>
          <p class="custom_text_align">
            {{ childItemsOnline.directions }}
          </p>
          <div class="recom-box">
            <div
              class="recom-row"
              *ngFor="let item of childItemsOnline.content"
            >
              <div class="recom-img">
                <img
                  [src]="item.defaultImg"
                  alt=""
                  [srcset]="item.srcsetImg"
                  class="d-none d-md-block"
                />
              </div>
              <div class="details mr-auto">
                <h3>{{ item.title }}</h3>
                <p
                  style="white-space: pre-wrap"
                  [innerHTML]="item.directions"
                ></p>
              </div>
              <div class="price">
                <span>{{ item.money }}</span
                >{{ FLang.D02.content.D0030 }}
              </div>
            </div>
          </div>
          <div class="row total no-gutters align-items-center">
            <div class="col-md-12 col-lg-6 mr-auto total-money">
              {{ FLang.D02.content.D0031
              }}<span>{{ childItemsOnline.totalPrice }}</span
              >{{ FLang.D02.content.D0030 }}
            </div>
            <div
              class="col-md-12 col-lg-6 order-lg-first text-gray text-lg-left re-explain"
            ></div>
          </div>

          <div class="text-center">
            <a
              routerLink="/online-insurance/project-trial-motor/calcAmt"
              class="btn btn-primary"
              >{{ FLang.D02.content.D0032 }}</a
            >
          </div>
        </div>
      </div>
      <div class="rec-img">
        <img
          src="assets/img/commodity/ic-thumbsup.png"
          alt=""
          srcset="assets/img/commodity/ic-thumbsup@2x.png 2x"
          class="d-none d-md-block"
        />
        <img
          src="assets/img/commodity/ic-thumbsup-s.png"
          alt=""
          srcset="assets/img/commodity/ic-thumbsup-s@2x.png 2x"
          class="d-md-none"
        />
      </div>
    </div>

    <!-- <hr class="d-lg-none" /> -->

    <div
      class="row item-row align-items-center"
      *ngFor="let item of childItemsOffline; index as i"
    >
      <div class="col-sm-12 col-lg-6 text-center">
        <img
          [src]="item.defaultImg"
          alt=""
          [srcset]="item.srcsetImg"
          class="img-fluid d-none d-md-inline-block"
        />
        <img
          [src]="item.mobileDefaultImg"
          alt=""
          [srcset]="item.mobileSrcsetImg"
          class="img-fluid d-md-none p-0"
        />
      </div>
      <div [ngClass]="styleCss(i)">
        <div class="item">
          <h2 class="green-darkgreen">{{ item.title }}</h2>
          <p
            class="custom_text_align"
            [innerHTML]="item.directions"
          ></p>
          <div class="recom-box">
            <div class="recom-row" *ngFor="let content of item.content">
              <div class="recom-img">
                <img
                  [src]="content.defaultImg"
                  alt=""
                  [srcset]="content.srcsetImg"
                  class="d-none d-md-block"
                />
              </div>
              <div class="details mr-auto">
                <h3>{{ content.title }}</h3>
                <p
                  style="white-space: pre-wrap"
                  [innerHTML]="content.directions"
                ></p>
              </div>
              <div class="price">
                <span>{{ content.money }}</span
                >{{ FLang.D02.content.D0030 }}
              </div>
            </div>
          </div>
          <div
            class="row total no-gutters flex-column flex-md-row align-items-md-center"
          >
            <div class="total-money">
              {{ FLang.D02.content.D0033 }}<span>{{ item.totalPrice }}</span
              >{{ FLang.D02.content.D0030 }}
            </div>
            <div
              class="order-md-first text-gray text-right text-md-left re-explain pointer mr-md-auto"
              [routerLink]="['/help']"
              [queryParams]="{ type: 'info' }"
            >
              {{ FLang.D02.content.D0034 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr class="d-lg-none" /> -->
  </div>
</div>
