<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li
            class="breadcrumb-item"
            *ngFor="let item of showBreadcrumbList; let isLast = last"
            [class.active]="isLast"
          >
            <a *ngIf="!isLast" [routerLink]="item.path">{{ item.name }}</a>
            <ng-container *ngIf="isLast">{{ item.name }}</ng-container>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
