<!-- Modal-19 -->
<div
  *ngIf="FLang && FNoticeDetail"
  class="modal fade"
  id="Modal-19"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalLabel-19"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.A05.A0012_.s002 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="service-notice">
          <div class="service-row">
            <div
              class="meta d-flex flex-column flex-lg-row align-items-start align-items-lg-center"
            >
              <label class="label is-green text-left">{{
                FNoticeDetail.tag
              }}</label>
              <span class="public_at keep-same-line mt-1 mt-lg-0">{{
                FNoticeDetail.create_date
                  | cDate: "HH:mm DD/MM/YYYY":"HH:mm YYYY/MM/DD"
              }}</span>
            </div>
            <p
              class="custom_text_align"
              [innerHTML]="FNoticeDetail.content"
            ></p>
          </div>
        </div>
        <div class="text-center service-notice-btn">
          <button
            type="button"
            class="btn btn-primary"
            data-target="#"
            data-dismiss="modal"
          >
            {{ FLang.AlertButton.A0001 }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
