<div class="topbg">
  <div class="topbg-box">
    <div class="top-bg-story">
      <img
        src="assets/img/img-bn-member.png"
        alt=""
        srcset="assets/img/img-bn-member@2x.png 2x"
        class="img-fluid d-none d-md-block"
      />
      <img
        src="assets/img/img-bn-member-m.png"
        alt=""
        srcset="assets/img/img-bn-member-m@2x.png 2x"
        class="img-fluid d-md-none"
      />
    </div>
    <div class="top-bg-scrap d-none d-md-block">
      <img
        src="assets/img/img-banner-shape.png"
        alt=""
        srcset="assets/img/img-banner-shape@2x.png 2x"
        class="img-fluid"
      />
    </div>
  </div>
</div>
