<div class="topbg">
  <div class="topbg-box">
    <div class="top-bg-story">
      <div *ngIf="clickItem === 'bg1'" class="bg-one">
        <!-- bg-one -->
        <img
          src="assets/img/img-bn-faq.png"
          alt=""
          srcset="assets/img/img-bn-faq@2x.png 2x"
          class="img-fluid d-none d-md-block"
        />
        <img
          src="assets/img/img-bn-faq-m.png"
          alt=""
          srcset="assets/img/img-bn-faq-m@2x.png 2x"
          class="img-fluid d-md-none"
        />
      </div>
      <div *ngIf="clickItem === 'bg2'" class="bg-two">
        <img
          src="assets/img/img-bn-form.png"
          alt=""
          srcset="assets/img/img-bn-form@2x.png 2x"
          class="img-fluid d-none d-md-block"
        />
        <img
          src="assets/img/img-bn-form-m.png"
          alt=""
          srcset="assets/img/img-bn-form-m@2x.png 2x"
          class="img-fluid d-md-none"
        />
      </div>
      <div *ngIf="clickItem === 'bg3'" class="bg-three">
        <img
          src="assets/img/img-bn-message.png"
          alt=""
          srcset="assets/img/img-bn-message@2x.png 2x"
          class="img-fluid d-none d-md-block"
        />
        <img
          src="assets/img/img-bn-message-m.png"
          alt=""
          srcset="assets/img/img-bn-message-m@2x.png 2x"
          class="img-fluid d-md-none"
        />
      </div>
    </div>
    <div class="top-bg-scrap d-none d-md-block">
      <img
        src="assets/img/img-banner-shape.png"
        alt=""
        srcset="assets/img/img-banner-shape@2x.png 2x"
        class="img-fluid"
      />
    </div>
  </div>
</div>
