.insurance-changing-page {
  .select-search .btn {
    &.status-error {
      border: 2px solid red;
    }
  }
  .text-gray {
    color: #495057 !important;
  }
  .container {
    .success-img {
      text-align: center;
      margin-bottom: 20px;
      .img-fluid {
        max-width: 60%;
      }
    }
  }
}
