<form [formGroup]="group">
  <div class="advisory-content">
    <div class="adv-box-item">
      <!-- 身分證9 or 12 -->
      <div
        class="form-group"
        id="lyc_certificate_number"
        *ngIf="data.xchannel !== 'claim'"
        [class.status-error]="
          FcheckIdError ||
          (certificate_number.dirty &&
            certificate_number.touched &&
            certificate_number.invalid)
        "
      >
        <label>{{ FLang.C03.step2.L0002 }}</label>
        <div class="from-row">
          <input
            class="form-control"
            type="tel"
            formControlName="certificate_number"
            (change)="checkId()"
            appLimitInput
            [replace]="'number'"
            [placeholder]="FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS001"
          />
          <i
            (click)="certificate_number.setValue('')"
            class="icons-ic-form-del i-icon"
          ></i>
        </div>
        <small
          class="form-text"
          [class.d-none]="
            FcheckIdError ||
            data.xType === 'edit' ||
            !certificate_number.dirty ||
            certificate_number.untouched ||
            certificate_number.valid
          "
        >
          {{ getErrors(certificate_number) }}</small
        >
        <small class="form-text" [class.d-none]="!FcheckIdError">
          {{ FcheckIdError }}</small
        >
      </div>
      <!-- 姓名 -->
      <div
        id="lyc_name"
        class="form-group"
        [class.status-error]="name.dirty && name.touched && name.invalid"
      >
        <label>{{ FLang.C03.step2.L0003 }}</label>
        <div class="from-row">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            appLimitInput
            [replace]="'vn'"
            (input)="changeToUpperCase($event)"
            [placeholder]="FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS003"
          />
          <i (click)="name.setValue('')" class="icons-ic-form-del i-icon"></i>
        </div>
        <small
          class="form-text"
          [class.d-none]="
            data.xType === 'edit' || !name.dirty || name.untouched || name.valid
          "
        >
          {{ getErrors(name) }}</small
        >
      </div>
      <!-- 出生年月 -->
      <div
        id="lyc_birthday"
        class="form-group icon-date"
        *ngIf="data.xchannel !== 'claim'"
        [class.status-error]="
          birthday.dirty && birthday.touched && birthday.invalid
        "
      >
        <div class="from-row">
          <app-datepicker
            label="{{ FLang.C03.step2.L0004 }}"
            placeholder="{{
              FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS011
            }}"
            xid="user_birthday"
            [xdisabled]="data.xType === 'edit'"
            [value]="FBirthday"
            [config]="{
              minDate: mixDate,
              maxDate: maxDate,
              startDate: startDate
            }"
            [xReadonly]="FReadonly"
            (getDate)="getDate($event)"
          ></app-datepicker>
        </div>
        <small
          *ngIf="data.xchannel === 'travel' && data.xType === 'add'"
          class="form-text"
          [class.d-none]="
            !birthday.dirty || birthday.valid || birthday.untouched
          "
        >
          {{ getErrors(birthday) }}
        </small>
        <small
          *ngIf="
            data.xchannel === 'travel' && data.xType === 'edit' && !FDateType
          "
          class="form-text"
        >
          {{ FLang.ER.ER038 }}
        </small>
      </div>

      <!-- 男女 -->
      <div class="form-group" id="lyc_sex" *ngIf="data.xchannel !== 'claim'">
        <label>{{ FLang.C03.step2.L0005 }}</label>
        <div class="choose-box choo-sub ml-0" style="display: block">
          <div class="choose-row">
            <div
              class="choose-box"
              [class.disabled]="sex.value === '1' && data.xType === 'edit'"
              [class.disabled-air]="sex.value !== '1' && data.xType === 'edit'"
            >
              <input
                id="sex_m"
                formControlName="sex"
                type="radio"
                class="big-checkbox"
                name="sex"
                value="1"
              /><label for="sex_m">{{ FLang.C04.step2.C0005_.s001 }}</label>
            </div>
          </div>
          <div class="choose-row">
            <div
              class="choose-box"
              [class.disabled]="sex.value === '0' && data.xType === 'edit'"
              [class.disabled-air]="sex.value !== '0' && data.xType === 'edit'"
            >
              <input
                id="sex_f"
                formControlName="sex"
                type="radio"
                class="big-checkbox"
                name="sex"
                value="0"
              /><label for="sex_f">{{ FLang.C04.step2.C0005_.s002 }}</label>
            </div>
          </div>
        </div>
        <small
          class="form-text"
          [class.d-none]="
            !controls.sex.dirty ||
            controls.sex.valid ||
            controls.sex.untouched ||
            controls.sex.value
          "
        >
          {{ getErrors(sex) }}
        </small>
      </div>

      <!-- 手機 -->
      <div
        class="form-group"
        id="lyc_mobile"
        [class.status-error]="mobile.dirty && mobile.touched && mobile.invalid"
      >
        <label>{{ FLang.C03.step2.L0006 }}</label>
        <div class="from-row">
          <input
            type="tel"
            class="form-control"
            [attr.placeholder]="
              FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS004
            "
            formControlName="mobile"
            appLimitInput
            [replace]="'number'"
          />
          <i (click)="mobile.setValue('')" class="icons-ic-form-del i-icon"></i>
        </div>
        <small
          class="form-text"
          [class.d-none]="!mobile.dirty || mobile.untouched || mobile.valid"
        >
          {{ getErrors(mobile) }}
        </small>
      </div>

      <!-- email -->
      <div
        id="lyc_email_bk"
        *ngIf="data.xType === 'edit'"
        class="form-group"
        [class.status-error]="
          email_bk.dirty && email_bk.touched && email_bk.invalid
        "
      >
        <label>E-mail</label>
        <div class="from-row">
          <input
            type="email"
            class="form-control"
            [attr.placeholder]="
              FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS005
            "
            formControlName="email_bk"
            (change)="data.errorMsg = ''"
          />
          <i (click)="email.setValue('')" class="icons-ic-form-del i-icon"></i>
        </div>
        <small
          class="form-text"
          [class.d-none]="
            data.errorMsg ||
            data.xType === 'edit' ||
            !email_bk.dirty ||
            email_bk.untouched ||
            email_bk.valid
          "
        >
          {{ getErrors(email_bk) }}</small
        >
        <small class="form-text" [class.d-none]="!data.errorMsg">
          {{ data.errorMsg }}</small
        >
        <div [class.d-none]="data.xType === 'edit'" class="form-discount mt-2">
          {{ FLang.C03.step2.L0009 }}
        </div>
      </div>
      <div
        id="lyc_email"
        *ngIf="data.xType === 'add'"
        class="form-group"
        [class.status-error]="email.dirty && email.touched && email.invalid"
      >
        <label>E-mail</label>
        <div class="from-row">
          <input
            type="email"
            class="form-control"
            [attr.placeholder]="
              FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS005
            "
            formControlName="email"
            (change)="data.errorMsg = ''"
          />
          <i (click)="email.setValue('')" class="icons-ic-form-del i-icon"></i>
        </div>
        <small
          class="form-text"
          [class.d-none]="
            data.errorMsg ||
            data.xType === 'edit' ||
            !email.dirty ||
            email.untouched ||
            email.valid
          "
        >
          {{ getErrors(email) }}</small
        >
        <small class="form-text" [class.d-none]="!data.errorMsg">
          {{ data.errorMsg }}</small
        >
        <div [class.d-none]="data.xType === 'edit'" class="form-discount mt-2">
          {{ FLang.C03.step2.L0009 }}
        </div>
      </div>
      <!-- 說明 -->

      <!-- 省分 -->
      <div class="form-mul" id="lyc_province">
        <label>{{ FLang.C03.step2.L0011 }}</label>
        <div class="row mb-2 no-gutters">
          <div class="col-md-6 from-one">
            <div
              class="form-group icon-select mb-0"
              [class.status-error]="
                province.dirty && province.touched && province.invalid
              "
            >
              <div class="from-row">
                <select
                  required
                  formControlName="province"
                  class="form-control custom-select"
                  (change)="notifyCounty($event)"
                >
                  <option value="" disabled selected hidden>
                    {{ FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS008 }}
                  </option>
                  <option
                    *ngFor="let item of FProvinceList; index as i"
                    class="text-gray"
                    [ngValue]="item.provinceValue"
                  >
                    {{ item.provinceZhname }}
                  </option>
                </select>

                <i class="icons-ic-form-del i-icon"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6 from-two">
            <div
              class="form-group icon-select mb-0"
              [class.status-error]="
                county.dirty && county.touched && county.invalid
              "
            >
              <div class="from-row">
                <select
                  required
                  class="form-control custom-select"
                  formControlName="county"
                >
                  <option value="" disabled selected hidden>
                    {{ FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS009 }}
                  </option>
                  <option
                    *ngFor="let item of FCountyList; index as i"
                    class="text-gray"
                    [ngValue]="item.countyValue"
                  >
                    {{ item.countyZhname }}
                  </option>
                </select>

                <i class="icons-ic-form-del i-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- addr -->
      <div
        id="lyc_address"
        class="form-group mb-2"
        [class.status-error]="
          address.dirty && address.touched && address.invalid
        "
      >
        <div class="from-row">
          <input
            type="text"
            class="form-control"
            [attr.placeholder]="
              FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS010
            "
            formControlName="address"
          />
          <i
            (click)="controls.address.setValue('')"
            class="icons-ic-form-del i-icon"
          ></i>
        </div>
        <small
          class="form-text"
          [class.d-none]="!address.dirty || address.untouched || address.valid"
        >
          {{ getErrors(controls.address) }}
        </small>
      </div>

      <div *ngIf="data.xchannel === 'trial'" class="form-discount">
        {{ FLang.C03.step2.L0013 }}
      </div>

      <!-- 同步更新會員資料 -->
      <div *ngIf="data.xType === 'edit' && data.xchannel !== 'claim'">
        <div class="choose-box mt-20">
          <input
            type="checkbox"
            class="big-checkbox"
            formControlName="updated"
            (click)="onSyncClick()"
          /><label> {{ FLang.C03.step2.L0014 }}</label>
        </div>
      </div>
    </div>
  </div>
</form>
