<footer>
  <ng-template [ngIf]="FShow">
    <div class="footer-top">
      <div class="container">
        <div class="d-lg-flex">
          <div class="f-infor">
            <div class="row no-gutters">
              <div class="col-lg-4 col-md-12 d-flex f-infor-box">
                <a href="tel:028 6288 8385" class="d-flex">
                  <div><i class="icons-ic-footer-tel i-icon mr-20"></i></div>

                  <div class="align-self-start mt-1">028 6288 8385</div>
                </a>
              </div>

              <div class="col-lg-4 col-md-12 d-flex f-infor-box">
                <a routerLink="/about" class="d-flex" fragment="map">
                  <div>
                    <i class="icons-ic-footer-location i-icon mr-20"></i>
                  </div>

                  <div class="align-self-start mt-1">{{ FLang.A0001 }}</div>
                </a>
              </div>

              <div class="col-lg-4 col-md-12 d-flex f-infor-box">
                <a
                  routerLink="/help"
                  [queryParams]="{ type: 'info' }"
                  class="d-flex"
                >
                  <div><i class="icons-ic-fooer-mail i-icon mr-20"></i></div>

                  <div class="align-self-start mt-1">{{ FLang.A0002 }}</div>
                </a>
              </div>
            </div>
          </div>

          <div class="img-ssl align-self-center col-md-auto text-center">
            <img
              src="assets/img/ic-ssl.png"
              alt=""
              srcset="assets/img/ic-ssl@2x.png 2x"
              class="mr-md-3 mr-sm-4"
              (click)="imgUrl(1)"
            />
            <img
              src="assets/img/ic-online-vn.png"
              alt=""
              srcset="assets/img/ic-online-vn@2x.png 2x"
              (click)="imgUrl(2)"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="brand-link">
      <div class="container">
        <div class="d-md-flex">
          <div class="d-none d-md-inline mr-12">
            <img
              src="assets/img/logo-footer.png"
              alt=""
              srcset="assets/img/logo-footer@2x.png 2x"
            />
          </div>
          <ul class="align-self-center">
            <li>
              <a (click)="goUrl(0)">{{ FLang.A0003 }}</a>
            </li>
            <li>
              <a (click)="goUrl(1)">{{ FLang.A0004 }}</a>
            </li>
            <li>
              <a (click)="goUrl(2)">{{ FLang.A0005 }}</a>
            </li>
            <li>
              <a (click)="goUrl(3)">{{ FLang.A0006 }}</a>
            </li>
            <li>
              <a (click)="goUrl(4)">{{ FLang.A0007 }}</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="container">
        <div class="footer-bottom">
          © 2021 Cathay Insurance (Viet Nam) Limited. All rights reserved.
        </div>
        <div class="footer-bottom">{{ version }}</div>
      </div>
      <app-gotop></app-gotop>
    </div>

    <div
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      class="fade show cookie message"
      data-autohide="false"
      *ngIf="!FCookieShow"
    >
      <div class="toast-body">
        <div class="container">
          <div class="d-lg-flex">
            <div class="cookie-image">
              <img src="assets/img/cookies@2x.png" alt="" />
            </div>
            <div class="cookie-content">
              <p [innerHtml]="FLang.A0008"></p>
            </div>
            <div class="action">
              <button
                class="btn btn-white"
                data-dismiss="toast"
                aria-label="Close"
                (click)="cookieClick()"
              >
                {{ FLang.A0009 }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</footer>
