<main>
  <div class="com-content">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story">
          <img
            src="./assets/img/img-bn-claim.png"
            alt=""
            srcset="./assets/img/img-bn-claim@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="./assets/img/img-bn-claim-m.png"
            alt=""
            srcset="./assets/img/img-bn-claim-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
        <div class="top-bg-scrap d-none d-md-block">
          <img
            src="./assets/img/img-banner-shape.png"
            alt=""
            srcset="./assets/img/img-banner-shape@2x.png 2x"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="caption">
      <div class="container">
        <h1>{{ FLang.F05.F0001 }}</h1>
      </div>
    </div>
    <section class="sectLg service-inform-guarantee">
      <div class="container remove-width form-canta">
        <div class="bg-white-block form-data choose-group">
          <div
            *ngFor="let item of FClaimList; index as i"
            class="col-sm-12 col-md-12 choose-card-wrapper"
          >
            <div
              class="choose-card service-card service-notice-box select-service"
              [class.active]="FActiveIndex === i"
            >
              <a (click)="onSelectClaim(item)">
                <div class="choose-top">
                  <div class="choose-row mr-auto">
                    <div>
                      <div>{{ FLang.F05.F0002 }}</div>
                      <div class="remarks">{{ item.insr_info }}</div>
                    </div>
                  </div>
                  <div>
                    <div class="radio-orange">
                      <input
                        [(ngModel)]="FActiveIndex"
                        type="radio"
                        class="big-checkbox"
                        name="gender2"
                        [value]="i"
                      />
                      <label for="gender2"></label>
                    </div>
                  </div>
                </div>
                <div class="service-notice-content">
                  <div class="service-notice">
                    <div class="service-row">
                      <p>{{ item.prod_pol_name }}</p>
                      <p>
                        <span class="keep-same-line">
                          {{ item.pol_date | cDate: "HH:mm DD/MM/YYYY" }}
                          <span class="white-space-pre-wrap">- </span>
                        </span>
                        <span class="keep-same-line">
                          {{ item.pol_due_date | cDate: "HH:mm DD/MM/YYYY" }}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a
          class="btn btn-primary"
          [class.disabled]="FActiveIndex === -1"
          (click)="onNextStep()"
        >
          {{ FLang.F05.F0003 }}
        </a>
      </div>
    </section>

    <app-select-flight
      [flightData]="FFlightData"
      (selected)="onSelectClaimItem($event)"
    ></app-select-flight>
  </div>
</main>
