<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member.png"
              alt=""
              srcset="assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-member-m.png"
              alt=""
              srcset="assets/img/img-bn-member-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <ng-container>
            <h1>
              {{ isSetpwd ? FLang.F075.title.F0001 : FLang.B015A.title.B0001 }}
            </h1>
          </ng-container>
        </div>
      </div>
      <section class="service-inform-guarantee">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div
                    id="lyc_kor"
                    class="form-group"
                    [class.status-error]="
                      Fkorerror ||
                      (controls.kor &&
                        controls.kor.dirty &&
                        controls.kor.touched &&
                        controls.kor.invalid)"
                  >
                    <ng-container *ngIf="isSetpwd; else ly_inputAcc">
                      <label>{{ FLang.F075.content.F0001 }}</label>
                      <div class="from-row">
                        <input
                          type="password"
                          class="form-control"
                          placeholder="{{
                            FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS020
                          }}"
                          formControlName="kor"
                          autocomplete="new-password"
                        />
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="doClearInput('kor')"
                        ></i>
                      </div>
                      <small
                        class="form-text"
                        [class.d-none]="
                          !Fkorerror &&
                          (!controls.kor.dirty ||
                            controls.kor.untouched ||
                            controls.kor.valid)
                        "
                        >{{
                          Fkorerror ? FLang.F075.content.F0003 : getErrors(controls.kor)
                        }}</small
                      >
                    </ng-container>
                    <ng-template #ly_inputAcc>
                      <label>{{ FLang.B015A.content.B0001 }}</label>
                      <div class="from-row">
                        <input
                          class="form-control"
                          placeholder=""
                          disabled
                          formControlName="email"
                        />
                        <i
                          class="icons-ic-form-del i-icon"
                          (click)="controls.email.setValue('')"
                        ></i>
                      </div>
                    </ng-template>
                  </div>
                  <div
                    id="lyc_password"
                    class="form-group"
                    [class.status-error]="
                      controls.password.dirty &&
                      controls.password.touched &&
                      controls.password.invalid
                    "
                  >
                    <label>{{ FLang.B015A.content.B0002 }}</label>
                    <div class="from-row">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="{{ FLang.B015A.content.B0003 }}"
                        formControlName="password"
                        autocomplete="new-password"
                        appLimitInput
                        [replace]="'enNumber'"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="doClearInput('password')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.password.dirty ||
                        controls.password.untouched ||
                        controls.password.valid
                      "
                    >
                      {{ getErrors(controls.password) }}</small
                    >
                  </div>
                  <div
                    id="lyc_confirmPassword"
                    class="form-group"
                    [class.status-error]="
                    controls.confirmPassword.dirty &&
                    controls.confirmPassword.touched &&
                    controls.confirmPassword.invalid
                    "
                  >
                    <label>{{ FLang.B015A.content.B0004 }}</label>
                    <div class="from-row">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="{{ FLang.B015A.content.B0003 }}"
                        formControlName="confirmPassword"
                        autocomplete="new-password"
                        appLimitInput
                        [replace]="'enNumber'"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="doClearInput('confirmPassword')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.confirmPassword.dirty ||
                        controls.confirmPassword.untouched ||
                        controls.confirmPassword.valid
                      "
                    >
                      {{
                          getErrors(controls.confirmPassword)
                      }}
                    </small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="text-center">
            <a class="btn btn-primary" (click)="doSubmit()">{{
              FLang.B015A.content.B0005
            }}</a>
            <!-- [ngClass]="[
                'btn btn-primary',
                group.status === 'VALID' &&
                controls.password.value === controls.confirmPassword.value
                  ? ''
                  : 'disabled'
              ]" -->
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- <div style="margin: 1rem 0">
      form model value: <br />{{ group.value | json }} <br />form controls
      value: <br />{{ group.status | json }}
    </div> -->
</div>
