<div
  class="modal fade notice"
  id="paymentFailModal"
  tabindex="-1"
  aria-labelledby="ModalLabel-04"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content mb-20">
          <h5>{{ FLang.P0001 }}</h5>
          <p>
            <!-- {{ FLang.P0002 }} -->
            <span class="display-block">{{ FLang.P0003 }}</span>
          </p>
          <p>
            {{ FLang.P0004 }}
            <br />
            {{ FLang.P0005 }}
          </p>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
              (click)="onPaymentFail($event)"
            >
              {{ FLang.P0006 }}
            </button>
          </div>
          <div class="col-12 text-center">
            <a
              href="tel:028 6288 8385"
              class="btn btn-white"
              (click)="closePop()"
            >
              {{ FLang.P0007 }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
