::ng-deep #lydatepickR {
  font-family: "Roboto", "Noto sans TC", sans-serif, "Microsoft JhengHei",
    "微軟正黑體";
  color: #7d8a94;
  -webkit-text-fill-color: #7d8a94;
}

::ng-deep .date1 {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
}

input {
  font-family: "Roboto", "Noto sans TC", sans-serif, "Microsoft JhengHei",
    "微軟正黑體";
}

.form-text {
  color: #f9556f;
}

.text-gray-light {
  color: #999999;
}

.status-error-extend {
  border: 2px solid #f9556f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.pointNone {
  pointer-events: none;
}

.advisory-content.addHeight {
  // transition: 1s;
  height: 600px;
  animation: oxxo 0.3s;
  animation-fill-mode: forwards;
}

.cust-disabled {
  background-color: #f2f1f0;
  color: #7d8a94;
  -webkit-text-fill-color: #7d8a94;
}

@keyframes oxxo {
  from {
    height: 450px;
  }
  to {
    height: 600px;
  }
}

.form-more-search-input:focus-within {
  border: 2px solid #32b15f;
}

a[href].text-gray-light {
  color: #7d8a94;
}

.form-text-error {
  color: #f9556f;
  font-size: 0.875rem;
}

.payment-row.mb-05 {
  margin-bottom: 5px;
}

.airport-title {
  display: flex;
  justify-content: center;

  span {
    display: block;
  }
}

@media (max-width: 768.98px) {
  .airport-title {
    display: block;
  }
}
