<div class="height-content">
  <main>
    <div class="com-content">
      <!-- banner -->
      <section class="banner-img-center">
        <img
          [src]="bannerImg(1)"
          alt="mua bảo hiểm du lịch nước ngoài"
          [srcset]="bannerImgBig(1)"
          class="d-none d-xl-block"
        />
        <img
          [src]="bannerImg(2)"
          alt="mua bảo hiểm du lịch"
          [srcset]="bannerImgBig(2)"
          class="d-none d-md-block d-xl-none"
        />
        <img
          [src]="bannerImg(3)"
          alt="giá bảo hiểm du lịch"
          [srcset]="bannerImgBig(3)"
          class="d-md-none"
        />
        <span
          class="banner_button"
          [ngClass]="checkI18n()"
          (click)="bannerUrl()"
        ></span>
      </section>

      <!-- router fragment 為 bookmark-anchor 時頁面的初始位置 -->
      <div id="bookmark-anchor"></div>

      <section #bookmark class="bookmark">
        <!-- //20201222 modi by 子彥 增加這個div -->
        <div class="container remove-width com-book">
          <div class="commodity-tab-wrapper">
            <app-bookmark></app-bookmark>
          </div>

          <app-travel-content
            [pageData]="pageData"
            (xchooseComponentChange)="chooseComponent = $event"
          ></app-travel-content>
          <app-bg-bubble></app-bg-bubble>
        </div>
      </section>

      <!-- cardSlide -->
      <app-card-slide></app-card-slide>

      <!-- flowChart -->
      <app-flow-chart></app-flow-chart>

      <!-- FAQ -->
      <app-faq></app-faq>
    </div>
  </main>
</div>

{{ chooseComponent }}
<div
  class="modal fade"
  id="Modal-01"
  tabindex="-1"
  aria-labelledby="ModalLabel-01"
  aria-hidden="true"
>
  <ng-container
    *ngComponentOutlet="mapping.get(chooseComponent)"
  ></ng-container>
</div>
