#bookmark-anchor {
  position: relative;
  bottom: -25px;

  @media (min-width: 991px) {
    bottom: 60px;
  }
}

// 處理 banner 按鈕
.banner-img-center {
  position: relative;
}

.banner_button {
  position: absolute;
  display: inline-block;
  width: 248px;
  height: 47px;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 0 1px 1px 1px transparent;
  cursor: pointer;
}

.banner_button.banner_vn{
  top: 277px;
}

.banner_button.banner_tw{
  top: 334px;
}

.banner_button.banner_en{
  top: 334px;
}

@media (max-width: 1199.98px) {
  .banner_button.banner_vn{
    top: 223px;
  }

  .banner_button.banner_tw{
    top: 290px;
  }

  .banner_button.banner_en{
    top: 290px;
  }
}
@media (max-width: 767.98px) {
  .banner_button {
    left: 284px;
    width: 200px;
    height: 36px;
  }
  .banner_button.banner_vn{
    top: 397px;
  }

  .banner_button.banner_tw{
    top: 416px;
  }

  .banner_button.banner_en{
    top: 416px;
  }
}
@media (max-width: 375px) {
  .banner_button {
    left: 101px;
    width: 162px;
    height: 32px;
  }
  .banner_button.banner_vn{
    top: 321px;
  }

  .banner_button.banner_tw{
    top: 337px;
  }

  .banner_button.banner_en{
    top: 337px;
  }
}
