<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member.png"
              alt=""
              srcset="assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-member-m.png"
              alt=""
              srcset="assets/img/img-bn-member-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1 *ngIf="FType === 1">{{ FLang.F021.L0037 }}</h1>
          <h1 *ngIf="FType === 2">{{ FLang.F021.L0038 }}</h1>
          <h1 *ngIf="FType === 3">{{ FLang.F021.L0039 }}</h1>
        </div>
      </div>

      <!-- 汽機車共用 -->
      <section class="sectLg service-inform-guarantee">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <!-- 單頭 -->
            <div class="title">{{ FLang.F021.L0024 }}</div>
            <p class="text-md-center text-gray mb-30">
              {{ FLang.F021.L0025 }}
            </p>
            <!-- 我要續保 -->
            <div class="renew" [class.d-none]="!FCheckrenew">
              <a (click)="goOnlineInsurance()">
                <div class="mr-auto">
                  {{ FLang.F022.F0016 }}
                  {{
                    FPolicyData &&
                      (FPolicyData.pol_due_dt | cDate: "HH:mm DD/MM/YYYY")
                  }}
                  {{ FLang.F022.F0017 }}
                </div>
                <i class="icons-ic-arrow-l-o i-icon cursor"></i>
              </a>
            </div>

            <app-policy-detail-travel
              *ngIf="FType === 3; else carDetail"
              [isApc]="FIsApc"
              [isGroup]="FIsGroup"
              [isInsr]="FIsInsr"
              [policyData]="FPolicyData"
              [insrData]="FInsrData"
              [policyholderData]="FPolicyholderData"
            ></app-policy-detail-travel>

            <ng-template #carDetail>
              <div class="service-inform-box">
                <div class="service-inform-card">
                  <div class="choose-content">
                    <div class="choose-content-detail">
                      <div class="choose-caption">
                        {{ FLang.F021.L0032 }}
                      </div>
                      <div class="item">{{ FRgstNo }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="title">{{ FLang.F021.L0031 }}</div>
              <!-- 單身 -->
              <div class="service-inform-box">
                <div class="bookmark wow fadeInUp">
                  <div class="tab-row-content">
                    <div class="tab-item-box" id="accordionService">
                      <div
                        *ngFor="let item of FDatalist; let itemindex = index"
                        class="tab-card"
                      >
                        <!-- 卡標題 -->
                        <div
                          class="tab-link"
                          [class.collapsed]="FDatalist.length !== 1"
                          id="ServiceOne"
                          data-toggle="collapse"
                          [attr.data-target]="'#collapseQueOne' + itemindex"
                          [attr.aria-expanded]="FDatalist.length !== 1"
                          [attr.aria-controls]="'collapseQueOne' + itemindex"
                        >
                          <div class="tab-title d-flex">
                            <h4>{{ item.policy_data.prod_pol_name }}</h4>
                            <i class="icons-ic-collapse-minus i-icon i-up"></i>
                            <i class="icons-ic-collapse-plus i-icon i-down"></i>
                          </div>
                        </div>
                        <!-- 卡清單 -->

                        <div class="service-inform-card service-card-top">
                          <div class="choose-content">
                            <div class="service-notice">
                              <label
                                class="label"
                                [ngClass]="
                                  FLangType
                                    | capsuleStyle
                                      : item.policy_data.pol_dt
                                      : item.policy_data.pol_due_dt
                                "
                              >
                                {{
                                  FLangType
                                    | capsule
                                      : item.policy_data.pol_dt
                                      : item.policy_data.pol_due_dt
                                }}
                              </label>
                            </div>
                            <div class="choose-content-detail">
                              <div class="choose-caption">
                                {{ FLang.F022.F0001 }}
                              </div>
                              <div class="item">
                                {{ item.policy_data.pol_no }}
                              </div>
                            </div>
                            <div class="choose-content-detail">
                              <div class="choose-caption">
                                {{ FLang.F022.F0002 }}
                              </div>
                              <div class="item">
                                <div class="d-inline-block white-space-nowrap">
                                  {{ item.policy_data.pol_dt | cDate: "HH:mm" }}
                                  {{
                                    item.policy_data.pol_dt
                                      | cDate: "DD/MM/YYYY"
                                  }}
                                </div>

                                <span>-</span>

                                <div class="d-inline-block white-space-nowrap">
                                  <span>
                                    {{
                                      item.policy_data.pol_due_dt
                                        | cDate: "HH:mm"
                                    }}</span
                                  >
                                  {{
                                    item.policy_data.pol_due_dt
                                      | cDate: "DD/MM/YYYY"
                                  }}
                                </div>
                              </div>
                            </div>
                            <div class="choose-content-detail">
                              <div class="choose-caption">
                                {{ FLang.F022.F0003 }}
                              </div>
                              <div class="item">
                                {{
                                  item.policy_data.prem
                                    | number: "":FLangType
                                    | moneyUnit: FLangType
                                }}
                              </div>
                            </div>
                          </div>
                        </div>

                        <div
                          [id]="'collapseQueOne' + itemindex"
                          class="collapse"
                          [class.show]="FDatalist.length === 1"
                          aria-labelledby="ServiceOne"
                          data-parent="#accordionService"
                        >
                          <div class="service-guarantee-title">
                            {{ FLang.F022.F0004 }}
                          </div>
                          <div
                            class="service-guarantee-row"
                            [class.pt-0]="firstRecord"
                            *ngFor="
                              let cItem of item.coverages;
                              let firstRecord = first
                            "
                          >
                            <div class="item">
                              {{ cItem.coverageTypeName }}
                            </div>
                            <div
                              class="service-content-detail"
                              *ngFor="let cgItem of cItem.coverages"
                            >
                              <div class="service-caption">
                                <div
                                  *ngFor="let ciItem of cgItem.coverageItems"
                                >
                                  {{ ciItem.coverageItemName }}
                                </div>
                              </div>
                              <div
                                class="service-price"
                                *ngIf="
                                  cItem[cgItem.group] !== '0' ||
                                  cItem.amt !== '0'
                                "
                              >
                                {{
                                  cItem[cgItem.group] || cItem.amt
                                    | number: "":FLangType
                                    | moneyUnit: FLangType
                                }}
                              </div>
                            </div>
                            <ng-container
                              *ngIf="
                                cItem.additional_terms &&
                                cItem.additional_terms.length
                              "
                            >
                              <h5>{{ FLang.F022.F0006 }}</h5>
                              <div
                                class="service-content-detail"
                                *ngFor="let terms of cItem.additional_terms"
                              >
                                <div class="service-caption">
                                  <div>{{ terms.clus_ctnt }}</div>
                                </div>
                              </div>
                            </ng-container>
                          </div>

                          <div class="service-guarantee-title">
                            {{ FLang.F022.F0007 }}
                          </div>
                          <div
                            class="service-inform-card service-card-line-none"
                          >
                            <div class="choose-content">
                              <!-- 汽車 -->
                              <ng-container *ngIf="FType === 1">
                                <div class="choose-content-detail">
                                  <div class="choose-caption">
                                    <!-- 車種 -->
                                    {{ FLang.F022.F0007_.s001 }}
                                  </div>
                                  <div class="item">
                                    {{
                                      item.vehicle_reginfo.vehc_kd
                                        | pipePluType: "vkd"
                                    }}
                                  </div>
                                </div>
                                <div
                                  class="choose-content-detail"
                                  *ngIf="
                                    item.vehicle_reginfo.vehc_kd === '22' ||
                                    item.vehicle_reginfo.vehc_kd === '41'
                                  "
                                >
                                  <div class="choose-caption">
                                    <!-- 類型 -->
                                    {{ FLang.F022.F0007_.s002 }}
                                  </div>
                                  <div class="item">
                                    {{
                                      item.vehicle_reginfo.vehc_purp
                                        | pipePluType: "ckd"
                                    }}
                                  </div>
                                </div>
                                <div class="choose-content-detail">
                                  <div class="choose-caption">
                                    {{ FLang.F022.F0007_.s003 }}
                                  </div>
                                  <div class="item">
                                    {{ item.vehicle_reginfo.max_capl }}
                                  </div>
                                </div>
                                <!-- 噸數註解 -->
                                <!-- <div class="choose-content-detail">
                                  <div class="choose-caption">
                                    {{ FLang.F022.F0007_.s004 }}
                                  </div>
                                  <div class="item">
                                    {{ item.vehicle_reginfo.max_load }}
                                  </div>
                                </div> -->
                              </ng-container>
                              <!-- 機車 -->
                              <ng-container *ngIf="FType === 2">
                                <div class="choose-content-detail">
                                  <div class="choose-caption">
                                    {{ FLang.F022.F0007_.s005 }}
                                  </div>
                                  <div class="item">
                                    {{
                                      item.vehicle_reginfo.vehc_kd &&
                                        (item.vehicle_reginfo.vehc_kd
                                          | pipePluType
                                            : "motor"
                                            : item.vehicle_reginfo.vehc_purp)
                                    }}
                                  </div>
                                </div>
                              </ng-container>
                              <div class="choose-content-detail">
                                <div class="choose-caption">
                                  {{ FLang.F022.F0007_.s006 }}
                                </div>
                                <div class="item">
                                  {{ item.vehicle_reginfo.fram_no }}
                                </div>
                              </div>
                              <div class="choose-content-detail">
                                <div class="choose-caption">
                                  {{ FLang.F022.F0007_.s007 }}
                                </div>
                                <div class="item">
                                  {{ item.vehicle_reginfo.engn_no }}
                                </div>
                              </div>
                              <!-- <div
                                *ngIf="FType === 1"
                                class="choose-content-detail"
                              >
                                <div class="choose-caption">使用目的</div>
                                <div class="item">
                                  {{ item.vehicle_reginfo.vehc_purp }}
                                </div>
                              </div> -->
                            </div>
                          </div>
                          <div class="service-guarantee-title">
                            {{ FLang.F021.L0020 }}
                          </div>
                          <div
                            class="service-inform-card service-card-line-none"
                          >
                            <div class="choose-content">
                              <div class="choose-content-detail">
                                <div class="choose-caption">
                                  {{ FLang.F021.L0021 }}
                                </div>
                                <div class="item">
                                  {{ item.policyholder_data.customer_name }}
                                </div>
                              </div>
                              <div class="choose-content-detail">
                                <div class="choose-caption">
                                  {{ FLang.F021.L0022 }}
                                </div>
                                <div class="item">
                                  {{ item.policyholder_data.email }}
                                </div>
                              </div>
                              <div class="choose-content-detail">
                                <div class="choose-caption">
                                  {{ FLang.F021.L0023 }}
                                </div>
                                <div class="item">
                                  {{ item.policyholder_data.phone_no }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <!-- 保單下載 / 變更 (只有旅遊險有) -->
        <ng-container *ngIf="FType === 3">
          <div
            *ngIf="
              !FEndrsmntCount && !FIsGroup && FIsPolRange90;
              else committed
            "
            class="row no-gutters btn-order"
          >
            <!-- 保單下載 -->
            <div
              *ngIf="FIsApc"
              class="col-md-6 policy_order"
              [class.offset-md-3]="!FIsInsr"
            >
              <!-- 取消show 身分證後6碼提示 -->
              <div class="text-center">
                <a class="btn btn-primary" (click)="openPolicyPdf()">
                  {{ FLang.F021.L0019 }}
                </a>
              </div>
            </div>
            <!-- 保單變更 -->
            <div *ngIf="FIsInsr" class="col-md-6" [class.offset-md-3]="!FIsApc">
              <div class="text-center">
                <a class="btn btn-white" (click)="goInsuranceTip()">
                  {{ FLang.F021.L0018 }}
                </a>
              </div>
            </div>
          </div>
          <!-- 曾經修改保單不得再變更 -->
          <ng-template #committed>
            <div *ngIf="FIsApc" class="text-center">
              <a class="btn btn-primary" (click)="openPolicyPdf()">
                {{ FLang.F021.L0019 }}
              </a>
            </div>
          </ng-template>
        </ng-container>
      </section>
    </div>
  </main>
</div>

<app-change-insurance-tip
  (Action)="goInsuranceChanging()"
></app-change-insurance-tip>
