<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-password.png"
              alt=""
              srcset="assets/img/img-bn-password@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-password-m.png"
              alt=""
              srcset="assets/img/img-bn-password-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.B014A.title.B0001 }}</h1>
        </div>
      </div>
      <section class="jobdetails mt-0">
        <div class="container remove-width">
          <div class="jobbox bg-white-block login-w">
            <form [formGroup]="group" autocomplete="off">
              <div class="advisory-content">
                <div class="adv-box-item otp">
                  <div class="title">{{ FLang.B014A.content.B0001 }}</div>
                  <p>{{ FLang.B014A.content.B0002 }} {{ mobileFormat }}</p>
                  <p>{{ FLang.B014A.content.B0003 }} {{ emailFormat }}</p>
                  <div class="vcode-box">
                    <div class="d-flex align-items-center vcode-tit">
                      <div class="justify-content-start mr-auto">
                        {{ FLang.B014A.content.B0004 }}
                      </div>
                      <div
                        class="justify-content-end d-flex"
                        [class.message_error]="TimeOneEnd"
                      >
                        <span style="padding-right: 4px">
                          {{ FLang.B014A.content.B0005 }}</span
                        >
                        <span class="text-green">
                          <ng-container *ngIf="loadTime">
                            <app-countdown-timer
                              [time]="setTimeOne"
                              timeType="minute"
                              (timeEnd)="timeOne($event)"
                            ></app-countdown-timer> </ng-container></span
                        ><span class="text-green">
                          <ng-container *ngIf="!loadTime">
                            <app-countdown-timer
                              [time]="setTimeOne"
                              timeType="minute"
                              (timeEnd)="timeOne($event)"
                            ></app-countdown-timer> </ng-container
                        ></span>
                        <span
                          *ngIf="FLangType !== 'vi-VN'"
                          style="padding-left: 4px"
                        >
                          {{ FLang.B014A.content.B0006 }}
                        </span>
                      </div>
                      <div
                        class="justify-content-end text-red"
                        style="color: #f00"
                        [class.d-none]="!TimeOneEnd"
                      >
                        {{ FLang.B014A.content.B0007 }}
                      </div>
                      <!-- 若驗證碼失效時拿掉d-none -->
                    </div>
                    <div class="vcode" [class.status-error]="otpError">
                      <input
                        name="otpOne"
                        type="tel"
                        class="vcode-input"
                        (input)="inputOne()"
                        autofocus
                        formControlName="otpOne"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <input
                        name="otpTwo"
                        type="tel"
                        class="vcode-input"
                        (keydown.backspace)="keyupTwo()"
                        (input)="inputTwo()"
                        formControlName="otpTwo"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <input
                        name="otpThr"
                        type="tel"
                        class="vcode-input"
                        (keydown.backspace)="keyupThr()"
                        (input)="inputThr()"
                        formControlName="otpThr"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <input
                        name="otpFou"
                        type="tel"
                        class="vcode-input"
                        (keydown.backspace)="keyupFou()"
                        (input)="inputFou()"
                        formControlName="otpFou"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <input
                        name="otpFiv"
                        type="tel"
                        class="vcode-input"
                        (keydown.backspace)="keyupFiv()"
                        (input)="inputFiv()"
                        formControlName="otpFiv"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <!-- [attr.disabled]="
                          controls.otpFiv.status === 'VALID'  ? 'disabled' : null
                        " -->
                      <input
                        name="otpSix"
                        type="tel"
                        class="vcode-input"
                        (keydown.backspace)="keyupSix()"
                        (input)="inputSix()"
                        formControlName="otpSix"
                        appLimitInput
                        [replace]="'number'"
                      />
                    </div>
                    <!-- 若是錯誤訊息在 vcode 後面加上 status-error -->
                    <div
                      class="message-error"
                      [class.message_error]="!otpError"
                    >
                      {{ FLang.B014A.content.B0008 }}
                    </div>
                  </div>
                </div>
                <div class="text-center mb-4">
                  <a
                    class="btn btn-primary disabled"
                    [ngClass]="{ 'd-none': TimeTwoEnd }"
                  >
                    <span style="color: #aeb6bd">
                      {{
                        FLangType === "vi-VN" || FLangType === "en-US" ? FLang.B014A.content.B0021 : ""
                      }}
                      <ng-container *ngIf="loadTime"
                        ><app-countdown-timer
                          [time]="setTimeTwo"
                          timeType="seconds"
                          (timeEnd)="timeTwo($event)"
                        ></app-countdown-timer
                      ></ng-container>
                      <ng-container *ngIf="!loadTime"
                        ><app-countdown-timer
                          [time]="setTimeTwo"
                          timeType="seconds"
                          (timeEnd)="timeTwo($event)"
                        ></app-countdown-timer></ng-container
                      >{{ FLang.B014A.content.B0009 }}
                    </span>
                  </a>
                </div>
                <div
                  class="text-center mb-4"
                  [ngClass]="{ 'd-none': !TimeTwoEnd }"
                >
                  <a class="btn btn-primary" (click)="timeRestart()">
                    {{ FLang.B014A.content.B0010 }}
                  </a>
                </div>
                <!-- 若使用重新發送按鈕請把d-none拿掉 -->
                <div class="text-center">
                  <a
                    (click)="showContactService()"
                    class="text-green d-inline-flex"
                  >
                    <div class="text-center d-inline-block mr-1">
                      {{ FLang.B014A.content.B0011 }}
                    </div>
                    <i class="icons-ic-info i-icon align-self-center"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
  <app-contact-service
    [title]="popTitle"
    [infoOne]="popInfoOne"
    [infoTwo]="popInfoTwo"
  ></app-contact-service>
</div>
