::ng-deep #travelOut .slick-dots {
  bottom: -90px;
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus,
.link:hover,
.link:focus {
  color: #fff;
}

.guarantee-mob-table tr {
  height: 41px;
}

.date-color {
  color: #7d8a94;
}

// 牌卡高度調整
.compare-item-travel {
  padding-top: 144px;
}

@media (max-width: 1199.98px) {
  .compare-item-travel {
    padding-top: 132px;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .compare-item-travel {
    padding-top: 132px;
  }
}
