<div class="guarantee">
  <div class="text-center title">{{ FLangD03.N0041 }}</div>
  <!-- 國內旅遊 - Start -->
  <!-- 請勿刪除 travel-guarantee class (樣式調整)-->
  <div *ngIf="status === 0" id="travelIn" class="travel-guarantee">
    <div class="table-compare">
      <div class="compare-item compare-item-travel">
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0001 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <!-- <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0002 }}</div>
          </div>
          <div class="col"></div>
        </div> -->
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0003 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0004 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0005 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0006 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0007 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0008 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto Inside-title compare-title">
            <div>{{ FLangIn.L0009 }}</div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="compare-price-box">
        <!-- 第一張卡 -->
        <div class="compare-price one">
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLangIn.L0010 }}</h5>
              <div class="price">
                19.000<span>đ</span>
                <!-- <span class="date-color">{{ FLangIn.L0056 }}</span> -->
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
            <div class="compare-row-line">
              <div>-</div>
            </div>
          </div>
          <div class="compare-price-down">
            <a
              [routerLink]="['/online-insurance/project-trial-travel/calcAmt']"
              [queryParams]="{ xtype: 'in' }"
              class="btn btn-orange"
              >{{ FLangIn.L0055 }}</a
            >
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('v1')"
            >
              {{ FLangIn.L0017 }}
            </div>
            <!-- <div class="down mt-2" (click)="download(status, 1)">
              {{ FLangIn.L0054 }}<i class="icons-ic-download-grey i-icon"></i>
            </div> -->
          </div>
        </div>

        <!-- 第二張卡 -->
        <div class="compare-price two recommend">
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <div class="rec-img">
                <img
                  src="assets/img/commodity/ic-thumbsup.png"
                  alt=""
                  srcset="assets/img/commodity/ic-thumbsup@2x.png 2x"
                  class="d-none d-md-block"
                />
                <img
                  src="assets/img/commodity/ic-thumbsup-s.png"
                  alt=""
                  srcset="assets/img/commodity/ic-thumbsup-s@2x.png 2x"
                  class="d-md-none"
                />
              </div>
              <h5>{{ FLangIn.L0014 }}</h5>
              <div class="price">
                67.500<span>đ</span>
                <!-- <span class="date-color">{{ FLangIn.L0056 }}</span> -->
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 1000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 5000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 50000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 50000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 50000000 | numberSuffix: FLangType }}</div>
            </div>
          </div>
          <div class="compare-price-down">
            <a
              [routerLink]="['/online-insurance/project-trial-travel/calcAmt']"
              [queryParams]="{ xtype: 'in' }"
              class="btn btn-orange"
              >{{ FLangIn.L0055 }}</a
            >
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('t44')"
            >
              {{ FLangIn.L0017 }}
            </div>
            <!-- <div class="down mt-2" (click)="download(status, 2)">
              {{ FLangIn.L0054 }}<i class="icons-ic-download-grey i-icon"></i>
            </div> -->
          </div>
        </div>

        <!-- 第三張卡 -->
        <div class="compare-price three">
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLangIn.L0018 }}</h5>
              <div class="price">
                74.500<span>đ</span>
                <!-- <span class="date-color">{{ FLangIn.L0056 }}</span> -->
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 1000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 5000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 500000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 100000000 | numberSuffix: FLangType }}</div>
            </div>
          </div>
          <div class="compare-price-down">
            <a
              [routerLink]="['/online-insurance/project-trial-travel/calcAmt']"
              [queryParams]="{ xtype: 'in' }"
              class="btn btn-orange"
              >{{ FLangIn.L0055 }}</a
            >
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('t44v1')"
            >
              {{ FLangIn.L0017 }}
            </div>
            <!-- <div class="down mt-2" (click)="download(status, 2)">
              {{ FLangIn.L0054 }}<i class="icons-ic-download-grey i-icon"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="guarantee-mob">
      <div class="navtab slickcard-navtab">
        <div class="slickcard slider stepcard down-dots">
          <div>
            <!-- 第一張卡 小網 -->
            <a class="nav-link">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLangIn.L0010 }}</h5>
                  <div class="price">
                    19.000<span>đ</span>
                    <!-- <span class="date-color">{{ FLangIn.L0056 }}</span> -->
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLangIn.L0001 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLangIn.L0002 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLangIn.L0003 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0004 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0005 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0006 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0007 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0008 }}</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0009 }}</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <a
                    [routerLink]="[
                      '/online-insurance/project-trial-travel/calcAmt'
                    ]"
                    [queryParams]="{ xtype: 'in' }"
                    class="btn btn-orange"
                    >{{ FLangIn.L0055 }}</a
                  >
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('v1')"
                  >
                    {{ FLangIn.L0017 }}
                  </div>
                  <!-- <div class="down mt-2" (click)="download(status, 2)">
                    {{ FLangIn.L0054
                    }}<i class="icons-ic-download-grey i-icon"></i>
                  </div> -->
                </div>
              </div>
            </a>
          </div>
          <div>
            <!-- 第二張卡 小網 -->
            <a class="nav-link">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLangIn.L0014 }}</h5>
                  <div class="price">
                    67.500<span>đ</span>
                    <!-- <span class="date-color">{{ FLangIn.L0056 }}</span> -->
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <div class="rec-img">
                    <img
                      src="assets/img/commodity/ic-thumbsup.png"
                      alt=""
                      srcset="assets/img/commodity/ic-thumbsup@2x.png 2x"
                      class="d-none d-md-block"
                    />
                    <img
                      src="assets/img/commodity/ic-thumbsup-s.png"
                      alt=""
                      srcset="assets/img/commodity/ic-thumbsup-s@2x.png 2x"
                      class="d-md-none"
                    />
                  </div>
                  <tbody>
                    <tr>
                      <td>{{ FLangIn.L0001 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLangIn.L0002 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLangIn.L0003 }}</td>
                      <td>{{ 1000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0004 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0005 }}</td>
                      <td>{{ 5000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0006 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0007 }}</td>
                      <td>{{ 50000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0008 }}</td>
                      <td>{{ 50000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0009 }}</td>
                      <td>{{ 50000000 | numberSuffix: FLangType }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <a
                    [routerLink]="[
                      '/online-insurance/project-trial-travel/calcAmt'
                    ]"
                    [queryParams]="{ xtype: 'in' }"
                    class="btn btn-orange"
                    >{{ FLangIn.L0055 }}</a
                  >
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('t44')"
                  >
                    {{ FLangIn.L0017 }}
                  </div>
                  <!-- <div class="down mt-2" (click)="download(status, 2)">
                    {{ FLangIn.L0054
                    }}<i class="icons-ic-download-grey i-icon"></i>
                  </div> -->
                </div>
              </div>
            </a>
          </div>
          <div>
            <!-- 第三張卡 小網 -->
            <a class="nav-link">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLangIn.L0018 }}</h5>
                  <div class="price">
                    74.500<span>đ</span>
                    <!-- <span class="date-color">{{ FLangIn.L0056 }}</span> -->
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLangIn.L0001 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLangIn.L0002 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLangIn.L0003 }}</td>
                      <td>{{ 1000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0004 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0005 }}</td>
                      <td>{{ 5000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0006 }}</td>
                      <td>{{ 500000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0007 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0008 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangIn.L0009 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <a
                    [routerLink]="[
                      '/online-insurance/project-trial-travel/calcAmt'
                    ]"
                    [queryParams]="{ xtype: 'in' }"
                    class="btn btn-orange"
                    >{{ FLangIn.L0055 }}</a
                  >
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('t44v1')"
                  >
                    {{ FLangIn.L0017 }}
                  </div>
                  <!-- <div class="down mt-2" (click)="download(status, 2)">
                    {{ FLangIn.L0054
                    }}<i class="icons-ic-download-grey i-icon"></i>
                  </div> -->
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 國內旅遊 - End -->

  <!-- 國外旅遊 - Start -->
  <!-- 請勿刪除 travel-guarantee class (樣式調整)-->
  <div *ngIf="status === 1" id="travelOut" class="travel-guarantee">
    <div class="table-compare">
      <div class="compare-item compare-item-travel">
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0001 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <!-- <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0002 }}</div>
          </div>
          <div class="col"></div>
        </div> -->
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0003 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0004 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0005 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0006 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div [innerHtml]="FLangOut.L0007"></div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0008 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0009 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0058 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0059 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0060 }}</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="d-flex bg-green-light">
          <div class="col-auto outside-title compare-title">
            <div>{{ FLangOut.L0061 }}</div>
          </div>
          <div class="col">v</div>
        </div>
      </div>
      <div class="compare-price-box">
        <!-- 第一張卡 大網 -->
        <div class="compare-price one">
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLangOut.L0010 }}</h5>
              <div class="price">
                54.000<span>đ</span>
                <!-- <span class="date-color">{{ FLangOut.L0065 }}</span> -->
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 400000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 400000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>
                {{ 2500000 | numberSuffix: FLangType }}
              </div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 1000000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div><i class="icons-ic-table-check-b i-icon"></i></div>
            </div>
          </div>
          <div class="compare-price-down">
            <a
              [routerLink]="['/online-insurance/project-trial-travel/calcAmt']"
              [queryParams]="{ xtype: 'internal' }"
              class="btn btn-orange"
              >{{ FLangOut.L0064 }}</a
            >
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('W1')"
            >
              {{ FLangOut.L0017 }}
            </div>
          </div>
        </div>
        <!-- 第二張卡 大網 -->
        <div class="compare-price two recommend">
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <div class="rec-img">
                <img
                  src="assets/img/commodity/ic-thumbsup.png"
                  alt=""
                  srcset="assets/img/commodity/ic-thumbsup@2x.png 2x"
                  class="d-none d-md-block"
                />
                <img
                  src="assets/img/commodity/ic-thumbsup-s.png"
                  alt=""
                  srcset="assets/img/commodity/ic-thumbsup-s@2x.png 2x"
                  class="d-md-none"
                />
              </div>
              <h5>{{ FLangOut.L0014 }}</h5>
              <div class="price">
                164.000<span>đ</span>
                <!-- <span class="date-color">{{ FLangOut.L0065 }}</span> -->
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 1000000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>
                {{ 2500000 | numberSuffix: FLangType }}
              </div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 1000000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div><i class="icons-ic-table-check-b i-icon"></i></div>
            </div>
          </div>
          <div class="compare-price-down">
            <a
              [routerLink]="['/online-insurance/project-trial-travel/calcAmt']"
              [queryParams]="{ xtype: 'internal' }"
              class="btn btn-orange"
              >{{ FLangOut.L0064 }}</a
            >
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('W2')"
            >
              {{ FLangOut.L0017 }}
            </div>
          </div>
        </div>
        <!-- 第三張卡 大網 -->
        <div class="compare-price three">
          <div class="compare-row-line price-term">
            <div class="price-term-box">
              <h5>{{ FLangOut.L0018 }}</h5>
              <div class="price">
                283.000<span>đ</span>
                <!-- <span class="date-color">{{ FLangOut.L0065 }}</span> -->
                <div class="star">*</div>
              </div>
            </div>
          </div>
          <div class="Inside-row compare-row">
            <div class="compare-row-line">
              <div>{{ 3200000000 | numberSuffix: FLangType }}</div>
            </div>
            <!-- <div class="compare-row-line">
              <div>{{ 3200000000 | numberSuffix: FLangType }}</div>
            </div> -->
            <div class="compare-row-line">
              <div>{{ 1600000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>
                {{ 2500000 | numberSuffix: FLangType }}
              </div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 6000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 4000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 200000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 1000000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div>{{ 10000000 | numberSuffix: FLangType }}</div>
            </div>
            <div class="compare-row-line">
              <div><i class="icons-ic-table-check-b i-icon"></i></div>
            </div>
          </div>
          <div class="compare-price-down">
            <a
              [routerLink]="['/online-insurance/project-trial-travel/calcAmt']"
              [queryParams]="{ xtype: 'internal' }"
              class="btn btn-orange"
              >{{ FLangOut.L0064 }}</a
            >
            <div
              class="comm"
              data-toggle="modal"
              data-target="#Modal-01"
              (click)="changeComponent('W7')"
            >
              {{ FLangOut.L0017 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="guarantee-mob">
      <div class="navtab slickcard-navtab">
        <div class="slickcard slider stepcard down-dots">
          <div>
            <!-- 第一張卡 小網 -->
            <a class="nav-link">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLangOut.L0010 }}</h5>
                  <div class="price">
                    54.000<span>đ</span>
                    <!-- <span class="date-color">{{ FLangOut.L0065 }}</span> -->
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLangOut.L0001 }}</td>
                      <td>{{ 400000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLangOut.L0002 }}</td>
                      <td>{{ 400000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLangOut.L0003 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0004 }}</td>
                      <td>
                        {{ 2500000 | numberSuffix: FLangType }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0005 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0006 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0007 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0008 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0009 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0058 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0059 }}</td>
                      <td>{{ 1000000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0060 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0061 }}</td>
                      <td><i class="icons-ic-table-check-b i-icon"></i></td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <a
                    [routerLink]="[
                      '/online-insurance/project-trial-travel/calcAmt'
                    ]"
                    [queryParams]="{ xtype: 'internal' }"
                    class="btn btn-orange"
                    >{{ FLangOut.L0064 }}</a
                  >
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('W1')"
                  >
                    {{ FLangOut.L0017 }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div>
            <!-- 第二張卡 小網 -->
            <a class="nav-link">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLangOut.L0014 }}</h5>
                  <div class="price">
                    164.000<span>đ</span>
                    <!-- <span class="date-color">{{ FLangOut.L0065 }}</span> -->
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <div class="rec-img">
                    <img
                      src="assets/img/commodity/ic-thumbsup.png"
                      alt=""
                      srcset="assets/img/commodity/ic-thumbsup@2x.png 2x"
                      class="d-none d-md-block"
                    />
                    <img
                      src="assets/img/commodity/ic-thumbsup-s.png"
                      alt=""
                      srcset="assets/img/commodity/ic-thumbsup-s@2x.png 2x"
                      class="d-md-none"
                    />
                  </div>
                  <tbody>
                    <tr>
                      <td>{{ FLangOut.L0001 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLangOut.L0002 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLangOut.L0003 }}</td>
                      <td>{{ 1000000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0004 }}</td>
                      <td>
                        {{ 2500000 | numberSuffix: FLangType }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0005 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0006 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0007 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0008 }}</td>
                      <td>{{ 6000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0009 }}</td>
                      <td>{{ 4000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0058 }}</td>
                      <td>{{ 200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0059 }}</td>
                      <td>{{ 1000000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0060 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0061 }}</td>
                      <td><i class="icons-ic-table-check-b i-icon"></i></td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <a
                    [routerLink]="[
                      '/online-insurance/project-trial-travel/calcAmt'
                    ]"
                    [queryParams]="{ xtype: 'internal' }"
                    class="btn btn-orange"
                    >{{ FLangOut.L0064 }}</a
                  >
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('W2')"
                  >
                    {{ FLangOut.L0017 }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div>
            <!-- 第三張卡 小網 -->
            <a class="nav-link">
              <div class="guarantee-mob-card">
                <div class="guarantee-mob-title">
                  <h5>{{ FLangOut.L0018 }}</h5>
                  <div class="price">
                    283.000<span>đ</span>
                    <!-- <span class="date-color">{{ FLangOut.L0065 }}</span> -->
                    <div class="star">*</div>
                  </div>
                </div>
                <table class="guarantee-mob-table">
                  <tbody>
                    <tr>
                      <td>{{ FLangOut.L0001 }}</td>
                      <td>{{ 3200000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <!-- <tr>
                      <td>{{ FLangOut.L0002 }}</td>
                      <td>{{ 3200000000 | numberSuffix: FLangType }}</td>
                    </tr> -->
                    <tr>
                      <td>{{ FLangOut.L0003 }}</td>
                      <td>{{ 1600000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0004 }}</td>
                      <td>
                        {{ 2500000 | numberSuffix: FLangType }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0005 }}</td>
                      <td>{{ 60000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0006 }}</td>
                      <td>{{ 40000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0007 }}</td>
                      <td>{{ 100000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0008 }}</td>
                      <td>{{ 60000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0009 }}</td>
                      <td>{{ 40000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0058 }}</td>
                      <td>{{ 2000000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0059 }}</td>
                      <td>{{ 1000000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0060 }}</td>
                      <td>{{ 10000000 | numberSuffix: FLangType }}</td>
                    </tr>
                    <tr>
                      <td>{{ FLangOut.L0061 }}</td>
                      <td><i class="icons-ic-table-check-b i-icon"></i></td>
                    </tr>
                  </tbody>
                </table>
                <!-- DivTable.com -->
                <div class="guarantee-price-down">
                  <a
                    [routerLink]="[
                      '/online-insurance/project-trial-travel/calcAmt'
                    ]"
                    [queryParams]="{ xtype: 'internal' }"
                    class="btn btn-orange"
                    >{{ FLangOut.L0064 }}</a
                  >
                  <div
                    class="comm"
                    data-toggle="modal"
                    data-target="#Modal-01"
                    (click)="changeComponent('W7')"
                  >
                    {{ FLangOut.L0017 }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 國外旅遊 - End -->
  <div class="down-outer">{{ FLangD03.N0085 }}</div>
</div>
