.icons-sprite, .icons-ic-about-company, .icons-ic-about-location-o, .icons-ic-add-g, .icons-ic-airplane, .icons-ic-arror-more, .icons-ic-arrow-down-g, .icons-ic-arrow-l-o, .icons-ic-arrow-o, .icons-ic-arrow-right-black, .icons-ic-arrow-right-g, .icons-ic-arrow-up-g, .icons-ic-bind-fb, .icons-ic-bind-google, .icons-ic-cancel-s, .icons-ic-close-s, .icons-ic-collapse-minus, .icons-ic-collapse-plus, .icons-ic-date-disabled, .icons-ic-date, .icons-ic-delete, .icons-ic-dots, .icons-ic-download-grey, .icons-ic-download, .icons-ic-edit-pen, .icons-ic-empty, .icons-ic-faq-arrow-down, .icons-ic-faq-arrow-up, .icons-ic-fooer-mail, .icons-ic-footer-location, .icons-ic-footer-tel, .icons-ic-form-del, .icons-ic-info-2, .icons-ic-info, .icons-ic-insurance-car, .icons-ic-insurance-motor, .icons-ic-insurance-travel, .icons-ic-location-g, .icons-ic-login-fb, .icons-ic-login-google, .icons-ic-man, .icons-ic-menu-arrow-down-black, .icons-ic-menu-arrow-down, .icons-ic-menu-arrow-up-black, .icons-ic-menu-arrow-up, .icons-ic-menu-arrow, .icons-ic-menu, .icons-ic-more-white, .icons-ic-news-arrow-down, .icons-ic-news-arrow-up, .icons-ic-notice, .icons-ic-pay-creditcard-w, .icons-ic-pay-creditcard, .icons-ic-pay-debitcard-w, .icons-ic-pay-debitcard, .icons-ic-pay-wallet-w, .icons-ic-pay-wallet, .icons-ic-popup-close-b, .icons-ic-popup-close, .icons-ic-search-l, .icons-ic-search-s, .icons-ic-search, .icons-ic-select-delete, .icons-ic-status-check, .icons-ic-status-deductible, .icons-ic-status-error, .icons-ic-status-file-g, .icons-ic-status-file, .icons-ic-status-notice-o, .icons-ic-status-notice, .icons-ic-status-processing, .icons-ic-status-return, .icons-ic-status-start, .icons-ic-status-wrong, .icons-ic-step-check, .icons-ic-table-check-b-o, .icons-ic-table-check-b, .icons-ic-to-gr, .icons-ic-trash-gr, .icons-ic-trash, .icons-ic-upload, .icons-menu-arrow-down, .icons-refresh {
  background-image: url('../img/icons-s4fc9394e9d.png');
  background-repeat: no-repeat;
}

.icons-ic-about-company {
  background-position: 0 0;
  height: 45px;
  width: 44px;
}

.icons-ic-about-location-o {
  background-position: 0 -46px;
  height: 18px;
  width: 14px;
}

.icons-ic-add-g {
  background-position: 0 -65px;
  height: 16px;
  width: 16px;
}

.icons-ic-airplane {
  background-position: 0 -82px;
  height: 28px;
  width: 28px;
}

.icons-ic-arror-more {
  background-position: 0 -111px;
  height: 20px;
  width: 20px;
}

.icons-ic-arrow-down-g {
  background-position: 0 -132px;
  height: 16px;
  width: 16px;
}

.icons-ic-arrow-l-o {
  background-position: 0 -149px;
  height: 24px;
  width: 24px;
}

.icons-ic-arrow-o {
  background-position: 0 -174px;
  height: 20px;
  width: 20px;
}

.icons-ic-arrow-right-black {
  background-position: 0 -195px;
  height: 16px;
  width: 20px;
}

.icons-ic-arrow-right-g {
  background-position: 0 -212px;
  height: 16px;
  width: 16px;
}

.icons-ic-arrow-up-g {
  background-position: 0 -229px;
  height: 16px;
  width: 16px;
}

.icons-ic-bind-fb {
  background-position: 0 -246px;
  height: 26px;
  width: 26px;
}

.icons-ic-bind-google {
  background-position: 0 -273px;
  height: 26px;
  width: 26px;
}

.icons-ic-cancel-s {
  background-position: 0 -300px;
  height: 20px;
  width: 20px;
}

.icons-ic-close-s {
  background-position: 0 -321px;
  height: 24px;
  width: 24px;
}

.icons-ic-collapse-minus {
  background-position: 0 -346px;
  height: 24px;
  width: 24px;
}

.icons-ic-collapse-plus {
  background-position: 0 -371px;
  height: 24px;
  width: 24px;
}

.icons-ic-date-disabled {
  background-position: 0 -396px;
  height: 28px;
  width: 28px;
}

.icons-ic-date {
  background-position: 0 -425px;
  height: 28px;
  width: 28px;
}

.icons-ic-delete {
  background-position: 0 -454px;
  height: 28px;
  width: 28px;
}

.icons-ic-dots {
  background-position: 0 -483px;
  height: 20px;
  width: 20px;
}

.icons-ic-download-grey {
  background-position: 0 -504px;
  height: 20px;
  width: 20px;
}

.icons-ic-download {
  background-position: 0 -525px;
  height: 24px;
  width: 24px;
}

.icons-ic-edit-pen {
  background-position: 0 -550px;
  height: 24px;
  width: 24px;
}

.icons-ic-empty {
  background-position: 0 -575px;
  height: 50px;
  width: 56px;
}

.icons-ic-faq-arrow-down {
  background-position: 0 -626px;
  height: 16px;
  width: 16px;
}

.icons-ic-faq-arrow-up {
  background-position: 0 -643px;
  height: 16px;
  width: 16px;
}

.icons-ic-fooer-mail {
  background-position: 0 -660px;
  height: 32px;
  width: 32px;
}

.icons-ic-footer-location {
  background-position: 0 -693px;
  height: 32px;
  width: 32px;
}

.icons-ic-footer-tel {
  background-position: 0 -726px;
  height: 32px;
  width: 32px;
}

.icons-ic-form-del {
  background-position: 0 -759px;
  height: 28px;
  width: 28px;
}

.icons-ic-info-2 {
  background-position: 0 -788px;
  height: 20px;
  width: 20px;
}

.icons-ic-info {
  background-position: 0 -809px;
  height: 20px;
  width: 20px;
}

.icons-ic-insurance-car {
  background-position: 0 -830px;
  height: 30px;
  width: 36px;
}

.icons-ic-insurance-motor {
  background-position: 0 -861px;
  height: 30px;
  width: 36px;
}

.icons-ic-insurance-travel {
  background-position: 0 -892px;
  height: 30px;
  width: 36px;
}

.icons-ic-location-g {
  background-position: 0 -923px;
  height: 18px;
  width: 14px;
}

.icons-ic-login-fb {
  background-position: 0 -942px;
  height: 20px;
  width: 20px;
}

.icons-ic-login-google {
  background-position: 0 -963px;
  height: 20px;
  width: 20px;
}

.icons-ic-man {
  background-position: 0 -984px;
  height: 28px;
  width: 28px;
}

.icons-ic-menu-arrow-down-black {
  background-position: 0 -1013px;
  height: 20px;
  width: 20px;
}

.icons-ic-menu-arrow-down {
  background-position: 0 -1034px;
  height: 20px;
  width: 20px;
}

.icons-ic-menu-arrow-up-black {
  background-position: 0 -1055px;
  height: 20px;
  width: 20px;
}

.icons-ic-menu-arrow-up {
  background-position: 0 -1076px;
  height: 20px;
  width: 20px;
}

.icons-ic-menu-arrow {
  background-position: 0 -1097px;
  height: 16px;
  width: 16px;
}

.icons-ic-menu {
  background-position: 0 -1114px;
  height: 28px;
  width: 29px;
}

.icons-ic-more-white {
  background-position: 0 -1143px;
  height: 16px;
  width: 16px;
}

.icons-ic-news-arrow-down {
  background-position: 0 -1160px;
  height: 20px;
  width: 20px;
}

.icons-ic-news-arrow-up {
  background-position: 0 -1181px;
  height: 20px;
  width: 20px;
}

.icons-ic-notice {
  background-position: 0 -1202px;
  height: 20px;
  width: 20px;
}

.icons-ic-pay-creditcard-w {
  background-position: 0 -1223px;
  height: 30px;
  width: 30px;
}

.icons-ic-pay-creditcard {
  background-position: 0 -1254px;
  height: 30px;
  width: 30px;
}

.icons-ic-pay-debitcard-w {
  background-position: 0 -1285px;
  height: 30px;
  width: 30px;
}

.icons-ic-pay-debitcard {
  background-position: 0 -1316px;
  height: 30px;
  width: 30px;
}

.icons-ic-pay-wallet-w {
  background-position: 0 -1347px;
  height: 30px;
  width: 30px;
}

.icons-ic-pay-wallet {
  background-position: 0 -1378px;
  height: 30px;
  width: 30px;
}

.icons-ic-popup-close-b {
  background-position: 0 -1409px;
  height: 28px;
  width: 28px;
}

.icons-ic-popup-close {
  background-position: 0 -1438px;
  height: 28px;
  width: 28px;
}

.icons-ic-search-l {
  background-position: 0 -1467px;
  height: 48px;
  width: 48px;
}

.icons-ic-search-s {
  background-position: 0 -1516px;
  height: 20px;
  width: 20px;
}

.icons-ic-search {
  background-position: 0 -1537px;
  height: 28px;
  width: 28px;
}

.icons-ic-select-delete {
  background-position: 0 -1566px;
  height: 16px;
  width: 16px;
}

.icons-ic-status-check {
  background-position: 0 -1583px;
  height: 80px;
  width: 80px;
}

.icons-ic-status-deductible {
  background-position: 0 -1664px;
  height: 28px;
  width: 28px;
}

.icons-ic-status-error {
  background-position: 0 -1693px;
  height: 80px;
  width: 80px;
}

.icons-ic-status-file-g {
  background-position: 0 -1774px;
  height: 80px;
  width: 80px;
}

.icons-ic-status-file {
  background-position: 0 -1855px;
  height: 80px;
  width: 80px;
}

.icons-ic-status-notice-o {
  background-position: 0 -1936px;
  height: 28px;
  width: 28px;
}

.icons-ic-status-notice {
  background-position: 0 -1965px;
  height: 28px;
  width: 28px;
}

.icons-ic-status-processing {
  background-position: 0 -1994px;
  height: 28px;
  width: 28px;
}

.icons-ic-status-return {
  background-position: 0 -2023px;
  height: 28px;
  width: 28px;
}

.icons-ic-status-start {
  background-position: 0 -2052px;
  height: 28px;
  width: 28px;
}

.icons-ic-status-wrong {
  background-position: 0 -2081px;
  height: 80px;
  width: 80px;
}

.icons-ic-step-check {
  background-position: 0 -2162px;
  height: 14px;
  width: 14px;
}

.icons-ic-table-check-b-o {
  background-position: 0 -2177px;
  height: 16px;
  width: 16px;
}

.icons-ic-table-check-b {
  background-position: 0 -2194px;
  height: 16px;
  width: 24px;
}

.icons-ic-to-gr {
  background-position: 0 -2211px;
  height: 20px;
  width: 20px;
}

.icons-ic-trash-gr {
  background-position: 0 -2232px;
  height: 16px;
  width: 16px;
}

.icons-ic-trash {
  background-position: 0 -2249px;
  height: 56px;
  width: 56px;
}

.icons-ic-upload {
  background-position: 0 -2306px;
  height: 20px;
  width: 20px;
}

.icons-menu-arrow-down {
  background-position: 0 -2327px;
  height: 16px;
  width: 16px;
}

.icons-refresh {
  background-position: 0 -2344px;
  height: 30px;
  width: 30px;
}

.icons2x-sprite, .icons2x-ic-about-company, .icons2x-ic-about-location-o, .icons2x-ic-add-g, .icons2x-ic-airplane, .icons2x-ic-arror-more, .icons2x-ic-arrow-down-g, .icons2x-ic-arrow-l-o, .icons2x-ic-arrow-o, .icons2x-ic-arrow-right-black, .icons2x-ic-arrow-right-g, .icons2x-ic-arrow-up-g, .icons2x-ic-bind-fb, .icons2x-ic-bind-google, .icons2x-ic-cancel-s, .icons2x-ic-close-s, .icons2x-ic-collapse-minus, .icons2x-ic-collapse-plus, .icons2x-ic-date-disabled, .icons2x-ic-date, .icons2x-ic-delete, .icons2x-ic-dots, .icons2x-ic-download-grey, .icons2x-ic-download, .icons2x-ic-edit-pen, .icons2x-ic-empty, .icons2x-ic-faq-arrow-down, .icons2x-ic-faq-arrow-up, .icons2x-ic-fooer-mail, .icons2x-ic-footer-location, .icons2x-ic-footer-tel, .icons2x-ic-form-del, .icons2x-ic-info-2, .icons2x-ic-info, .icons2x-ic-insurance-car, .icons2x-ic-insurance-motor, .icons2x-ic-insurance-travel, .icons2x-ic-location-g, .icons2x-ic-login-fb, .icons2x-ic-login-google, .icons2x-ic-man, .icons2x-ic-menu-arrow-down-black, .icons2x-ic-menu-arrow-down, .icons2x-ic-menu-arrow-up-black, .icons2x-ic-menu-arrow-up, .icons2x-ic-menu-arrow, .icons2x-ic-menu, .icons2x-ic-more-white, .icons2x-ic-news-arrow-down, .icons2x-ic-news-arrow-up, .icons2x-ic-notice, .icons2x-ic-pay-creditcard-w, .icons2x-ic-pay-creditcard, .icons2x-ic-pay-debitcard-w, .icons2x-ic-pay-debitcard, .icons2x-ic-pay-wallet-w, .icons2x-ic-pay-wallet, .icons2x-ic-popup-close-b, .icons2x-ic-popup-close, .icons2x-ic-search-l, .icons2x-ic-search-s, .icons2x-ic-search, .icons2x-ic-select-delete, .icons2x-ic-status-check, .icons2x-ic-status-deductible, .icons2x-ic-status-error, .icons2x-ic-status-file-g, .icons2x-ic-status-file, .icons2x-ic-status-notice-o, .icons2x-ic-status-notice, .icons2x-ic-status-processing, .icons2x-ic-status-return, .icons2x-ic-status-start, .icons2x-ic-status-wrong, .icons2x-ic-step-check, .icons2x-ic-table-check-b-o, .icons2x-ic-table-check-b, .icons2x-ic-to-gr, .icons2x-ic-trash-gr, .icons2x-ic-trash, .icons2x-ic-upload, .icons2x-menu-arrow-down, .icons2x-refresh {
  background-image: url('../img/icons2x-s0893ff5df1.png');
  background-repeat: no-repeat;
}

.icons2x-ic-about-company {
  background-position: 0 0;
  height: 90px;
  width: 88px;
}

.icons2x-ic-about-location-o {
  background-position: 0 -91px;
  height: 36px;
  width: 28px;
}

.icons2x-ic-add-g {
  background-position: 0 -128px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-airplane {
  background-position: 0 -161px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-arror-more {
  background-position: 0 -218px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-arrow-down-g {
  background-position: 0 -259px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-arrow-l-o {
  background-position: 0 -292px;
  height: 48px;
  width: 48px;
}

.icons2x-ic-arrow-o {
  background-position: 0 -341px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-arrow-right-black {
  background-position: 0 -382px;
  height: 32px;
  width: 40px;
}

.icons2x-ic-arrow-right-g {
  background-position: 0 -415px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-arrow-up-g {
  background-position: 0 -448px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-bind-fb {
  background-position: 0 -481px;
  height: 52px;
  width: 52px;
}

.icons2x-ic-bind-google {
  background-position: 0 -534px;
  height: 52px;
  width: 52px;
}

.icons2x-ic-cancel-s {
  background-position: 0 -587px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-close-s {
  background-position: 0 -628px;
  height: 48px;
  width: 48px;
}

.icons2x-ic-collapse-minus {
  background-position: 0 -677px;
  height: 48px;
  width: 48px;
}

.icons2x-ic-collapse-plus {
  background-position: 0 -726px;
  height: 48px;
  width: 48px;
}

.icons2x-ic-date-disabled {
  background-position: 0 -775px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-date {
  background-position: 0 -832px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-delete {
  background-position: 0 -889px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-dots {
  background-position: 0 -946px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-download-grey {
  background-position: 0 -987px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-download {
  background-position: 0 -1028px;
  height: 48px;
  width: 48px;
}

.icons2x-ic-edit-pen {
  background-position: 0 -1077px;
  height: 48px;
  width: 48px;
}

.icons2x-ic-empty {
  background-position: 0 -1126px;
  height: 100px;
  width: 112px;
}

.icons2x-ic-faq-arrow-down {
  background-position: 0 -1227px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-faq-arrow-up {
  background-position: 0 -1260px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-fooer-mail {
  background-position: 0 -1293px;
  height: 64px;
  width: 64px;
}

.icons2x-ic-footer-location {
  background-position: 0 -1358px;
  height: 64px;
  width: 64px;
}

.icons2x-ic-footer-tel {
  background-position: 0 -1423px;
  height: 64px;
  width: 64px;
}

.icons2x-ic-form-del {
  background-position: 0 -1488px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-info-2 {
  background-position: 0 -1545px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-info {
  background-position: 0 -1586px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-insurance-car {
  background-position: 0 -1627px;
  height: 60px;
  width: 72px;
}

.icons2x-ic-insurance-motor {
  background-position: 0 -1688px;
  height: 60px;
  width: 72px;
}

.icons2x-ic-insurance-travel {
  background-position: 0 -1749px;
  height: 60px;
  width: 72px;
}

.icons2x-ic-location-g {
  background-position: 0 -1810px;
  height: 36px;
  width: 28px;
}

.icons2x-ic-login-fb {
  background-position: 0 -1847px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-login-google {
  background-position: 0 -1888px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-man {
  background-position: 0 -1929px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-menu-arrow-down-black {
  background-position: 0 -1986px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-menu-arrow-down {
  background-position: 0 -2027px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-menu-arrow-up-black {
  background-position: 0 -2068px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-menu-arrow-up {
  background-position: 0 -2109px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-menu-arrow {
  background-position: 0 -2150px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-menu {
  background-position: 0 -2183px;
  height: 56px;
  width: 58px;
}

.icons2x-ic-more-white {
  background-position: 0 -2240px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-news-arrow-down {
  background-position: 0 -2273px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-news-arrow-up {
  background-position: 0 -2314px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-notice {
  background-position: 0 -2355px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-pay-creditcard-w {
  background-position: 0 -2396px;
  height: 60px;
  width: 60px;
}

.icons2x-ic-pay-creditcard {
  background-position: 0 -2457px;
  height: 60px;
  width: 60px;
}

.icons2x-ic-pay-debitcard-w {
  background-position: 0 -2518px;
  height: 60px;
  width: 60px;
}

.icons2x-ic-pay-debitcard {
  background-position: 0 -2579px;
  height: 60px;
  width: 60px;
}

.icons2x-ic-pay-wallet-w {
  background-position: 0 -2640px;
  height: 60px;
  width: 60px;
}

.icons2x-ic-pay-wallet {
  background-position: 0 -2701px;
  height: 60px;
  width: 60px;
}

.icons2x-ic-popup-close-b {
  background-position: 0 -2762px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-popup-close {
  background-position: 0 -2819px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-search-l {
  background-position: 0 -2876px;
  height: 96px;
  width: 96px;
}

.icons2x-ic-search-s {
  background-position: 0 -2973px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-search {
  background-position: 0 -3014px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-select-delete {
  background-position: 0 -3071px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-status-check {
  background-position: 0 -3104px;
  height: 160px;
  width: 160px;
}

.icons2x-ic-status-deductible {
  background-position: 0 -3265px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-status-error {
  background-position: 0 -3322px;
  height: 160px;
  width: 160px;
}

.icons2x-ic-status-file-g {
  background-position: 0 -3483px;
  height: 160px;
  width: 160px;
}

.icons2x-ic-status-file {
  background-position: 0 -3644px;
  height: 160px;
  width: 160px;
}

.icons2x-ic-status-notice-o {
  background-position: 0 -3805px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-status-notice {
  background-position: 0 -3862px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-status-processing {
  background-position: 0 -3919px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-status-return {
  background-position: 0 -3976px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-status-start {
  background-position: 0 -4033px;
  height: 56px;
  width: 56px;
}

.icons2x-ic-status-wrong {
  background-position: 0 -4090px;
  height: 160px;
  width: 160px;
}

.icons2x-ic-step-check {
  background-position: 0 -4251px;
  height: 28px;
  width: 28px;
}

.icons2x-ic-table-check-b-o {
  background-position: 0 -4280px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-table-check-b {
  background-position: 0 -4313px;
  height: 32px;
  width: 48px;
}

.icons2x-ic-to-gr {
  background-position: 0 -4346px;
  height: 40px;
  width: 40px;
}

.icons2x-ic-trash-gr {
  background-position: 0 -4387px;
  height: 32px;
  width: 32px;
}

.icons2x-ic-trash {
  background-position: 0 -4420px;
  height: 112px;
  width: 112px;
}

.icons2x-ic-upload {
  background-position: 0 -4533px;
  height: 40px;
  width: 40px;
}

.icons2x-menu-arrow-down {
  background-position: 0 -4574px;
  height: 32px;
  width: 32px;
}

.icons2x-refresh {
  background-position: 0 -4607px;
  height: 60px;
  width: 60px;
}

@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icons-all-retina-sprites, .icons-ic-about-company, .icons-ic-about-location-o, .icons-ic-add-g, .icons-ic-airplane, .icons-ic-arror-more, .icons-ic-arrow-down-g, .icons-ic-arrow-l-o, .icons-ic-arrow-o, .icons-ic-arrow-right-black, .icons-ic-arrow-right-g, .icons-ic-arrow-up-g, .icons-ic-bind-fb, .icons-ic-bind-google, .icons-ic-cancel-s, .icons-ic-close-s, .icons-ic-collapse-minus, .icons-ic-collapse-plus, .icons-ic-date-disabled, .icons-ic-date, .icons-ic-delete, .icons-ic-dots, .icons-ic-download-grey, .icons-ic-download, .icons-ic-edit-pen, .icons-ic-empty, .icons-ic-faq-arrow-down, .icons-ic-faq-arrow-up, .icons-ic-fooer-mail, .icons-ic-footer-location, .icons-ic-footer-tel, .icons-ic-form-del, .icons-ic-info-2, .icons-ic-info, .icons-ic-insurance-car, .icons-ic-insurance-motor, .icons-ic-insurance-travel, .icons-ic-location-g, .icons-ic-login-fb, .icons-ic-login-google, .icons-ic-man, .icons-ic-menu-arrow-down-black, .icons-ic-menu-arrow-down, .icons-ic-menu-arrow-up-black, .icons-ic-menu-arrow-up, .icons-ic-menu-arrow, .icons-ic-menu, .icons-ic-more-white, .icons-ic-news-arrow-down, .icons-ic-news-arrow-up, .icons-ic-notice, .icons-ic-pay-creditcard-w, .icons-ic-pay-creditcard, .icons-ic-pay-debitcard-w, .icons-ic-pay-debitcard, .icons-ic-pay-wallet-w, .icons-ic-pay-wallet, .icons-ic-popup-close-b, .icons-ic-popup-close, .icons-ic-search-l, .icons-ic-search-s, .icons-ic-search, .icons-ic-select-delete, .icons-ic-status-check, .icons-ic-status-deductible, .icons-ic-status-error, .icons-ic-status-file-g, .icons-ic-status-file, .icons-ic-status-notice-o, .icons-ic-status-notice, .icons-ic-status-processing, .icons-ic-status-return, .icons-ic-status-start, .icons-ic-status-wrong, .icons-ic-step-check, .icons-ic-table-check-b-o, .icons-ic-table-check-b, .icons-ic-to-gr, .icons-ic-trash-gr, .icons-ic-trash, .icons-ic-upload, .icons-menu-arrow-down, .icons-refresh {
    background-image: url('../img/icons2x-s0893ff5df1.png');
    -moz-background-size: 80px auto;
    -o-background-size: 80px auto;
    -webkit-background-size: 80px auto;
    background-size: 80px auto;
  }

  .icons-ic-about-company {
    background-position: 0 0;
  }

  .icons-ic-about-location-o {
    background-position: 0 -45.5px;
  }

  .icons-ic-add-g {
    background-position: 0 -64px;
  }

  .icons-ic-airplane {
    background-position: 0 -80.5px;
  }

  .icons-ic-arror-more {
    background-position: 0 -109px;
  }

  .icons-ic-arrow-down-g {
    background-position: 0 -129.5px;
  }

  .icons-ic-arrow-l-o {
    background-position: 0 -146px;
  }

  .icons-ic-arrow-o {
    background-position: 0 -170.5px;
  }

  .icons-ic-arrow-right-black {
    background-position: 0 -191px;
  }

  .icons-ic-arrow-right-g {
    background-position: 0 -207.5px;
  }

  .icons-ic-arrow-up-g {
    background-position: 0 -224px;
  }

  .icons-ic-bind-fb {
    background-position: 0 -240.5px;
  }

  .icons-ic-bind-google {
    background-position: 0 -267px;
  }

  .icons-ic-cancel-s {
    background-position: 0 -293.5px;
  }

  .icons-ic-close-s {
    background-position: 0 -314px;
  }

  .icons-ic-collapse-minus {
    background-position: 0 -338.5px;
  }

  .icons-ic-collapse-plus {
    background-position: 0 -363px;
  }

  .icons-ic-date-disabled {
    background-position: 0 -387.5px;
  }

  .icons-ic-date {
    background-position: 0 -416px;
  }

  .icons-ic-delete {
    background-position: 0 -444.5px;
  }

  .icons-ic-dots {
    background-position: 0 -473px;
  }

  .icons-ic-download-grey {
    background-position: 0 -493.5px;
  }

  .icons-ic-download {
    background-position: 0 -514px;
  }

  .icons-ic-edit-pen {
    background-position: 0 -538.5px;
  }

  .icons-ic-empty {
    background-position: 0 -563px;
  }

  .icons-ic-faq-arrow-down {
    background-position: 0 -613.5px;
  }

  .icons-ic-faq-arrow-up {
    background-position: 0 -630px;
  }

  .icons-ic-fooer-mail {
    background-position: 0 -646.5px;
  }

  .icons-ic-footer-location {
    background-position: 0 -679px;
  }

  .icons-ic-footer-tel {
    background-position: 0 -711.5px;
  }

  .icons-ic-form-del {
    background-position: 0 -744px;
  }

  .icons-ic-info-2 {
    background-position: 0 -772.5px;
  }

  .icons-ic-info {
    background-position: 0 -793px;
  }

  .icons-ic-insurance-car {
    background-position: 0 -813.5px;
  }

  .icons-ic-insurance-motor {
    background-position: 0 -844px;
  }

  .icons-ic-insurance-travel {
    background-position: 0 -874.5px;
  }

  .icons-ic-location-g {
    background-position: 0 -905px;
  }

  .icons-ic-login-fb {
    background-position: 0 -923.5px;
  }

  .icons-ic-login-google {
    background-position: 0 -944px;
  }

  .icons-ic-man {
    background-position: 0 -964.5px;
  }

  .icons-ic-menu-arrow-down-black {
    background-position: 0 -993px;
  }

  .icons-ic-menu-arrow-down {
    background-position: 0 -1013.5px;
  }

  .icons-ic-menu-arrow-up-black {
    background-position: 0 -1034px;
  }

  .icons-ic-menu-arrow-up {
    background-position: 0 -1054.5px;
  }

  .icons-ic-menu-arrow {
    background-position: 0 -1075px;
  }

  .icons-ic-menu {
    background-position: 0 -1091.5px;
  }

  .icons-ic-more-white {
    background-position: 0 -1120px;
  }

  .icons-ic-news-arrow-down {
    background-position: 0 -1136.5px;
  }

  .icons-ic-news-arrow-up {
    background-position: 0 -1157px;
  }

  .icons-ic-notice {
    background-position: 0 -1177.5px;
  }

  .icons-ic-pay-creditcard-w {
    background-position: 0 -1198px;
  }

  .icons-ic-pay-creditcard {
    background-position: 0 -1228.5px;
  }

  .icons-ic-pay-debitcard-w {
    background-position: 0 -1259px;
  }

  .icons-ic-pay-debitcard {
    background-position: 0 -1289.5px;
  }

  .icons-ic-pay-wallet-w {
    background-position: 0 -1320px;
  }

  .icons-ic-pay-wallet {
    background-position: 0 -1350.5px;
  }

  .icons-ic-popup-close-b {
    background-position: 0 -1381px;
  }

  .icons-ic-popup-close {
    background-position: 0 -1409.5px;
  }

  .icons-ic-search-l {
    background-position: 0 -1438px;
  }

  .icons-ic-search-s {
    background-position: 0 -1486.5px;
  }

  .icons-ic-search {
    background-position: 0 -1507px;
  }

  .icons-ic-select-delete {
    background-position: 0 -1535.5px;
  }

  .icons-ic-status-check {
    background-position: 0 -1552px;
  }

  .icons-ic-status-deductible {
    background-position: 0 -1632.5px;
  }

  .icons-ic-status-error {
    background-position: 0 -1661px;
  }

  .icons-ic-status-file-g {
    background-position: 0 -1741.5px;
  }

  .icons-ic-status-file {
    background-position: 0 -1822px;
  }

  .icons-ic-status-notice-o {
    background-position: 0 -1902.5px;
  }

  .icons-ic-status-notice {
    background-position: 0 -1931px;
  }

  .icons-ic-status-processing {
    background-position: 0 -1959.5px;
  }

  .icons-ic-status-return {
    background-position: 0 -1988px;
  }

  .icons-ic-status-start {
    background-position: 0 -2016.5px;
  }

  .icons-ic-status-wrong {
    background-position: 0 -2045px;
  }

  .icons-ic-step-check {
    background-position: 0 -2125.5px;
  }

  .icons-ic-table-check-b-o {
    background-position: 0 -2140px;
  }

  .icons-ic-table-check-b {
    background-position: 0 -2156.5px;
  }

  .icons-ic-to-gr {
    background-position: 0 -2173px;
  }

  .icons-ic-trash-gr {
    background-position: 0 -2193.5px;
  }

  .icons-ic-trash {
    background-position: 0 -2210px;
  }

  .icons-ic-upload {
    background-position: 0 -2266.5px;
  }

  .icons-menu-arrow-down {
    background-position: 0 -2287px;
  }

  .icons-refresh {
    background-position: 0 -2303.5px;
  }
}
