<!-- <div
  class="modal fade"
  id="Modal-03"
  tabindex="-1"
  aria-labelledby="ModalLabel-03"
  aria-hidden="true"
> -->
<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ FLang.t44v1.L0001 }}</h3>
      <i
        class="icons-ic-popup-close i-icon close"
        data-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
    <div class="modal-body modal-title-20">
      <h3 class="modal-body-title">{{ FLang.t44v1.L0002 }}</h3>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0003 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0004 }}</h4>
          </div>
        </div>
        <div
          class="detail-card-content custom_text_align"
          [innerHtml]="FLang.t44v1.L0005"
        ></div>
      </div>

      <!-- <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0006 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0007 }}</h4>
          </div>
        </div>
        <div class="detail-card-content">
          {{ FLang.t44v1.L0008 }}
        </div>
      </div> -->

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0009 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0010 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0011 }}
        </div>
        <div class="row detail-card-subtitle align-items-center">
          <div class="col-7 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0012 }}</h4>
          </div>
          <div class="col-5 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0013 }}</h4>
          </div>
        </div>
        <div class="row detail-card-subcontent align-items-center">
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.t44.L0014 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.t44.L0015 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.t44.L0016 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.t44.L0017 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.t44.L0018 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.t44.L0019 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.t44.L0020 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.t44.L0021 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.t44.L0022 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.t44.L0023 }}</span>
          </div>
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-start">
          <div class="col-8 px-0">
            <h4 class="title-left">
              {{ FLang.t44v1.L0018 }}
            </h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0037 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0019 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0020 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0021 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0022 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0023 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0038 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0024 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0025 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0026 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0027 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0028 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0026 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0029 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.t44v1.L0030 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.t44v1.L0026 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.t44v1.L0031 }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
