<div class="height-content">
  <main>
    <div class="com-content">
      <!-- 底圖 -->
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member.png"
              alt=""
              srcset="assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-insure-m.png"
              alt=""
              srcset="assets/img/img-bn-insure-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>

      <div class="caption onl-top">
        <div class="container">
          <h1>{{ this.FLang.F021.L0001 }}</h1>
        </div>
      </div>
      <!-- 查詢區 -->
      <app-select-menu
        [(filterId)]="FTypeIndex"
        (filterIdChange)="onFilterIdChange()"
      ></app-select-menu>
      <!-- 清單區 -->
      <section *ngIf="this.FState === 0" class="service-result">
        <div class="container remove-width">
          <div class="row online-flex onlinebg no-gutters">
            <div class="col-sm-12 col-md-12">
              <div class="row select-type">
                <!-- 日期塞選 -->
                <div class="col-sm-12 col-md-6">
                  <div class="dropdown">
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="filterActiveText">{{ FInterval }}</div>
                    </button>
                    <div
                      class="dropdown-menu w-100 filter tab"
                      aria-labelledby="dropdownFilter"
                    >
                      <a
                        *ngFor="let item of arrInterval; index as i"
                        class="dropdown-item"
                        data-filter-type="trip"
                        role="button"
                        (click)="setInterval(i)"
                      >
                        {{ item }}
                      </a>
                    </div>
                  </div>
                </div>
                <!-- 類型塞選 -->
                <div class="col-sm-12 col-md-6">
                  <div class="dropdown">
                    <button
                      class="btn dropdown-toggle w-100"
                      type="button"
                      id="dropdownFilter2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="filterActiveText">{{ FAffect }}</div>
                    </button>
                    <div
                      class="dropdown-menu w-100 filter tab"
                      aria-labelledby="dropdownFilter2"
                    >
                      <a
                        *ngFor="let item of arrAffect; let i = index"
                        class="dropdown-item"
                        data-filter-type="trip"
                        role="button"
                        (click)="setAffect(item, i)"
                      >
                        {{ item }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="service-hr"></div>
            </div>
            <!-- 若無訂單狀態 -->
            <div class="col-sm-12 col-md-12" [class.d-none]="!getListEmpty">
              <div class="empty text-center">
                <i class="icons-ic-empty i-icon"></i>
                <div>{{ this.FLang.F021.L0002 }}</div>
              </div>
            </div>
            <!-- 汽車險 - Start -->
            <div
              class="col-sm-12 col-md-12"
              data-filter-content="car"
              *ngFor="
                let item of FTypeIndex === 1 || FTypeIndex === 0
                  ? FCards.FCarCards
                  : [];
                let i = index
              "
            >
              <div
                [id]="item.xid"
                class="choose-card service-card service-notice-box"
              >
                <a href="javascript:">
                  <div class="choose-top" (click)="goInsuranceDetail(1, item)">
                    <div class="choose-row mr-auto">
                      <div>
                        <div>{{ this.FLang.F021.L0004 }}</div>
                        <div class="remarks">{{ item.display_rgst_no }}</div>
                      </div>
                    </div>
                    <div><i class="icons-ic-arrow-right-g i-icon"></i></div>
                  </div>
                  <div class="service-notice-content">
                    <div
                      class="service-notice"
                      (click)="goInsuranceDetail(1, item)"
                    >
                      <div
                        class="service-row"
                        *ngFor="
                          let card of item.slice
                            ? (item.data | slice: 0:3)
                            : item.data
                        "
                      >
                        <div class="meta d-flex align-items-center">
                          <label
                            class="label"
                            [ngClass]="
                              FLangType
                                | capsuleStyle: card.pol_dt:card.pol_due_dt
                            "
                          >
                            {{
                              FLangType | capsule: card.pol_dt:card.pol_due_dt
                            }}
                          </label>
                        </div>
                        <p>{{ card.prod_pol_name }}</p>
                        <p>
                          <span class="white-space-nowrap">
                            <span>{{ card.pol_dt | cDate: "HH:mm" }}</span>
                            {{ card.pol_dt | cDate: "DD/MM/YYYY" }}
                          </span>

                          <span> - </span>

                          <span class="white-space-nowrap">
                            <span>{{ card.pol_dt | cDate: "HH:mm" }}</span>
                            {{ card.pol_due_dt | cDate: "DD/MM/YYYY" }}
                          </span>
                        </p>
                      </div>
                    </div>
                    <div [hidden]="item.data.length <= 3" class="arrow-up">
                      <div [class.d-none]="item.slice" (click)="cardSplice(i)">
                        <i class="icons-ic-arrow-up-g i-icon"></i>
                      </div>
                      <div [class.d-none]="!item.slice" (click)="cardSplice(i)">
                        <i class="icons-ic-arrow-down-g i-icon"></i>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- 汽車險 - End -->

            <!-- 機車險 - Start -->
            <div
              class="col-sm-12 col-md-12"
              data-filter-content="motorcycle"
              *ngFor="
                let item of FTypeIndex === 0 || FTypeIndex === 2
                  ? FCards.FMotoCards
                  : [];
                let i = index
              "
            >
              <div
                [id]="item.xid"
                class="choose-card service-card service-notice-box"
              >
                <a href="javascript:">
                  <div class="choose-top" (click)="goInsuranceDetail(2, item)">
                    <div class="choose-row mr-auto">
                      <div>
                        <div>{{ this.FLang.F021.L0003 }}</div>
                        <div class="remarks">{{ item.display_rgst_no }}</div>
                      </div>
                    </div>
                    <div><i class="icons-ic-arrow-right-g i-icon"></i></div>
                  </div>
                  <div class="service-notice-content">
                    <div
                      class="service-notice"
                      (click)="goInsuranceDetail(2, item)"
                    >
                      <div
                        class="service-row"
                        *ngFor="
                          let moto of item.slice
                            ? (item.data | slice: 0:3)
                            : item.data
                        "
                      >
                        <div class="meta d-flex align-items-center">
                          <label
                            class="label"
                            [ngClass]="
                              FLangType
                                | capsuleStyle: moto.pol_dt:moto.pol_due_dt
                            "
                          >
                            {{
                              FLangType | capsule: moto.pol_dt:moto.pol_due_dt
                            }}
                          </label>
                        </div>
                        <p>{{ moto.prod_pol_name }}</p>
                        <p>
                          <span class="keep-same-line">
                            <span>{{ moto.pol_dt | cDate: "HH:mm" }}</span>
                            {{ moto.pol_dt | cDate: "DD/MM/YYYY" }}
                          </span>
                          <span class="white-space-pre-wrap">- </span>
                          <span class="keep-same-line">
                            <span>{{ moto.pol_dt | cDate: "HH:mm" }}</span>
                            {{ moto.pol_due_dt | cDate: "DD/MM/YYYY" }}
                          </span>
                        </p>
                      </div>
                    </div>

                    <div [hidden]="item.data.length <= 3" class="arrow-up">
                      <div [class.d-none]="item.slice" (click)="motoSplice(i)">
                        <i class="icons-ic-arrow-up-g i-icon"></i>
                      </div>
                      <div [class.d-none]="!item.slice" (click)="motoSplice(i)">
                        <i class="icons-ic-arrow-down-g i-icon"></i>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- 機車險 - End -->

            <!-- 旅遊險 -->
            <!-- 旅遊險不可續保，如狀態是續保則呈現空 -->
            <ng-template [ngIf]="FAffectIndex !== 4">
              <div
                class="col-sm-12 col-md-12"
                data-filter-content="trip"
                *ngFor="
                  let item of [0, 3].includes(FTypeIndex)
                    ? FCards.FTravelCards
                    : [];
                  let i = index
                "
              >
                <div
                  [id]="item.data[0].pol_no"
                  class="choose-card service-card service-notice-box"
                >
                  <a href="javascript:">
                    <div
                      class="choose-top"
                      (click)="goInsuranceDetail(3, item)"
                    >
                      <div class="choose-row mr-auto">
                        <div>
                          <div>
                            {{ this.FLang.F021.L0005 }}
                            <!-- (pol_no:{{ item.data[0].pol_no | json }}) -->
                          </div>
                          <div class="remarks">
                            {{ item.insr_info }}
                          </div>
                        </div>
                      </div>
                      <div><i class="icons-ic-arrow-right-g i-icon"></i></div>
                    </div>
                    <div class="service-notice-content">
                      <div
                        class="service-notice"
                        (click)="goInsuranceDetail(3, item)"
                      >
                        <div class="service-row">
                          <div class="meta d-flex align-items-center">
                            <label
                              class="label is-green-middle"
                              [ngClass]="
                                FLangType
                                  | capsuleStyle: item.pol_dt:item.pol_due_dt
                              "
                            >
                              {{
                                FLangType | capsule: item.pol_dt:item.pol_due_dt
                              }}
                            </label>
                          </div>
                          <p>{{ item.prod_pol_name }}</p>
                          <p>
                            <span class="d-inline-block">
                              <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                              {{ item.pol_dt | cDate: "DD/MM/YYYY" }}
                            </span>
                            -
                            <span class="d-inline-block">
                              <span>{{ item.pol_dt | cDate: "HH:mm" }}</span>
                              {{ item.pol_due_dt | cDate: "DD/MM/YYYY" }}
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </ng-template>
            <div class="col-sm-12 col-md-12">
              <div class="service-hr"></div>
            </div>
            <div
              *ngIf="FValidatePolicy"
              class="col-sm-12 col-md-12 not-found d-md-block"
            >
              <p class="text-gray text-center">
                {{ this.FLang.F021.L0006 }}
              </p>
              <div class="row no-gutters btn-order mb-lg-3">
                <div class="col-6">
                  <div class="text-center">
                    <a (click)="goVerify()" class="btn btn-primary word-break">
                      {{ this.FLang.F021.L0007 }}
                    </a>
                  </div>
                </div>
                <div
                  class="col-6 order-first"
                  (click)="FValidatePolicy = !FValidatePolicy"
                >
                  <div class="text-center">
                    <a class="btn btn-white"> {{ this.FLang.F021.L0008 }} </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 若無訂單狀態 end-->
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
