.adv-box-item .form-textarea textarea {
  margin-bottom: 0;
}

.status-error textarea {
  border: 2px solid #f9556f;
}

.form-textarea {
  margin-bottom: 30px;
}

.padding {
  padding-top: 20px;
}

.slick_width_control {
  li {
    a {
      width: 100%;
      padding: 7px 8px;
    }
    margin-right: 10px;
    margin-left: 10px;
  }
}

::ng-deep.onlinecard .slick-track {
  margin-left: 0;
  margin-right: 0;
  width: unset !important;
}
.slick-initialized .slick-slide {
  transition: 0s;
}

.hide_content {
  opacity: 0;
}
