<div
  class="service-row"
  data-toggle="modal"
  data-target="#Modal-19"
  *ngFor="let item of noticeList; let id = index"
  (click)="emitId(id)"
>
  <div
    class="meta d-flex flex-column flex-lg-row align-items-start align-items-lg-center"
  >
    <label class="label is-green text-left">{{ item.tag }}</label>
    <span class="public_at keep-same-line mt-1 mt-lg-0">{{
      item.create_date | cDate: "HH:mm DD/MM/YYYY":"HH:mm YYYY/MM/DD"
    }}</span>
  </div>
  <p [innerHTML]="item.content" class="text_overflow"></p>
  <hr />
</div>
