<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let item of cardList">
    <a
      class="nav-link active"
      routerLink="/about/opening/opening-detail"
      (click)="clickJob(item.id)"
    >
      <h4>{{ item.title }}</h4>
      <div class="d-flex address align-items-start">
        <div>
          <i class="icons-ic-about-location-o i-icon"></i>
        </div>
        <div>{{ item.area }}</div>
      </div>
      <div class="d-flex align-items-center">
        <div class="explain" [innerHtml]="item.explain[0].value"></div>
        <div><i class="icons-ic-arrow-o i-icon"></i></div>
      </div>
    </a>
  </div>
</ngx-slick>
