<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ FLang.C02.insured.L0001 }}</h3>
      <i class="icons-ic-popup-close i-icon close" (click)="closemodel()"></i>
    </div>
    <div class="modal-body">
      <form [formGroup]="group">
        <div class="advisory-content">
          <div class="adv-box-item">
            <div class="form-group" *ngIf="someUser">
              <div class="row">
                <div class="col-12">
                  <div class="choose-box">
                    <input
                      id="gender_c"
                      type="checkbox"
                      class="big-checkbox"
                      name="gender"
                      [disabled]="!someUser || checkUserinfo()"
                      (click)="onSomeUser(id)"
                      [(ngModel)]="FSomeUser"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <label for="gender_c" [class.text-gray]="checkUserinfo()">{{
                      FLang.C02.insured.L0002
                    }}</label>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="form-group"
              [class.status-error]="
                controls.name.dirty &&
                controls.name.touched &&
                controls.name.invalid
              "
            >
              <label>{{ FLang.C02.insured.L0003 }}</label>
              <div class="from-row">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="
                    FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS003
                  "
                  formControlName="name"
                  appLimitInput
                  [replace]="'vn'"
                  (input)="changeToUpperCase($event)"
                />
                <i
                  class="icons-ic-form-del i-icon"
                  (click)="controls.name.setValue('')"
                ></i>
              </div>
              <small
                class="form-text"
                [class.d-none]="
                  !controls.name.dirty ||
                  controls.name.untouched ||
                  controls.name.valid
                "
              >
                {{ getErrors(controls.name) }}</small
              >
            </div>
            <div
              class="form-group"
              [class.status-error]="
                (controls.id.dirty &&
                  controls.id.touched &&
                  controls.id.invalid) ||
                errorWord
              "
            >
              <label>{{ FLang.C02.insured.L0005 }}</label>
              <div class="from-row">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="FLang.C02.insured.L0006"
                  formControlName="id"
                  appLimitInput
                  [replace]="'number'"
                />
                <i
                  class="icons-ic-form-del i-icon"
                  (click)="controls.id.setValue('')"
                ></i>
              </div>
              <small
                class="form-text"
                [class.d-none]="
                  FType === 'edit' ||
                  !controls.id.dirty ||
                  controls.id.untouched ||
                  controls.id.valid
                "
              >
                {{ getErrors(controls.id) }}</small
              >
              <small *ngIf="!getErrors(controls.id)" class="form-text">{{
                errorWord
              }}</small>
            </div>

            <div
              class="form-group icon-date"
              [class.status-error]="
                controls.birthday.dirty &&
                controls.birthday.touched &&
                controls.birthday.invalid
              "
            >
              <div class="from-row">
                <app-datepicker
                  [label]="FLang.C02.insured.L0007"
                  xid="{{ 'inusred' + (id + 1) }}"
                  [placeholder]="
                    FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS011
                  "
                  [config]="{
                    drops: 'up',
                    parentEl: '#modelInsured',
                    minDate: mixDate,
                    maxDate: maxDate,
                    startDate: startDate
                  }"
                  [xReadonly]="FReadonly"
                  [value]="FBirthday"
                  (getDate)="getDate($event)"
                  [xdisabled]="FSomeUser"
                >
                </app-datepicker>
              </div>
              <small
                class="form-text"
                [class.d-none]="
                  (!controls.birthday.dirty ||
                    controls.birthday.valid ||
                    controls.birthday.untouched) &&
                  !dayError
                "
              >
                {{ dayError || getErrors(controls.birthday) }}</small
              >
            </div>
            <!-- 男女 -->
            <div class="form-group">
              <label>{{ FLang.C02.insured.L0011 }}</label>
              <div class="choose-box choo-sub ml-0" style="display: block">
                <div class="choose-row">
                  <div
                    class="choose-box"
                    [class.disabled]="
                      controls.sex.value === '1' && controls.sex.disabled
                    "
                    [class.disabled-air]="
                      controls.sex.value !== '1' && controls.sex.disabled
                    "
                  >
                    <input
                      id="sex_m_pop"
                      formControlName="sex"
                      type="radio"
                      class="big-checkbox"
                      name="sex"
                      value="1"
                    /><label for="sex_m_pop">{{
                      FLang.C02.insured.L0012
                    }}</label>
                  </div>
                </div>
                <div class="choose-row">
                  <div
                    class="choose-box"
                    [class.disabled]="
                      controls.sex.value === '0' && controls.sex.disabled
                    "
                    [class.disabled-air]="
                      controls.sex.value !== '0' && controls.sex.disabled
                    "
                  >
                    <input
                      id="sex_f_pop"
                      formControlName="sex"
                      type="radio"
                      class="big-checkbox"
                      name="sex"
                      value="0"
                    /><label for="sex_f_pop"
                      >{{ FLang.C02.insured.L0013 }}
                    </label>
                  </div>
                </div>
              </div>
              <small
                class="form-text"
                [class.d-none]="
                  !controls.sex.dirty ||
                  controls.sex.valid ||
                  controls.sex.untouched
                "
              >
                {{ getErrors(controls.sex) }}</small
              >
            </div>
          </div>
        </div>
        <div class="text-center mt-20px">
          <button type="button" class="btn btn-primary" (click)="onAction()">
            {{ FLang.C02.insured.L0009 }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
