<main>
  <div class="com-content">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story top-bg-big">
          <img
            src="assets/img/img-bn-job.png"
            alt=""
            srcset="assets/img/img-bn-job@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="assets/img/img-bn-job-m.png"
            alt=""
            srcset="assets/img/img-bn-job-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
        <div class="top-bg-scrap d-none d-md-block">
          <img
            src="assets/img/img-banner-shape.png"
            alt=""
            srcset="assets/img/img-banner-shape@2x.png 2x"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="caption">
      <div class="container">
        <h1>{{ this.FLang.G021.L0001 }}</h1>
      </div>
    </div>
    <section class="joblist">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
            <div class="pop-menu d-block d-lg-none">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle w-100"
                  type="button"
                  id="dropdownFilter"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <div class="filterActiveText">
                    {{ openingType[filterTypeId].name }}
                  </div>
                </button>
                <!-- <i class="icons-ic-news-arrow-down i-icon"></i> -->
                <div
                  class="dropdown-menu w-100 filter tab"
                  aria-labelledby="dropdownFilter"
                >
                  <a
                    *ngFor="let item of openingType; let i = index"
                    class="dropdown-item"
                    [class.active]="filterTypeId === i"
                    role="button"
                    (click)="filterTypeIdChange(i)"
                    >{{ item.name }}</a
                  >
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block text-center">
              <ul class="tab filter labels">
                <li
                  *ngFor="let item of openingType; let i = index"
                  [class.active]="filterTypeId === i"
                >
                  <a role="button" (click)="filterTypeIdChange(i)">{{
                    item.name
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <!-- Job Card - Start -->
              <div
                class="col-md-6 col-lg-4"
                data-filter-content="insurance"
                *ngFor="let card of filterCardList"
              >
                <div class="jobcard">
                  <a
                    class="nav-link active"
                    routerLink="./opening-detail"
                    (click)="clickJob(card.id)"
                  >
                    <h4>{{ card.title }}</h4>
                    <div class="d-flex address align-items-start">
                      <div>
                        <i class="icons-ic-about-location-o i-icon"></i>
                      </div>
                      <div>{{ card.area }}</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="explain" [innerHtml]="card.explain[0].value"></div>
                      <div><i class="icons-ic-arrow-o i-icon"></i></div>
                    </div>
                  </a>
                </div>
              </div>
              <!-- Job Card - End -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
