<div class="tab-item-box drop-box">
  <div
    class="tab-card"
    *ngFor="let content of downloadList"
    (click)="clickDownloadCard(content.document)"
  >
    <div class="tab-link">
      <div class="tab-title d-flex">
        <a>{{ content.option }}</a>
        <i class="icons-ic-download i-icon i-up"></i>
      </div>
    </div>
  </div>
</div>

<div class="more text-center" *ngIf="filterListByKeyword.length > downloadList.length">
  <a
    role="button"
    class="btn btn-primary"
    (click)="showMore.emit()"
  >
    {{ FLang.H0032 }}
  </a>
</div>
