.mob-logout {
  text-align: right;
  background-color: #00a94f;
}
.mob-logout a {
  color: #fff;
  border: 1px solid #fff;
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

a[data-target] {
  color: #00a94f;

  &:hover {
    color: #00a94f;
  }
}

.menu-web li.nav-item > .img-writ.menu_animation,
.menu-web li.nav-item > .img-list.menu_animation {
  // transform: scaleY(1);
  // transition: 0.3s;
  display: inline-block;
}

header .header-bottom .search-area .form .btn-submit {
  top: calc(50% - 27px);
}
