<main>
  <div class="com-content">
    <app-breadcrumb></app-breadcrumb>
    <section class="article">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="article-content">
              <h2 class="lg-title">
                {{ newsContent.title }}
              </h2>
              <div class="cover" *ngIf="newsContent.image_url.length !== 0">
                <img [src]="newsContent.image_url[0]" />
              </div>
              <div class="d-flex align-items-center art-label">
                <label class="label is-green text-left" [ngClass]="styleClass(newsContent.type_id)">{{ newsContent.type }}</label>
                <div class="public_at keep-same-line">
                  {{ newsContent.start_date | cDate: "DD/MM/YYYY":"DD-MM-YYYY" }}
                </div>
              </div>
              <div
                class="new_detail_info"
                *ngIf="newsContent.url_type === 1"
                [innerHTML]="newsContent.content | htmlTransform"
              ></div>
              <div *ngIf="newsContent.url_type === 2">
                <a
                  [href]="newsContent.url"
                  target="_blank"
                  style="word-break: break-all"
                  >{{ newsContent.url }}</a
                >
              </div>
              <div class="more action text-center mt-20">
                <a (click)="goPrev()" class="btn btn-white mx-3">{{
                  FLang.I01.content.I0005
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
