.expand-block {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
.expand-header {
  color: #fff;
  background-color: rgb(57, 148, 57);
  padding: 15px;
  cursor: pointer;
}
.paddingOff {
  padding: 0;
}

.bookmark .tab-row-content .tab-item-box .tab-card h4 {
  font-weight: 500;
}
