<div class="height-content">
  <main>
    <div class="com-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-breadcrumb></app-breadcrumb>
          </div>
        </div>
      </div>
      <section>
        <div class="container">
          <h1 class="lg-title text-center">{{ FLang.I01.title.I0001 }}</h1>
          <div class="row">
            <app-dropdown
              [tagList]="FtagList"
              (tagTitle)="filterTypeIdChange($event)"
              class="col-12 col-lg-8 offset-lg-2"
            ></app-dropdown>
            <app-card class="col-12" [newsList]="filterNewsList"></app-card>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
