<div *ngFor="let item of insuranceData; index as i">
  <!-- 理賠流程 -->
  <div class="title" [innerHTML]="item.title"></div>
  <div class="boi-step">
    <div class="boi-step-row" *ngFor="let item of insuranceData[i].textArray">
      <div class="text-center boi-step-img">
        <img
          [src]="item.src"
          alt=""
          [srcset]="item.srcset"
          class="d-none d-md-inline-block img-fluid"
        />
      </div>
      <div class="d-flex boi-step-box">
        <div class="number">{{ item.number }}</div>
        <div class="boi-step-content custom_text_align">
          <h4>{{ item.title }}</h4>
          <p [innerHTML]="item.info"></p>
          <span *ngIf="item.fileParen">(</span>
          <a *ngIf="item.file" (click)="scrollTo()">{{ item.file }}</a>
          <span *ngIf="item.fileParen">)</span>
          <p *ngIf="item.infoTwo" [innerHTML]="item.infoTwo"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- 理賠流程 -->
</div>
