<div class="topbg">
  <div class="topbg-box">
    <div class="top-bg-story">
      <img
        *ngFor="let item of backgroundData.story; index as i"
        [src]="item.url"
        alt=""
        [srcset]="item.srcset"
        [class]="rwdHandler(i)"
      />
    </div>
    <div class="top-bg-scrap d-none d-md-block">
      <img
        *ngFor="let item of backgroundData.scrap"
        [src]="item.url"
        alt=""
        [srcset]="item.srcset"
        class="img-fluid"
      />
    </div>
  </div>
</div>
