.form-control.status-error,
.upload-file.status-error,
.dropdown-toggle.status-error,
.status-error textarea {
  border: 2px solid #f9556f !important;
}

.adv-box-item .form-textarea textarea {
  margin-bottom: 0;

  & + small {
    color: #f9556f;
  }
}

.form-text.status-error {
  color: #f9556f;
}
