<div
  class="modal fade notice"
  id="deleteFlight"
  tabindex="-1"
  aria-labelledby="ModalLabel-31"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content mb-20">
          <h5>{{ FLang.F05.F0043 }}</h5>
        </div>

        <div class="row no-gutters btn-order modal-btn-more">
          <div class="col-md-6">
            <div class="text-center">
              <a class="btn btn-primary" (click)="onConfirm()">
                {{ FLang.F05.F0044 }}
              </a>
            </div>
          </div>
          <div class="col-md-6 order-md-first">
            <div class="text-center">
              <a class="btn btn-white" (click)="onCancel()">
                {{ FLang.F05.F0045 }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
