.down-outer {
  margin-top: 0;
}

@media (max-width: 1199.98px) {
  .down-outer {
    margin-top: 12px;
  }
}

@media (max-width: 767.98px) {
  .down-outer {
    margin-top: 62px;
    margin-bottom: 0;
  }
}
