<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-password.png"
              alt=""
              srcset="assets/img/img-bn-password@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-password-m.png"
              alt=""
              srcset="assets/img/img-bn-password-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.B012A.title.B0001 }}</h1>
        </div>
      </div>
      <section class="jobdetails mt-0">
        <div class="container remove-width">
          <div class="jobbox bg-white-block login-w">
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div
                    id="lyc_certificate_number"
                    class="form-group"
                    [class.status-error]="
                      controls.certificate_number.dirty &&
                      controls.certificate_number.touched &&
                      controls.certificate_number.invalid
                    "
                  >
                    <label>{{ FLang.B012A.content.B0001 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS001
                        }}"
                        formControlName="certificate_number"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.certificate_number.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.certificate_number.dirty ||
                        controls.certificate_number.untouched ||
                        controls.certificate_number.valid
                      "
                    >
                      {{ getErrors(controls.certificate_number) }}</small
                    >
                  </div>
                  <!-- datePicker -->
                  <div
                    id="lyc_birthday"
                    class="form-group"
                    [class.status-error]="
                      controls.birthday.dirty &&
                      controls.birthday.touched &&
                      controls.birthday.invalid
                    "
                  >
                    <app-datepicker
                      label="{{ FLang.B012A.content.B0003 }}"
                      placeholder="{{
                        FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS002
                      }}"
                      [config]="{
                        minDate: mixDate,
                        maxDate: maxDate,
                        startDate: startDate
                      }"
                      [xReadonly]="FReadonly"
                      (getDate)="getDate($event)"
                    ></app-datepicker>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.birthday.dirty ||
                        controls.birthday.untouched ||
                        controls.birthday.valid
                      "
                    >
                      {{ this.FLang.B012A.content.B0005 }}</small
                    >
                  </div>
                  <!-- datePicker -->
                  <div
                    class="message-error"
                    [class.message_error]="!FSubmitError"
                  >
                    {{ FLang.B012A.content.B0006 }}
                  </div>
                </div>
                <div class="row no-gutters btn-order">
                  <div class="col-md-6">
                    <div class="text-center">
                      <a (click)="doSubmit()" class="btn btn-primary">
                        {{ FLang.B012A.content.B0007 }}
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 order-md-first">
                    <div class="text-center">
                      <a href="tel:0933555920" class="btn btn-white">
                        {{ FLang.B012A.content.B0008 }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
