<div class="service-inform-box">
  <div class="bookmark wow fadeInUp">
    <div class="tab-row-content pt-2">
      <div class="tab-item-box" id="accordionService">
        <div
          class="tab-card pay-card"
          *ngFor="let item of serviceCardData; index as i"
        >
          <div
            class="tab-link collapsed"
            [class.collapsed]="!item.ariaExpanded"
            [id]="'Service' + i"
            data-toggle="collapse"
            [attr.data-target]="'#collapseQue' + i"
            [attr.aria-expanded]="item.ariaExpanded"
            [attr.aria-controls]="'collapseQue' + i"
          >
            <div class="tab-title d-flex custom_text_align">
              <h4>{{ item.title }}</h4>
              <div class="img-collapse">
                <img
                  [src]="upSrc"
                  alt=""
                  [srcset]="upSrcset"
                  class="img-fluid i-up"
                />
                <img
                  [src]="downSrc"
                  alt=""
                  [srcset]="downSrcset"
                  class="img-fluid i-down"
                />
              </div>
            </div>
          </div>
          <div
            [id]="'collapseQue' + i"
            class="collapse"
            [class.show]="item.ariaExpanded"
            [attr.aria-labelledby]="'Service' + i"
            data-parent="#accordionService"
          >
            <div class="pay-box">
              <p class="text-gray custom_text_align">
                {{ item.content }}
              </p>
              <div
                class="tab-item-box"
                [id]="getCollapseId(i, false)"
                *ngIf="item.nextLevel"
              >
                <div
                  class="tab-card"
                  [style]="list.style"
                  *ngFor="let list of item.nextLevelContent; index as j"
                >
                  <div
                    class="tab-link"
                    [class.collapsed]="!list.ariaExpanded"
                    [id]="'pay' + i + j"
                    data-toggle="collapse"
                    [attr.data-target]="'#PayQue' + i + j"
                    [attr.aria-expanded]="list.ariaExpanded"
                    [attr.aria-controls]="'PayQue' + i + j"
                    *ngIf="list.title"
                  >
                    <div class="tab-title d-flex">
                      <h4>{{ list.title }}</h4>
                      <div class="img-collapse-add">
                        <img
                          [src]="openSrc"
                          alt=""
                          [srcset]="openSrcset"
                          class="img-fluid i-up"
                        />
                        <img
                          [src]="closeSrc"
                          alt=""
                          [srcset]="closeSrcset"
                          class="img-fluid i-down"
                        />
                      </div>
                    </div>
                  </div>

                  <div
                    [id]="'PayQue' + i + j"
                    [class.collapse]="!!list.title"
                    [class.show]="list.ariaExpanded"
                    [attr.aria-labelledby]="'Pay' + i + j"
                    [attr.data-parent]="getCollapseId(i, true)"
                  >
                    <div class="pay-content">
                      <p class="text-green">{{ list.content }}</p>
                      <ul *ngFor="let liList of list.text">
                        <li class="dot custom_text_align">{{ liList }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
