<div class="com-content">
  <section class="banner-img-center">
    <img
      [src]="bannerImg(1)"
      alt="bảo hiểm mọi rủi ro tài sản"
      [srcset]="bannerImgBig(1)"
      class="d-none d-xl-block"
    />
    <img
      [src]="bannerImg(2)"
      alt="mua bảo hiểm tài sản"
      [srcset]="bannerImgBig(2)"
      class="d-none d-md-block d-xl-none"
    />
    <img
      [src]="bannerImg(3)"
      alt="bảo hiểm rủi ro tài sản"
      [srcset]="bannerImgBig(3)"
      class="d-md-none"
    />
  </section>
  <section class="bookmark recom-book mc-box">
    <div class="container remove-width com-book com-book-cm">
      <div class="tab-content">
        <!-- travel Inside-->
        <div class="tab-pane fade show active bg-commodity p-0">
          <div class="commodity">
            <h1 class="text-center">{{ FLang.E04.E0001 }}</h1>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="com-img com-img-three">
                  <div class="com-img-box">
                    <img
                      src="assets/img/commodity/img-bx-cargo.png"
                      alt=""
                      srcset="assets/img/commodity/img-bx-cargo@2x.png 2x"
                      class="img-fluid"
                    />

                    <ul class="tab filter">
                      <li
                        *ngFor="let icon of items.icons; index as i"
                        [ngClass]="cssClassNumber(i)"
                      >
                        <a
                          [attr.data-filter-type]="dataFilterNumber(i)"
                          role="button"
                        >
                          <img
                            [src]="icon.defaultImg"
                            alt=""
                            [srcset]="icon.defaultSrcset"
                            class="i-default"
                            (click)="clickStyle(i)"
                          />
                          <img
                            [src]="icon.activeImg"
                            alt=""
                            [srcset]="icon.activeSrcset"
                            class="i-active"
                            (click)="clickStyle(i)"
                          />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-lg-6 order-lg-first">
                <div
                  [attr.data-filter-content]="dataFilterNumber(i)"
                  *ngFor="let content of items.content; index as i"
                  [ngClass]="{ 'd-none': activeIndex !== i }"
                >
                  <h2>{{ content.title }}</h2>
                  <div class="com-detail com-detail-type">
                    <p class="custom_text_align">
                      {{ content.directions }}
                    </p>
                    <div class="ins-ser-line">
                      <img
                        src="assets/img/ic-orange-line.png"
                        alt=""
                        srcset="assets/img/ic-orange-line@2x.png 2x"
                        class="d-none d-lg-block"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commodity recom introduce introduce-bg bevel">
            <h1 class="text-center">{{ FLang.E04.E0020 }}</h1>
            <div *ngFor="let item of insuranceRangeList; index as i">
              <div class="row item-row thumbsup align-items-center">
                <div class="col-sm-12 col-lg-6 text-center">
                  <img
                    [src]="item.defaultImg"
                    alt=""
                    [srcset]="item.defaultSrcset"
                    class="img-fluid d-none d-md-inline-block"
                  />
                  <img
                    [src]="item.activeImg"
                    alt=""
                    [srcset]="item.activeSrcset"
                    class="img-fluid d-md-none p-0"
                  />
                </div>
                <div [ngClass]="switchPosition(i)">
                  <div class="item">
                    <h2>{{ item.title }}</h2>
                    <p class="custom_text_align">{{ item.directions }}</p>
                    <div class="custom_text_align">
                      {{ item.content }}
                    </div>
                  </div>
                </div>
              </div>
              <hr
                class="d-lg-none"
                [class.d-none]="insuranceRangeList.length === i + 1"
              />
            </div>
          </div>
        </div>
        <!-- travel Inside end-->
      </div>
      <div class="com-book-l-bg">
        <img
          src="assets/img/commodity/bg-product-bubble-1.png"
          alt=""
          srcset="assets/img/commodity/bg-product-bubble-1@2x.png 2x"
          class="d-none d-lg-block"
        />
      </div>
      <div class="com-book-r-bg">
        <img
          src="assets/img/commodity/bg-product-bubble-2.png"
          alt=""
          srcset="assets/img/commodity/bg-product-bubble-2@2x.png 2x"
          class="d-none d-lg-block"
        />
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section class="sectLg wave-bg">
    <img src="assets/img/wave2x.png" class="bg-wave" />
    <div class="title">{{ FLang.E04.E0021 }}</div>
    <div class="container remove-width">
      <div class="bookmark wow fadeInUp">
        <div class="tab-row-content">
          <div class="tab-item-box" id="accordionQuestion">
            <!-- tab-card -->
            <div class="tab-card" *ngFor="let item of faqList; index as i">
              <app-expand-panel
                [item]="item"
                [i]="i"
                [titleContent]="titleContent(item)"
                [infoContent]="infoContent(item)"
                [titleId]="titleId(i)"
                [titleDataTarget]="titleDataTarget(i)"
                [titleAriaControls]="titleAriaControls(i)"
                [infoId]="infoId(i)"
                [infoAriaLabelledby]="infoAriaLabelledby(i)"
              ></app-expand-panel>
            </div>
            <!-- tab-card end-->
            <div class="more">
              <a
                routerLink="/help"
                [queryParams]="{
                  type: 'question',
                  tag: 'business',
                  option: 'cargo'
                }"
                ><i class="icons-ic-more-white i-icon i-up"></i
                >{{ FLang.faq.faq003 }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
