<!-- 身分證上傳 -->
<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ FLang.F07.content.F0036 }}</h3>
      <i
        class="icons-ic-popup-close i-icon close"
        data-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
    <div class="modal-body">
      <form [formGroup]="group">
        <div class="advisory-content">
          <div class="setting pb-0">
            <div *ngIf="userInfo.is_link_id === 'F'" class="error_text">
              {{ userInfo.remark }}
            </div>
            <div class="mb-30">
              {{ FLang.F07.content.F0037 }}
            </div>
            <div class="adv-box-item">
              <div
                id="lyc_idnum"
                class="form-group"
                [class.status-error]="
                  controls.idnum.dirty &&
                  controls.idnum.touched &&
                  controls.idnum.invalid
                "
              >
                <label>{{ FLang.F07.content.F0038 }}</label>
                <div class="from-row">
                  <input
                    type="type"
                    class="form-control"
                    placeholder="{{ FLang.F07.content.F0039 }}"
                    formControlName="idnum"
                    appLimitInput
                    [replace]="'number'"
                  />
                  <i class="icons-ic-form-del i-icon"></i>
                </div>
                <small
                  [class.d-none]="
                    !controls.idnum.invalid ||
                    controls.idnum.untouched ||
                    controls.idnum.valid
                  "
                  class="form-text"
                  >{{ getErrors(controls.idnum) }}
                </small>
              </div>
            </div>

            <p class="upload-txt">
              {{ FLang.F07.content.F0041 }}
              <span>{{ FLang.F07.content.F0042 }}</span>
            </p>
            <input class="d-none" type="hidden" formControlName="frontfile" />

            <div class="upload">
              <!-- 失敗 / 未上傳 身分證正面 -->
              <div class="" *ngIf="!FFrontimg">
                <input
                  class="choose-file"
                  type="file"
                  id="choose-file"
                  required
                  (change)="setfile($event)"
                  accept=".jpg,.jpeg,.heif,.heic"
                />
                <label
                  for="choose-file"
                  class="upload-file news-file"
                  [class.status-error]="fronterrorMsg"
                  data-text="filename"
                >
                  <div>
                    <img
                      class="file-img"
                      *ngIf="controls.frontfile.value"
                      alt=""
                    />
                  </div>
                  <div *ngIf="!FFrontimg" class="file-txt">
                    <i class="icons-ic-upload i-icon mr-1"></i
                    >{{ FLang.F07.content.F0043 }}
                  </div>
                </label>
                <small *ngIf="fronterrorMsg" class="form-text">
                  {{ fronterrorMsg }}
                </small>
              </div>

              <!-- 成功 身分證正面 -->
              <div class="img-box" *ngIf="FFrontimg">
                <div class="upload-img img-news">
                  <div class="upload-img-border">
                    <img class="img-fluid" [src]="sFrontimg()" alt="" />
                  </div>
                  <i
                    (click)="clearImg(1)"
                    class="icons-ic-trash i-icon mr-0 mt-0"
                  ></i>
                </div>
              </div>
            </div>

            <div class="upload">
              <!-- 失敗 / 未上傳 身分證反面 -->
              <div class="mt-30px" *ngIf="!FBackimg">
                <input class="d-none" type="hidden" formControlName="bkfile" />
                <input
                  class="choose-file"
                  type="file"
                  id="choose-file1"
                  (change)="setbkfile($event)"
                  required
                  accept=".jpg,.jpeg,.heif,.heic"
                />
                <label
                  for="choose-file1"
                  class="upload-file news-file"
                  [class.status-error]="backerrorMsg"
                  data-text="filename"
                >
                  <div>
                    <img
                      class="file-img"
                      *ngIf="controls.bkfile.value"
                      alt=""
                    />
                    <!-- [src]="FBackimg" -->
                  </div>
                  <div *ngIf="!FBackimg" class="file-txt">
                    <i class="icons-ic-upload i-icon mr-1"></i
                    >{{ FLang.F07.content.F0044 }}
                  </div>
                </label>
                <small *ngIf="backerrorMsg" class="form-text">
                  {{ backerrorMsg }}
                </small>
              </div>

              <!-- 成功 身分證反面 -->
              <div class="img-box mt-30px" *ngIf="FBackimg">
                <div class="upload-img img-news">
                  <div class="upload-img-border">
                    <img class="img-fluid" [src]="sBackimg()" alt="" />
                  </div>
                  <i
                    (click)="clearImg(2)"
                    class="icons-ic-trash i-icon mr-0 mt-0"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-20px">
          <button
            type="button"
            [ngClass]="[
              'btn btn-primary',
              group.status === 'VALID' ? '' : 'disabled'
            ]"
            data-target="#"
            (click)="doSubmit()"
          >
            {{ FLang.F07.content.F0045 }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
