<main>
  <div class="com-content">
    <div class="topbg">
      <div class="topbg-box">
        <div class="top-bg-story top-bg-big">
          <img
            src="assets/img/img-bn-sitemap.png"
            alt=""
            srcset="assets/img/img-bn-sitemap@2x.png 2x"
            class="img-fluid d-none d-md-block"
          />
          <img
            src="assets/img/img-bn-sitemap-m.png"
            alt=""
            srcset="assets/img/img-bn-sitemap-m@2x.png 2x"
            class="img-fluid d-md-none"
          />
        </div>
        <div class="top-bg-scrap d-none d-md-block">
          <img
            src="assets/img/img-banner-shape.png"
            alt=""
            srcset="assets/img/img-banner-shape@2x.png 2x"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!-- breadcrumb -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-breadcrumb></app-breadcrumb>
        </div>
      </div>
    </div>
    <!-- breadcrumb end-->
    <div class="caption">
      <div class="container">
        <h1>{{ FLang.A05.A0001 }}</h1>
      </div>
    </div>
    <section class="jobdetails">
      <div class="container remove-width">
        <div class="jobbox bg-white-block web-map">
          <h3>{{ FLang.A05.A0002 }}</h3>
          <div class="web-map-content">
            <div class="row no-gutters">
              <div
                class="col-sm-12 col-md-3"
                *ngFor="let item of helpList; index as i"
              >
                <h5>{{ item.title }}</h5>
                <a
                  *ngFor="let content of item.content; index as j"
                  (click)="helpUrl(i, j)"
                  >{{ content.itemName }}</a
                >
              </div>
            </div>
          </div>
          <hr />
          <h3>{{ FLang.A05.A0006 }}</h3>
          <div class="web-map-content">
            <div class="row no-gutters">
              <div
                class="col-sm-12 col-md-3"
                *ngFor="let item of personalList; index as i"
              >
                <h5>{{ item.title }}</h5>
                <a
                  *ngFor="let content of item.content; index as j"
                  (click)="personalUrl(i, j)"
                  >{{ content.itemName }}</a
                >
              </div>
            </div>
          </div>
          <hr />
          <h3>{{ FLang.A05.A0009 }}</h3>
          <div class="web-map-content">
            <div class="row no-gutters">
              <div
                class="col-sm-12 col-md-3"
                *ngFor="let item of commercialList; index as i"
              >
                <h5>{{ item.title }}</h5>
                <a
                  *ngFor="let content of item.content; index as j"
                  (click)="commercialUrl(i, j)"
                  >{{ content.itemName }}</a
                >
              </div>
            </div>
          </div>
          <hr />
          <h3>{{ FLang.A05.A0011 }}</h3>
          <div class="web-map-content">
            <div class="row no-gutters">
              <div
                class="col-sm-12 col-md-3"
                *ngFor="let item of serviceCenterList; index as i"
              >
                <h5>{{ item.title }}</h5>
                <a
                  *ngFor="let content of item.content; index as j"
                  (click)="serviceCenterUrl(i, j)"
                  >{{ content.itemName }}</a
                >
              </div>
            </div>
          </div>
          <hr />
          <h3>{{ FLang.A05.A0016 }}</h3>
          <div class="web-map-content">
            <div class="row no-gutters">
              <div
                class="col-sm-12 col-md-3"
                *ngFor="let item of aboutList; index as i"
              >
                <a
                  *ngFor="let content of item.content; index as j"
                  (click)="aboutUrl(i, j)"
                  >{{ content.itemName }}</a
                >
              </div>
            </div>
          </div>
          <hr />
          <h3>{{ FLang.A05.A0017 }}</h3>
          <div class="web-map-content">
            <div class="row no-gutters">
              <div
                class="col-sm-12 col-md-3"
                *ngFor="let item of otherList; index as i"
              >
                <h5>{{ item.title }}</h5>
                <a
                  target="_blank"
                  *ngFor="let content of item.content; index as j"
                  [href]="otherUrl(i, j)"
                  >{{ content.itemName }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
