app-daterangepicker {
  ::ng-deep label,
  ::ng-deep i {
    display: none;
  }

  ::ng-deep input,
  ::ng-deep input[readonly] {
    background-color: white;
    padding: 0;
    margin: 0;
    border: none;
    height: auto;

    color: #000;
    -webkit-text-fill-color: #000;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;

    user-select: none;
  }
}

.onlinebg {
  overflow: visible;
}

/* 當 dropdown 為 modol 最後一個元素並開啟選單時撐高下方高度 */
// .custom-dropdown-mb {
//   padding-bottom: 280px !important;
// }
