<div
  class="modal fade"
  id="Modal-21"
  tabindex="-1"
  aria-labelledby="ModalLabel-21"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">{{ FLang.F03.F0020 }}</h3>
        <i
          class="icons-ic-popup-close i-icon close"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="service-notice">
          <div class="service-row">
            <ol class="number-list pr-4 custom_text_align">
              <li>
                {{ FLang.F03.F0021 }}
              </li>
              <li>
                {{ FLang.F03.F0022 }}
              </li>
              <li>{{ FLang.F03.F0023 }}</li>
              <li>{{ FLang.F03.F0024 }}</li>
            </ol>
          </div>
        </div>
        <div class="text-center service-notice-btn">
          <button
            (click)="doSubmit()"
            type="button"
            class="btn btn-primary"
            data-target="#"
          >
            {{ FLang.F03.F0025 }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
