<div>
  <div class="error-page d-flex flex-column">
    <div class="pic-404">
      <img class="pic-404__parent" src="assets/img/404.png" alt />
    </div>
    <div class="notFound">
      <span>{{ FLang.noPage.NP001 }}</span>
      <span>
        {{ FLang.noPage.NP002 }}
        <a class="link" (click)="gohome()">{{ FLang.noPage.NP003 }}</a>
      </span>
    </div>
  </div>
</div>
