.error-page {
  height: 100%;
  display: flex;
}

.pic-404 {
  text-align: center;
  width: 100%;
  padding: 80px 0 20px  ;
}

.pic-404__parent {
  width: 600px;
  margin: 30px;
}

.notFound {
  text-align: center;
  padding: 0 60px 30px;
  overflow: hidden;

}

.notFound span {
  display: block;
  line-height: 60px;
  font-size: 18px;
  color: #8b7b8b;

}

.link {
  color: #5cacee;
  font-size: 20px;
  cursor: pointer;
}
