<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-member.png"
              alt=""
              srcset="assets/img/img-bn-member@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-member-m.png"
              alt=""
              srcset="assets/img/img-bn-member-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <!-- 標題區 -->
      <div class="caption">
        <div class="container">
          <h1>{{ getInsureType() }}</h1>
        </div>
      </div>

      <section class="sectLg service-inform-frame">
        <div class="container remove-width form-canta">
          <div class="bg-white-block form-data">
            <!-- 訂單區 -->
            <div class="title">{{ FLang.F012.L0001 }}</div>
            <div class="service-inform-box">
              <div class="service-inform-card">
                <!-- 機車險明細表頭 -->
                <div
                  *ngIf="FVehicle_reginfo; else travelHeader"
                  class="choose-content"
                >
                  <ng-container
                    *ngIf="
                      FMotorPluNoList.includes(FOrder_data.prod_pol_code);
                      else ly_car
                    "
                  >
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0002 }}</div>
                      <div class="item">
                        {{
                          FOrder_data.vehc_kd
                            | pipePluType: "motor":FOrder_data.car_pwr_kd
                        }}
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0003 }}</div>
                      <div class="item">
                        <span>{{ FOrder_data.pol_dt | cDate: "HH:mm" }}</span>
                        {{ FOrder_data.pol_dt | cDate: "DD/MM/YYYY" }}
                        {{
                          FOrder_data.pol_dt && FOrder_data.pol_due_dt
                            ? "-"
                            : ""
                        }}
                        <div class="d-inline-block">
                          <span>{{
                            FOrder_data.pol_due_dt | cDate: "HH:mm"
                          }}</span>
                          {{ FOrder_data.pol_due_dt | cDate: "DD/MM/YYYY" }}
                        </div>
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0010 }}</div>
                      <div class="item">{{ FOrder_data.prod_pol_code_nm }}</div>
                    </div>
                    <!-- 機車加購 driver_amt 是 0 因此改用  passenger_amt 判斷  -->
                    <ng-template [ngIf]="FOrder_data.passenger_amt !== 0">
                      <div class="choose-content-detail">
                        <div class="choose-caption">{{ FLang.F012.L0004 }}</div>
                        <div class="item">
                          {{ FOrder_data.prod_pol_code_ap_nm }}
                        </div>
                      </div>
                      <div class="choose-content-detail">
                        <div class="choose-caption">{{ FLang.F012.L0005 }}</div>
                        <div class="item">
                          {{
                            FOrder_data.passenger_amt
                              | number: "":FLangType
                              | moneyUnit: FLangType
                          }}
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                  <!-- 汽車險明細表頭 -->
                  <ng-template #ly_car>
                    <!-- 車種 -->
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0036 }}</div>
                      <div class="item">
                        {{ FOrder_data.vehc_kd | pipePluType: "vkd" }}
                      </div>
                    </div>
                    <!-- 類型 -->
                    <div *ngIf="displayckd" class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0002 }}</div>
                      <div class="item">
                        {{ FOrder_data.car_pwr_kd | pipePluType: "ckd" }}
                      </div>
                    </div>
                    <!-- 座位數 -->
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0035 }}</div>
                      <div class="item">
                        {{ FOrder_data.max_capl }}
                      </div>
                    </div>
                    <!-- 保險期間 -->
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0003 }}</div>
                      <div class="item">
                        <span>{{ FOrder_data.pol_dt | cDate: "HH:mm" }}</span>
                        {{ FOrder_data.pol_dt | cDate: "DD/MM/YYYY" }}
                        {{
                          FOrder_data.pol_dt && FOrder_data.pol_due_dt
                            ? "-"
                            : ""
                        }}
                        <div class="d-inline-block">
                          <span>{{
                            FOrder_data.pol_due_dt | cDate: "HH:mm"
                          }}</span>
                          {{ FOrder_data.pol_due_dt | cDate: "DD/MM/YYYY" }}
                        </div>
                      </div>
                    </div>
                    <!-- 險種 -->
                    <div class="choose-content-detail">
                      <div class="choose-caption">{{ FLang.F012.L0010 }}</div>
                      <div class="item">
                        {{ FOrder_data.prod_pol_code_nm }}
                      </div>
                    </div>
                    <ng-template [ngIf]="FOrder_data.driver_amt !== 0">
                      <!-- 加購險種 -->
                      <div class="choose-content-detail">
                        <div class="choose-caption">{{ FLang.F012.L0004 }}</div>
                        <div class="item">
                          {{ FOrder_data.prod_pol_code_ap_nm }}
                        </div>
                      </div>
                      <!-- 乘客險保額 -->
                      <div class="choose-content-detail">
                        <div class="choose-caption">{{ FLang.F012.L0005 }}</div>
                        <div class="item">
                          {{
                            FOrder_data.driver_amt
                              | number: "":FLangType
                              | moneyUnit: FLangType
                          }}
                        </div>
                      </div>
                      <!-- 乘客險保障人數 -->
                      <div class="choose-content-detail">
                        <div class="choose-caption">{{ FLang.F012.L0037 }}</div>
                        <div class="item">
                          {{
                            FOrder_data.passenger_cnt + FOrder_data.driver_cnt
                          }}
                        </div>
                      </div>
                    </ng-template>
                  </ng-template>
                </div>
                <!-- 旅遊險表頭 -->
                <ng-template #travelHeader>
                  <div class="choose-content">
                    <div class="choose-content-detail">
                      <div class="choose-caption">
                        {{ FLang.F012.L0033_.s001 }}
                      </div>
                      <div class="item">{{ FOrder_data.tral_loc }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">
                        {{ FLang.F012.L0033_.s002 }}
                      </div>
                      <div class="item">
                        <span>{{ FOrder_data.pol_dt | cDate: "HH:mm" }}</span>
                        {{ FOrder_data.pol_dt | cDate: "DD/MM/YYYY" }}
                        -
                        <div class="d-inline-block">
                          <span>{{
                            FOrder_data.pol_due_dt | cDate: "HH:mm"
                          }}</span>
                          {{ FOrder_data.pol_due_dt | cDate: "DD/MM/YYYY" }}
                        </div>
                      </div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">
                        {{ FLang.F012.L0033_.s003 }}
                      </div>
                      <div class="item">{{ FInsr_data.length }}</div>
                    </div>
                    <div class="choose-content-detail">
                      <div class="choose-caption">
                        {{ FLang.F012.L0033_.s004 }}
                      </div>
                      <div class="item">{{ FOrder_data.prod_pol_code_nm }}</div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="bookmark wow fadeInUp">
                <div class="tab-row-content">
                  <div class="tab-item-box" id="accordionService">
                    <!-- 投保人資訊 -->
                    <app-tab-card
                      id="ServiceOne"
                      [groupName]="FLang.F012.L0006"
                    >
                      <div class="choose-content">
                        <app-tab-card-item [label]="FLang.F012.L0007">
                          {{ FPolicyholder_data.customer_name }}
                        </app-tab-card-item>
                        <app-tab-card-item label="ID">
                          {{ FPolicyholder_data.certificate_number }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0008">
                          {{
                            FPolicyholder_data.birthday | cDate: "DD/MM/YYYY"
                          }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0028">
                          {{
                            FPolicyholder_data.sex === "1"
                              ? FLang.F012.L0029
                              : FLang.F012.L0030
                          }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0009">
                          {{ FPolicyholder_data.mobile }}
                        </app-tab-card-item>
                        <app-tab-card-item label="E-mail">
                          {{ FPolicyholder_data.email }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0012">
                          {{ FPolicyholder_data.addr_show }}
                        </app-tab-card-item>
                      </div>
                    </app-tab-card>

                    <!-- 車輛登記資訊 -->
                    <app-tab-card
                      *ngIf="FVehicle_reginfo"
                      id="ServiceTwo"
                      [groupName]="FLang.F012.L0013"
                    >
                      <div class="choose-content">
                        <app-tab-card-item [label]="FLang.F012.L0014">
                          {{ FVehicle_reginfo.vehc_ownr }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0015">
                          {{ FVehicle_reginfo.rgst_no }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0016">
                          {{ FVehicle_reginfo.fram_no }}
                        </app-tab-card-item>
                        <app-tab-card-item [label]="FLang.F012.L0034">
                          {{ FVehicle_reginfo.engn_no }}
                        </app-tab-card-item>
                        <!-- <app-tab-card-item [label]="FLang.F012.L0017">
                          {{ FVehicle_reginfo.addr_show }}
                        </app-tab-card-item> -->
                      </div>
                    </app-tab-card>

                    <!-- 被保人 -->
                    <app-tab-card
                      *ngIf="FInsr_data && FInsr_data.length"
                      id="ServiceTwo"
                      [groupName]="FLang.F012.L0038"
                    >
                      <div class="service-inform-card">
                        <div
                          *ngFor="let item of FInsr_data; index as i"
                          class="choose-content"
                        >
                          <app-tab-card-item [label]="getInsuredId(i)">
                            {{ item.insr_name }}
                          </app-tab-card-item>
                          <app-tab-card-item label="ID">
                            {{ item.insr_cert_number }}
                          </app-tab-card-item>
                          <app-tab-card-item [label]="FLang.F012.L0008">
                            {{ item.insr_birthday | cDate: "DD/MM/YYYY" }}
                          </app-tab-card-item>
                          <app-tab-card-item [label]="FLang.F012.L0028">
                            {{
                              item.sex === "1"
                                ? FLang.F012.L0029
                                : FLang.F012.L0030
                            }}
                          </app-tab-card-item>
                        </div>
                      </div>
                    </app-tab-card>

                    <!-- 航班資訊 -->
                    <app-tab-card
                      *ngIf="FFlight_data && FFlight_data.length"
                      id="ServiceThree"
                      [groupName]="FLang.F012.L0039"
                    >
                      <div class="service-inform-card">
                        <div
                          *ngFor="let item of FFlight_data; index as i"
                          class="choose-content"
                        >
                          <app-tab-card-item
                            [label]="getFlightNoType(item.seq_no)"
                          >
                            {{ item.flight_no }}
                          </app-tab-card-item>
                          <app-tab-card-item [label]="FLang.F012.L0033_.s008">
                            {{ item.flight_date }}
                          </app-tab-card-item>
                          <app-tab-card-item [label]="FLang.F012.L0033_.s009">
                            {{ item.departure_airport }}
                          </app-tab-card-item>
                          <app-tab-card-item [label]="FLang.F012.L0033_.s010">
                            {{ item.arrival_airport }}
                          </app-tab-card-item>
                        </div>
                      </div>
                    </app-tab-card>

                    <!-- service-inform-card end-->
                  </div>
                </div>
              </div>
            </div>
            <!-- 付款區 -->
            <div class="add-box">
              <div class="title">{{ FLang.F012.L0018 }}</div>
              <div class="payment">
                <div
                  class="row no-gutters payment-row"
                  [style.margin-bottom]="
                    FPayNoError && paymentNumber < 0 ? '0' : '30px'
                  "
                >
                  <!-- <div class="col payment-box active"> -->
                  <div
                    class="col payment-box"
                    [class.active]="item.selected"
                    [class.status-error]="FPayNoError && paymentNumber < 0"
                    *ngFor="let item of FPayType; let i = index"
                    (click)="doTypeselect(i)"
                  >
                    <div class="payment-data">
                      <div class="payment-icon">
                        <i [class]="item.alias | paymentIcon"></i>
                        <i [class]="item.alias | paymentIcon: 'w'"></i>
                      </div>
                      <div>{{ item.name }}</div>
                    </div>
                  </div>
                </div>
                <small
                  class="form-text form-text-error"
                  [class.d-none]="!FPayNoError || paymentNumber >= 0"
                >
                  {{ FPayNoError }}
                </small>
              </div>
            </div>
            <!-- 閱讀條款 -->
            <div class="mx-0">
              <div class="payment">
                <div class="choose-box custom_text_align">
                  <input
                    type="checkbox"
                    class="big-checkbox"
                    name="gender"
                    [checked]="FReadme"
                    (click)="checkReadme()"
                  />
                  <label>
                    {{ FLang.F012.L0019 }}
                    <a
                      target="_blank"
                      class="px-0"
                      [href]="checkTermsUrl()"
                    >
                      {{ FLang.F012.L0020 }}</a
                    >,
                    <ng-template [ngIf]="IsCarAddBuy()">
                      <a
                        target="_blank"
                        class="px-0"
                        href="assets/pdf/Bao hiem tu nguyen xe o to.pdf"
                        >{{ FLang.C03.step2.L0043 }}</a
                      >,
                    </ng-template>
                    <ng-template [ngIf]="IsMotorAddBuy()">
                      <a
                        target="_blank"
                        class="px-0"
                        href="assets/pdf/Bao hiem tu nguyen xe may.pdf"
                        >{{ FLang.C04.step2.C0038 }}</a
                      >,
                    </ng-template>
                    <a
                      target="_blank"
                      class="px-0"
                      href="assets/pdf/Chính sách quyền riêng tư.pdf"
                    >
                      {{ FLang.F012.L0021 }}</a> {{ FLang.F012.L0040 }}
                    <a
                      target="_blank"
                      class="px-0"
                      href="assets/pdf/Chính sách bảo mật.pdf"
                    >
                      {{ FLang.F012.L0022 }}</a>. {{ FLang.F012.L0041 }}
                  </label>
                  <small
                    class="form-text form-text-error"
                    [class.d-none]="!FAgreeError || FReadme"
                  >{{ FAgreeError }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 合計區 -->
        <div class="container total-con-p">
          <div class="total-content fix-bottom">
            <div class="bg-white-block form-data total-from">
              <div class="total-link-left d-none d-md-block">
                <img
                  src="assets/img/online/img-link.png"
                  alt=""
                  srcset="assets/img/online/img-link@2x.png 2x"
                  class="img-fluid"
                />
              </div>
              <div class="total-link-right d-none d-md-block">
                <img
                  src="assets/img/online/img-link.png"
                  alt=""
                  srcset="assets/img/online/img-link@2x.png 2x"
                  class="img-fluid"
                />
              </div>
              <div class="total-box">
                <div class="total-img d-md-inline-block d-none">
                  <img
                    src="assets/img/auth_registersm3x.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="total-tit">{{ FLang.F012.L0023 }}</div>
                <div class="sum">{{ getTotPremWithVat() }}<span>đ</span></div>
              </div>
            </div>
            <div class="text-center">
              <a (click)="doInsuredSave()" class="btn btn-primary">
                {{ FLang.F012.L0024 }}
              </a>
            </div>
            <!-- [class.disabled]="!FReadme" -->
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<app-payment-fail (xAction)="onPaymentFailSubmit($event)"></app-payment-fail>
<!-- 支付 for IOS -->
<app-confirm
  [data]="FConfirm"
  (ActionEvent)="ActionYesNo($event)"
></app-confirm>
