<div
  class="modal fade notice"
  id="commitHint"
  tabindex="-1"
  aria-labelledby="ModalLabel-32"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content mb-20">
          <h5>{{ FLang.F05.F0046 }}</h5>
          <p [innerHtml]="FLang.F05.F0047"></p>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
              (click)="onConfirm()"
            >
              {{ FLang.F05.F0049 }}
            </button>
          </div>
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-white"
              data-target="#"
              (click)="onCancel()"
            >
              {{ FLang.F05.F0050 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
