<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-register.png"
              alt=""
              srcset="assets/img/img-bn-register@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-register-m.png"
              alt=""
              srcset="assets/img/img-bn-register-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- breadcrumb -->
      <app-breadcrumb></app-breadcrumb>
      <!-- breadcrumb -->
      <div class="caption">
        <div class="container">
          <h1>{{ FLang.B053.title.B0001 }}</h1>
        </div>
      </div>
      <section class="jobdetails mt-0">
        <div class="container remove-width">
          <div class="jobbox bg-white-block login-w">
            <form [formGroup]="group">
              <div class="advisory-content">
                <div class="adv-box-item">
                  <div
                    id="lyc_certificate_number"
                    class="form-group"
                    [class.status-error]="
                      controls.certificate_number.dirty &&
                      controls.certificate_number.touched &&
                      controls.certificate_number.invalid
                    "
                  >
                    <label>{{ FLang.B053.content.B0001 }}</label>
                    <div class="from-row">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{
                          FLang.PH.enter.F0001 + FLang.PH.enter.F0001_.FS001
                        }}"
                        formControlName="certificate_number"
                        [value]="FCertificate_number ? FCertificate_number : ''"
                        appLimitInput
                        [replace]="'number'"
                      />
                      <i
                        class="icons-ic-form-del i-icon"
                        (click)="controls.certificate_number.setValue('')"
                      ></i>
                    </div>
                    <small
                      class="form-text"
                      [class.d-none]="
                        !controls.certificate_number.dirty ||
                        controls.certificate_number.untouched ||
                        controls.certificate_number.valid
                      "
                    >
                      {{ getErrors(controls.certificate_number) }}</small
                    >
                    <!-- 若是錯誤訊息在 form-group 後面加上 status-error -->
                  </div>
                  <div class="text-center robot">
                    <!-- google reCAPTCHA -->
                    <div
                      id="recaptchaClient"
                      class="g-recaptcha"
                      data-sitekey="66Lcru8YaAAAAAI3JMOgwk2BR1YtECpzt_jSolLZW"
                    ></div>
                    <!-- google reCAPTCHA -->
                  </div>
                </div>
                <div class="text-center mb-4">
                  <a class="btn btn-primary" (click)="checkId()">
                    {{ FLang.B053.content.B0003 }}
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
  <app-third-bind
    [googleStatusPOP]="googleStatusPOP"
    [facebookStatusPOP]="facebookStatusPOP"
  ></app-third-bind>
</div>
