<!-- ins-life  -->
<main>
  <div class="com-content">
    <!-- banner  -->
    <section class="banner">
      <div class="container">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol *ngIf="carouselAmount > 1" class="carousel-indicators">
            <li
              *ngFor="let item of carouselImg; index as i"
              data-target="#carouselExampleIndicators"
              [attr.data-slide-to]="dataSlide(i)"
              [ngClass]="{ active: i === 0 }"
            ></li>
          </ol>
          <div class="carousel-inner">
            <ng-container *ngIf="carouselImg.length > 0">
              <div
                [ngClass]="classActive(i)"
                *ngFor="let item of carouselImg; index as i"
              >
                <div class="bg-img lg-img">
                  <img
                    width="1200"
                    height="450"
                    loading="lazy"
                    [src]="item.url"
                    alt="Phi Nhân Thọ Cathay Việt Nam-banner 111"
                  />
                </div>
                <div class="bg-img md-img">
                  <img
                    width="800"
                    height="470"
                    loading="lazy"
                    [src]="item.url"
                    alt="Phi Nhân Thọ Cathay Việt Nam-banner 222"
                  />
                </div>
                <div class="bg-img sm-img">
                  <img
                    width="650"
                    loading="lazy"
                    [src]="item.url"
                    alt="Phi Nhân Thọ Cathay Việt Nam-banner 333"
                  />
                </div>
              </div>
            </ng-container>
          </div>
          <ng-template [ngIf]="carouselAmount > 1">
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </ng-template>
        </div>
      </div>
    </section>
    <!-- banner end  -->

    <section class="sectLg">
      <div class="title">{{ FLang.A04.L0035 }}</div>
      <div class="ins-life">
        <div class="container">
          <div class="ins-item">
            <div
              [ngClass]="dialogueClassStyle(i)"
              [attr.data-wow-delay]="item.time"
              *ngFor="let item of dialogueList; index as i"
            >
              <div [ngClass]="classBg(i)">
                {{ item.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sectLg">
      <div class="title">{{ FLang.A04.L0024 }}</div>
      <div class="ins-item">
        <div class="container">
          <div
            class="row item-row"
            *ngFor="let item of introductionList; index as i"
          >
            <div [ngClass]="introductionClassStyle(i)">
              <img
                loading="lazy"
                [src]="item.defaultImg"
                alt="Phi Nhân Thọ Cathay"
                [srcset]="item.defaultSrcset"
                class="img-fluid d-none d-md-inline-block"
              />
              <img
                loading="lazy"
                [src]="item.activeImg"
                alt="Bảo hiểm online"
                [srcset]="item.activeSrcset"
                class="img-fluid d-md-none"
              />
            </div>
            <div [ngClass]="classCss(i)" data-wow-delay=".5s">
              <div class="item">
                <h2>{{ item.bTitle }}</h2>
                <!-- <p>
                {{ item.description }}
              </p> -->
                <!-- {{ item.content | json }} -->
                <ul>
                  <li
                    class="custom_text_align"
                    *ngFor="let content of item.content"
                  >
                    <h3>{{ content.title }}</h3>
                    <p>{{ content.content }}</p>
                  </li>
                </ul>
                <div class="text-center text-lg-left">
                  <a [routerLink]="item.link" class="btn btn-primary">
                    {{ FLang.A04.L0025 }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="more-ins">
      <div class="more-ins-title wow fadeInUp">
        <div class="more-ins-title-box">
          <div class="more-title" [innerHTML]="FLang.A04.L0002_.s005"></div>
          <h2 [innerHtml]="FLang.A04.L0026"></h2>
        </div>
      </div>
      <!-- ins-service -->
      <div class="navtab wow fadeInUp">
        <div class="variable slider">
          <div *ngFor="let item of slickItems; let i = index">
            <a class="nav-link active" [routerLink]="item.url">
              <div class="slider-card custom_text_align">
                <div class="text-center">
                  <img
                    loading="lazy"
                    [src]="item.img"
                    alt="Phi Nhân Thọ Cathay Việt Nam-ins-service"
                  />
                </div>
                <h2 [innerHTML]="item.title"></h2>
                <p>{{ item.content }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- ins-service -->
    </section>

    <section class="sectLg">
      <div class="title">{{ FLang.A04.L0003 }}</div>
      <div class="ins-service">
        <div class="container remove-width">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <h2 class="d-lg-none text-center m-title">
                {{ FLang.A04.L0027 }}
              </h2>
              <div class="ins-service-img">
                <img
                  loading="lazy"
                  src="assets/img/img-index-member.png"
                  alt="Dịch Vụ Khách Hàng-2x"
                  srcset="assets/img/img-index-member@2x.png 2x"
                  class="img-fluid d-none d-md-block"
                />
                <img
                  loading="lazy"
                  src="assets/img/img-index-member-m.png"
                  alt="Dịch Vụ Khách Hàng-2x-m"
                  srcset="assets/img/img-index-member-m@2x.png 2x"
                  class="img-fluid d-md-none"
                />
                <div class="ins-ser-ball one wow fadeIn" data-wow-delay="1.2s">
                  <img
                    loading="lazy"
                    src="assets/img/img-bubble-02@2x.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="ins-ser-ball two wow fadeIn" data-wow-delay=".5s">
                  <img
                    loading="lazy"
                    src="assets/img/img-bubble-01@2x.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="ins-ser-ball three wow fadeIn" data-wow-delay="1s">
                  <img
                    loading="lazy"
                    src="assets/img/img-bubble-03@2x.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="ins-ser-ball four wow fadeIn" data-wow-delay=".5s">
                  <img
                    loading="lazy"
                    src="assets/img/img-bubble-01@2x.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="ins-ser-ball five wow fadeIn" data-wow-delay=".9s">
                  <img
                    loading="lazy"
                    src="assets/img/img-bubble-03@2x.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="ins-ser-ball six wow fadeIn" data-wow-delay="1s">
                  <img
                    loading="lazy"
                    src="assets/img/img-bubble-01@2x.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-12 col-lg-6 ins-ser-bg align-self-center"
            >
              <div class="ins-service-item wow fadeInUp" data-wow-delay=".1s">
                <h2 class="d-none d-lg-block">{{ FLang.A04.L0027 }}</h2>
                <div class="ins-ser-box custom_text_align">
                  <ul>
                    <li>
                      <h3>{{ FLang.A04.L0032 }}</h3>
                      <p>{{ FLang.A04.L0029 }}</p>
                    </li>
                    <li>
                      <h3>{{ FLang.A04.L0033 }}</h3>
                      <p>{{ FLang.A04.L0030 }}</p>
                    </li>
                    <li>
                      <h3>{{ FLang.A04.L0034 }}</h3>
                      <p>{{ FLang.A04.L0031 }}</p>
                    </li>
                  </ul>
                  <div class="ins-ser-line">
                    <img
                      src="assets/img/ic-index-line.png"
                      srcset="assets/img/ic-index-line@2x.png 2x"
                      class="d-none d-lg-block"
                      alt=""
                    />
                    <img
                      src="assets/img/ic-index-line-m.png"
                      srcset="assets/img/ic-index-line-m@2x.png 2x"
                      class="d-lg-none"
                      alt=""
                    />
                  </div>
                </div>
                <div class="text-center">
                  <a routerLink="member" class="btn btn-primary">
                    {{ FLang.A04.L0028 }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sectLg" id="pick-three">
      <div class="title">
        {{ FLang.A04.L0037
        }}<span [innerHTML]="FLang.A04.L0038" class="d-inline-block">}</span>
      </div>
      <div class="ins-value text-center">
        <div class="container">
          <div class="ins-value-box wow fadeIn" data-wow-delay=".05s">
            <div class="row">
              <div
                class="col-sm-12 col-md-4"
                *ngFor="let content of numberCountList; index as i"
              >
                <div class="number">
                  <span
                    [id]="idTag(i)"
                    class="count-item number"
                    [attr.data-endVal]="content.total"
                  >
                    {{ content.total }}
                  </span>
                  <span>+</span>
                  <p>{{ content.title }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
