<!-- 收不到otp驗證碼 聯絡客服 -->
<div
  class="modal fade notice"
  id="popContactService"
  tabindex="-1"
  aria-labelledby="popContactService"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content mb-20">
          <h5>{{ title }}</h5>
          <p>
            {{ infoOne }}<br />
            {{ infoTwo }}
          </p>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
            >
              {{ FLang.B014A.content.B0019 }}
            </button>
          </div>
          <div class="col-12 text-center">
            <a
              href="tel:0933555920"
              type="button"
              class="btn btn-white"
              data-target="#"
            >
              {{ FLang.B014A.content.B0020 }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
