.form-text {
  color: #f9556f;
}

.disabled {
  pointer-events: none;
}

.select-search .btn.disabled {
  background-color: #f2f1f0;
}

.status-error-extend {
  border: 2px solid #f9556f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
