/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/style.scss";

/** 呼叫 API 未完成阻止連點 */
body.noClick {
  .api-btn,
  .btn,
  a,
  button:not(.swal2-confirm),
  button:not(.swal2-cancel) {
    pointer-events: none !important;
  }
}
