<section class="service-insurance-all">
  <div class="container remove-width">
    <div class="service-insurance service-ins-bg">
      <div class="service-top">
        <div class="justify-content-start mr-auto">
          <div>
            <span class="insurance-word">
              {{ FLang.F001.L0007 }}
            </span>

            <span>{{ FCount }}</span>

            <span class="insurance-word" *ngIf="FCount <= 1">
              {{ FLang.F001.L0008 }}
            </span>
            <span class="insurance-word" *ngIf="FCount > 1">
              {{ FLang.F001.L0026 }}
            </span>
          </div>
        </div>
        <div>
          <a routerLink="/member/my-policy">{{ FLang.F001.L0009 }}</a>
        </div>
      </div>
      <div class="service-ins-box">
        <div class="row justify-content-center text-center no-gutters">
          <div
            class="col-4 col-md-4 col-lg-3 service-ins-row"
            *ngFor="let item of FCardList"
          >
            <a (click)="goMyPolicy(item.tag)">
              <div class="service-ins-kind">
                <img
                  [src]="item.img"
                  alt=""
                  [srcset]="item.srcset"
                  class="img-fluid d-none d-md-inline-block"
                />
                <div class="position-relative">
                  <img
                    [src]="item.mobileImg"
                    alt=""
                    [srcset]="item.mobileSrcset"
                    class="img-fluid d-md-none"
                  />
                  <div [ngClass]="styleCss(item.number, 'd-md-none position-absolute')">{{ item.number }}</div>
                </div>
                <div class="service-ins-item">
                  <div
                    class="d-inline-block change-block"
                    [innerHtml]="item.title"
                  ></div>
                  <div [ngClass]="styleCss(item.number, 'd-none d-md-inline-block')">{{ item.number }}</div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <hr />
        <div class="service-ins-btn">
          <!-- 按鈕一顆時 -->
          <div *ngIf="FPolicy === 'Y'" class="text-center">
            <a class="btn btn-primary" (click)="goCLife()">
              {{ FLang.F001.L0013 }}
            </a>
          </div>
          <!-- 按鈕一顆時 end-->
          <!-- 按鈕二顆時使用時可把d-none拿掉 -->
          <div *ngIf="FPolicy === 'N'" class="row no-gutters btn-order">
            <div class="col-md-6">
              <div class="text-center">
                <a class="btn btn-primary word-break" (click)="goVerify()">
                  {{ FLang.F001.L0014 }}
                </a>
              </div>
            </div>
            <div class="col-md-6 order-md-first">
              <div class="text-center">
                <a class="btn btn-white word-break" (click)="goCLife()">
                  {{ FLang.F001.L0013 }}
                </a>
              </div>
            </div>
          </div>
          <!-- 按鈕二顆時 end -->
        </div>
      </div>
    </div>
  </div>
</section>
