<!-- travel above -->
<div class="commodity com-introduce">
  <h1 class="text-center">
    {{ childItems.title }}
  </h1>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="com-img">
        <div class="com-img-box">
          <img
            [src]="childItems.img"
            alt=""
            [srcset]="childItems.srcset"
            class="img-fluid"
          />
          <ul class="tab filter">
            <li
              *ngFor="let icon of childItems.icons; index as i"
              [ngClass]="cssClassNumber(i)"
            >
              <a [attr.data-filter-type]="dataFilterNumber(i)" role="button">
                <img
                  [src]="icon.defaultImg"
                  alt=""
                  [srcset]="icon.defaultSrcset"
                  class="i-default"
                  (click)="clickStyle(i)"
                />
                <img
                  [src]="icon.activeImg"
                  alt=""
                  [srcset]="icon.activeSrcset"
                  class="i-active"
                  (click)="clickStyle(i)"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 order-lg-first">
      <div
        [attr.data-filter-content]="dataFilterNumber(i)"
        *ngFor="let content of childItems.content; index as i"
        [ngClass]="{ 'd-none': activeIndex !== i }"
      >
        <h2>{{ content.title }}</h2>
        <p class="custom_text_align">
          {{ content.directions }}
        </p>
        <div class="com-detail">
          <p>
            {{ content.tag }}
          </p>
          <div class="text-right">
            <span
              class="almost"
              *ngIf="
                content.title === FLang.D03.N0006 ||
                  content.title === FLang.D03.N0013;
                else almost
              "
            ></span>
            <ng-template #almost>
              <span class="almost">{{ FLang.D03.N0076 }} </span>
            </ng-template>

            <span>{{ content.money }}</span>
            {{ FLang.D03.N0077 }}
          </div>
          <div class="ins-ser-line">
            <img
              src="assets/img/ic-orange-line.png"
              alt=""
              srcset="assets/img/ic-orange-line@2x.png 2x"
              class="d-none d-lg-block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
