<!-- <div
  class="modal fade"
  id="Modal-02"
  tabindex="-1"
  aria-labelledby="ModalLabel-02"
  aria-hidden="true"
> -->
<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title">{{ FLang.L0001 }}</h3>
      <i
        class="icons-ic-popup-close i-icon close"
        data-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
    <div class="modal-body modal-title-20">
      <h3 class="modal-body-title">{{ FLang.L0002 }}</h3>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0003 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0004 }}</h4>
          </div>
        </div>
        <div
          class="detail-card-content custom_text_align"
          [innerHtml]="FLang.L0005"
        ></div>
      </div>

      <!-- <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0006 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0007 }}</h4>
          </div>
        </div>
        <div class="detail-card-content">
          {{ FLang.L0008 }}
        </div>
      </div> -->

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0009 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0010 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0011 }}
        </div>
        <div class="row detail-card-subtitle align-items-center">
          <div class="col-7 px-0">
            <h4 class="title-left">{{ FLang.L0012 }}</h4>
          </div>
          <div class="col-5 px-0">
            <h4 class="title-right">{{ FLang.L0013 }}</h4>
          </div>
        </div>
        <div class="row detail-card-subcontent align-items-center">
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.L0014 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.L0015 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.L0016 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.L0017 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.L0018 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.L0019 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.L0020 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.L0021 }}</span>
          </div>
          <div class="col-10 px-0">
            <span class="title-left">{{ FLang.L0022 }}</span>
          </div>
          <div class="col-2 px-0">
            <span class="title-right">{{ FLang.L0023 }}</span>
          </div>
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-start">
          <div class="col-8 px-0">
            <h4 class="title-left">
              {{ FLang.L0024 }}
            </h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0025 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0026 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0027 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0028 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0029 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0030 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0031 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0032 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0033 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0034 }}</h4>
          </div>
        </div>
        <div
          class="detail-card-content custom_text_align"
          [innerHTML]="FLang.L0035"
        ></div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0036 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0037 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0038 }}
        </div>
      </div>

      <div class="detail-card">
        <div class="row detail-card-title align-items-center">
          <div class="col-8 px-0">
            <h4 class="title-left">{{ FLang.L0039 }}</h4>
          </div>
          <div class="col-4 px-0">
            <h4 class="title-right">{{ FLang.L0040 }}</h4>
          </div>
        </div>
        <div class="detail-card-content custom_text_align">
          {{ FLang.L0041 }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
