.teaching-phone {
  margin-bottom: 80px;
}

.boi-step-content {
  width: calc(100% - 46px);
}

.com-detail.com-detail-type ul li .price {
  min-width: 286px;
  padding-right: 5px;
}
.teaching-phone .title span {
  font-size: 3.25rem;
}
.commodity {
  padding: 80px 70px;
}

.program {
  .program-row {
    .pro-item {
      text-align: left;
    }
  }
}

.down-outer {
  margin-left: 170px;
  margin-top: 38px;
}

.bookmark .tab-pane.bg-commodity .down-dots ul {
  bottom: -95px;
}

@media (max-width: 991.98px) {
  .about-cathay {
    padding: 0px 20px;
  }

  .bookmark {
    .input-search {
      margin-top: 0px;
    }
  }
}

@media (max-width: 767.98px) {
  .about-cathay {
    padding: 0px 10px;
  }
  .bookmark {
    .input-search {
      margin-top: 30px;
    }
    .tab-mob-scroll {
      // Firefox
      overflow: hidden;
      ul {
        &.labels {
          margin-bottom: -16px;
          overflow-x: scroll;
          overflow-y: hidden;
          height: calc(100% + 18px);
          // IE
          -ms-overflow-style: none;
          // Chrome
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
  .commodity {
    padding: 50px 20px 50px;
  }

  .recom .recom-row .price span {
    line-height: 1.25rem;
  }

  .recom .recom-row .details {
    width: 65%;
  }

  .range .table-compare .compare-price-box .compare-price {
    padding: 0 0 3px 0;
  }

  .down-outer {
    margin-left: auto;
  }

  .teaching-phone .title span {
    font-size: 2rem;
  }
}

@media (min-width: 767.98px) {
  .jobdetails {
    .jobbox {
      .TableCell,
      .TableHead {
        padding: 0px 15px 30px;
      }
    }
  }
}

@media (max-width: 375px) {
  .commodity .com-img .com-img-box ul li {
    margin: 0px 6px;
  }
  .commodity .com-img .com-img-box ul li:first-child {
    margin-left: 0px;
  }
  .commodity .com-img .com-img-box ul li:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 767.98px) {
  .guarantee-mob .slick-dots {
    bottom: -90px;
  }
}
