.white-space-nowrap {
  white-space: nowrap;
}

.white-space-normal {
  white-space: normal;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

// 文字保持在同一行
.keep-same-line {
  display: inline-block;
  white-space: nowrap;
}

.enable-list-style-type {
  padding-left: 18px;

  ol {
    padding-left: 19px;
  }
}

.disable-list-style-type {
  padding-left: 0px;
  list-style-type: none;
}

// 文字簡化成 2 行
.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// 輸入框樣式調整
input.form-control {
  line-height: 40px;
}

// 齊尾用 class
body.vi-VN .custom_text_align {
  -ms-flex-align: justify !important;
  text-align: justify !important;
  text-justify: inter-ideograph !important;
}

.travel-guarantee .table-compare .compare-item .compare-title {
  padding: 15px 25px 15px 20px;

  @media (min-width: 801px) and(max-width: 850.99px) {
    padding-right: 20px;
  }

  @media (min-width: 851px) and(max-width: 880.99px) {
    padding-right: 15px;
  }

  @media (min-width: 881px) and(max-width: 920.99px) {
    padding-right: 30px;
  }

  @media (min-width: 921px) and(max-width: 960.99px) {
    padding-right: 25px;
  }

  @media (min-width: 961px) and (max-width: 991.99px) {
    padding-right: 20px;
  }

  @media (min-width: 992px) and (max-width: 1020.99px) {
    padding-right: 50px;
  }

  @media (min-width: 1021px) and (max-width: 1080.99px) {
    padding-right: 45px;
  }

  @media (min-width: 1081px) and (max-width: 1200.99px) {
    padding-right: 30px;
  }

  @media (min-width: 1121px) and (max-width: 1140.99px) {
    padding-right: 25px;
  }

  @media (min-width: 1141px) and (max-width: 1160.99px) {
    padding-right: 20px;
  }

  @media (min-width: 1161px) and (max-width: 1179.99px) {
    padding-right: 15px;
  }

  @media (min-width: 1180px) and (max-width: 1199.99px) {
    padding-right: 4px;
  }

  @media (min-width: 1200px) {
    padding-right: 40px;
  }
}

@media (max-width: 991.98px) {
  .com-content {
    padding-top: 54px;
  }
}

@media (max-width: 767.98px) {
  // 頁面上方標題間距調整
  .com-content {
    .caption:not(.caption-login, .caption-my-order, .caption-search, .onl-top) {
      margin-bottom: 95px;

      .container h1 {
        min-height: 100px;
        margin-bottom: 0;
      }
    }

    > section {
      &.about-top,
      &.service-inform-guarantee,
      &.service-member-box,
      &.joblist,
      &.jobdetails,
      &.service-inform-frame {
        margin-top: 0;
      }
    }
  }

  // 我的訂單
  .com-content .caption.caption-my-order {
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .label,
  a.label:link {
    padding: 2px 7px;
  }
}
