@media (max-width: 991.98px) {
  header .header-top {
    border-bottom: none;
    box-shadow: 0 3px 4px 0 rgb(174 182 189 / 48%);
  }
}


.alert-show-trans {
  margin-top: 46px;
}

@media (max-width: 767.98px) {
  // 上方最新消息出現時內容往下推
  .alert-show-trans {
    margin-top: 46px;
    height: calc(100% - 46px);
  }
}
