.comm {
  font-weight: unset;
  text-decoration: underline;
}
.total-from {
  .total-box {
    white-space: nowrap;
    .sum {
      margin-left: min(45px, 2vw);
    }
  }
}

@media (max-width: 767.98px) {
  .payment {
    .payment-row {
      flex-direction: column;

      .payment-box {
        display: flex;
        margin: 0 6px;
        align-items: center;

        .payment-data {
          display: flex;
          margin: 0 auto;
          white-space: nowrap;
          overflow: visible;

          .payment-icon {
            margin: 0;
            margin-right: 8px;
          }
        }

        &:first-child,
        &:last-child {
          margin: 0 6px;
        }
      }
    }
  }

  div.col.payment-box {
    & + & {
      margin-top: 0.75rem;
    }
  }

  .total-from {
    .total-box {
      display: block;
      .sum {
        margin-left: 0;
      }
    }
  }
}
