.modal {
  .modal-content {
    .modal-body {
      padding: 30px 20px 30px 20px;
    }
  }
}


// 針對 modal 18 處理
.modal-content {
  .modal-header {
    .modal-title {
      padding: 0px 35px 0px 15px;
    }
  }
}
