<ul
  class="nav nav-pills changeListBg second-tab commodity-tab"
  id="commodity-tab"
  role="tablist"
>
  <li class="nav-item">
    <a
      class="nav-link active"
      id="commodity1-tab"
      data-toggle="pill"
      href="#commodity-one"
      role="tab"
      aria-controls="commodity-one"
      aria-selected="true"
      (click)="tagUrl(1)"
      >{{ FLang.D03.N0001 }}</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="commodity2-tab"
      data-toggle="pill"
      href="#commodity-two"
      role="tab"
      aria-controls="commodity-two"
      aria-selected="false"
      (click)="tagUrl(2)"
      >{{ FLang.D03.N0002 }}</a
    >
  </li>
</ul>
