<div class="tab-content" id="commodity-tabContent">
  <!-- travel Inside-->
  <div
    [id]="idClass(i)"
    role="tabpanel"
    [attr.aria-labelledby]="ariaNumber(i)"
    [ngClass]="cssClass(i)"
    *ngFor="let item of items; index as i"
  >
    <!-- commodity -->
    <app-commodity [childItems]="item"></app-commodity>
    <!-- commodity -->
    <!-- guarantee -->
    <app-guarantee
      [pageData]="pageData"
      [status]="i"
      (xchooseComponentChange)="xchooseComponentChange.emit($event)"
    ></app-guarantee>
    <!-- guarantee -->
  </div>
</div>
