<div class="height-content">
  <main>
    <div class="com-content">
      <div class="topbg">
        <div class="topbg-box topbg-login">
          <div class="top-bg-story">
            <img
              src="assets/img/img-bn-register.png"
              alt=""
              srcset="assets/img/img-bn-register@2x.png 2x"
              class="img-fluid d-none d-md-block"
            />
            <img
              src="assets/img/img-bn-insure-m.png"
              alt=""
              srcset="assets/img/img-bn-insure-m@2x.png 2x"
              class="img-fluid d-md-none"
            />
          </div>
          <div class="top-bg-scrap d-none d-md-block">
            <img
              src="assets/img/img-banner-shape.png"
              alt=""
              srcset="assets/img/img-banner-shape@2x.png 2x"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- breadcrumbs -->
      <app-breadcrumb></app-breadcrumb>
      <!-- breadcrumbs -->
      <div class="caption caption-login">
        <div class="container">
          <h1>{{ FLang.B041A.title.B0001 }}</h1>
        </div>
      </div>
      <app-login
        (xforgetPassword)="goFindAccount()"
        (xRegister)="goRegister($event)"
        [xPop]="false"
      ></app-login>
    </div>
  </main>
</div>

<div
  class="modal fade notice"
  id="Modal-13"
  tabindex="-1"
  aria-labelledby="ModalLabel-13"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content modal-white">
      <div class="modal-header text-center">
        <i
          class="icons-ic-popup-close-b i-icon close d-none"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <div class="modal-body-img">
          <i class="icons-ic-status-error i-icon"></i>
        </div>

        <div class="modal-body-content">
          <h5>{{ FLang.B041A.content.B0012 }}</h5>
          <p>{{ FLang.B041A.content.B0013 }}</p>
        </div>

        <div class="row mt-10px">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="goFindAccount()"
            >
              {{ FLang.B041A.content.B0014 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
