<div class="tab-card">
  <div
    [attr.id]="id"
    class="tab-link collapsed"
    data-toggle="collapse"
    aria-expanded="false"
    [attr.data-target]="collapseTarget"
    [attr.aria-controls]="collapseId"
  >
    <div class="tab-title d-flex">
      <h4>{{ groupName }}</h4>
      <i class="icons-ic-collapse-minus i-icon i-up"></i>
      <i class="icons-ic-collapse-plus i-icon i-down"></i>
    </div>
  </div>
  <div
    [attr.id]="collapseId"
    class="collapse"
    [attr.aria-labelledby]="id"
    data-parent="#accordionService"
  >
    <div class="service-inform-card">
      <ng-content></ng-content>
    </div>
  </div>
</div>
